
.accounts.sidebar-header {
  min-height: 0px;
  padding: ($bar-height / 4) ($bar-height / 2) ($bar-height / 4);

  @include md {
    padding: ($md-bar-height / 4) ($md-bar-height / 2) ($md-bar-height / 4);
  }

  @include sm {
    padding: ($sm-bar-height / 4) ($md-bar-height / 3) ($md-bar-height / 4);
  }
}
