
.accounts-sidebar-header {
  min-height: 0;
  padding: ($bar-height / 4) ($bar-height / 2) ($bar-height / 4); // sass-lint:disable-line shorthand-values

  @include md {
    padding: ($md-bar-height / 4) ($md-bar-height / 2) ($md-bar-height / 4); // sass-lint:disable-line shorthand-values
  }

  @include sm {
    padding: ($sm-bar-height / 4) ($md-bar-height / 3) ($md-bar-height / 4);
  }

  .dropdown {
    width: 100%;
  }

  h3,
  p {
    margin-bottom: 2px;
  }

  button {
    width: 100%;
  }
}
