// Action Modal
// ============

$bg-modal:     #0a5b7a;
$dt-bg-footer: #064961;

.action-modal {
  width: $action-modal-width;

  @include md {
    width: $md-action-modal-width;
  }

  .modal-content {

    .dark-theme & {
      color: $white;
      background: $bg-modal;
      background-size: 100%;

      a {
        color: $dt-text-color;

        &:hover {
          color: rgba($white, 0.9);
        }
      }
    }

    .light-theme & {
      color: $lt-text-color;
      background-color: $white;
      background-size: 100%;

      a {
        color: $lt-text-color;

        &.active {
          color: $white;
        }

        &:hover {
          color: rgba($black, 0.4);
        }
      }
    }
  }

  .modal-body {
    max-height: 600px;
    padding: 50px;
    overflow: auto;

    h2 {
      margin-bottom: 40px;
    }
  }

  .modal-footer {
    padding: 25px 50px;
    border: 0;

    .dark-theme & {
      background: $dt-bg-footer;
    }

    .light-theme & {
      background: $silver-40;
    }
  }

  .close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
