// Confirmation
// ============
$confirmation-slider-min-height-lg: 25px;
$confirmation-slider-min-height-sm: 60px;
$confirmation-slider-padding-top-lg: 5px;
$confirmation-slider-padding-top-sm: 12px;

.confirmation-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: ($btn-height / 4) ($btn-height / 3) ($btn-height / 4) ($btn-height / 2);

  @include md {
    padding: ($md-btn-height / 4) ($md-btn-height / 3) ($md-btn-height / 4) ($md-btn-height / 2);
  }

  .dark-theme & {
    color: $dt-text-color;
    background-color: $purple;
  }

  .light-theme & {
    color: $white;
    background-color: $purple;
  }

  .confirmation-content {
    display: inline-block;
  }

  .btn-toolbar {
    display: inline-block;
    margin-left: $btn-height / 2;
    vertical-align: middle;

    @include md {
      margin-left: $md-btn-height / 2;
    }

    .btn-danger {
      background-color: $btn-danger-background;
    }
  }

  padding-bottom: 0;

  @media (min-width: $screen-lg-min) {
    min-height: $confirmation-slider-min-height-lg;
    padding-top: $confirmation-slider-padding-top-lg;
  }

  @include md {
    min-height: $confirmation-slider-min-height-sm;
    padding-top: $confirmation-slider-padding-top-sm;
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    min-height: $confirmation-slider-min-height-sm;
    padding-top: $confirmation-slider-padding-top-sm;
  }
}
