// Content Item Chart
// ==================

.content-item-grid {
  text-align: center;

  .grid-item {
    display: inline-block;
    margin: 2%;
    vertical-align: middle;

    @include md {
      margin: -40px;
    }
  }
}

// scss-lint:disable SelectorDepth
.content-item-chart {
  position: relative;
  cursor: pointer;
  border-radius: 50%;

  @include md {
    transform: scale(0.75);
  }

  &:hover {

    .glow {
      opacity: 0.2;
    }

    .content-item-toolbar .invisible {
      opacity: 1;
      visibility: visible;
      transition: opacity 250ms;
    }
  }

  .content-item-chart-link {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    border-radius: 50%;
  }

  .circle-base {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;

    .dark-theme & {
      background-color: $black;
    }

    .light-theme & {
      background-color: $pale-blue;
    }
  }

  .circle-gradient {
    width: 100%;
    height: 100%;
    border: 10px solid;
    border-radius: 50%;
    opacity: 0.3;
    transition: opacity 250ms;

    .dark-theme & {
      background: linear-gradient($pale-blue, rgba($white, 0.3));
      background-position: center center;
      background-size: 100%;
      border-color: $black;
    }

    .light-theme & {
      border-color: rgba($white, 0.75);
    }
  }

  .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.1;
    transition: opacity 250ms;

    .dark-theme & {
      background-color: $pale-blue;
    }

    .light-theme & {
      background-color: $white;
    }
  }

  .content-item-chart-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &.difference-arc {
      fill: transparent;
    }

    .dark-theme &,
    .light-theme & {

      .below-avg {
        fill: $green;
      }

      .above-avg {
        fill: $purple;
      }
    }

    .dark-theme & .avg {
      fill: $pale-blue;
    }

    .light-theme & .avg {
      fill: rgba($white, 0.5);
    }
  }

  .primary-data .content-item-chart-line {
    stroke-width: 1.5;

    .dark-theme & {
      stroke: $pale-blue;
      fill: $pale-blue;
    }

    .light-theme  & {
      stroke: $white;
      fill: $white;
    }
  }

  .secondary-data .content-item-chart-line {
    stroke: transparent;

    .dark-theme &,
    .light-theme & {
      fill: rgba($pale-blue, 0.2);
    }
  }

  .text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    .light-theme & {
      color: $white;
    }

    .content-item-text-bold {
      font-weight: bold;
    }

    .content-item-text-sm {
      font-size: 16px;
    }
  }

  .content-item-traffic {
    position: absolute;
    top: 13%;
    width: 100%;
    font-size: 24px;
  }

  .content-item-text-centered {
    position: absolute;
    top: 53%;
    width: 100%;
    transform: translateY(-50%);
  }

  .content-item-chart-name {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1em;
  }

  .content-item-toolbar {
    position: absolute;
    left: 50%;
    margin-bottom: 10%;
    transform: translateX(-50%);
  }
}
