// Configuration Sidebar
// =====================

.configuration-sidebar-container {
  position: fixed;
  top: 0;
  right: -$configuration-sidebar-width;
  bottom: 0;
  z-index: 1080;
  width: 0;
  transition: right 700ms ease;

  .show-configuration-sidebar & {
    right: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.configuration-sidebar {
  float: right;
  width: $configuration-sidebar-width;
  overflow: auto;
  background-color: $black;
  background-image: linear-gradient(rgba($pale-blue, 0.7),
    rgba($ericsson-dark-blue, 0.7));
  background-size: 100%;

  .configuration-sidebar-header {
    height: 250px;
    padding: 60px 80px 0;
    background: rgba($pale-blue, 0.2);
  }

  .configuration-sidebar-body {
    padding: 70px 80px;
  }
}
