// Content Item Chart
// ==================

.content-item-grid {
  text-align: center;

  .grid-item {
    display: inline-block;
    margin: 2%;
    vertical-align: middle;

    @include md {
      margin: -40px;
    }
  }
}

// scss-lint:disable SelectorDepth
.content-item-chart {
  position: relative;
  cursor: pointer;
  border-radius: 50%;

  @include md {
    transform: scale(0.75);
  }

  &:hover {

    .content-item-toolbar .invisible {
      opacity: 1;
      visibility: visible;
      transition: opacity 250ms;
    }
  }

  .content-item-chart-link {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    border-radius: 50%;
  }

  .circle-base {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;

    .dark-theme &,
    .light-theme & {
      background-color: $black;
    }
  }

  .circle-gradient {
    width: 100%;
    height: 100%;
    border: 10px solid;
    border-radius: 50%;
    opacity: 0.3;
    transition: opacity 250ms;

    .dark-theme &,
    .light-theme & {
      background: linear-gradient($pale-blue, rgba($white, 0.3));
      background-position: center center;
      background-size: 100%;
      border-color: $black;
    }
  }

  .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: opacity 250ms, background 250ms;

    .dark-theme & {
      background-color: $pale-blue;
      opacity: 0.1;
    }

    .light-theme & {
      background-color: $white;
    }
  }

  .content-item-chart-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &.difference-arc {
      fill: transparent;
      stroke-width: 1;
    }

    .dark-theme &,
    .light-theme & {

      .below-avg {
        fill: $green;
        stroke: $green;
      }

      .avg {
        fill: $pale-blue;
        stroke: $pale-blue;
      }

      .above-avg {
        fill: $purple;
        stroke: $purple;
      }
    }
  }

  .primary-data .content-item-chart-line {
    stroke-width: 1.5;

    .dark-theme &,
    .light-theme  & {
      stroke: $pale-blue;
      fill: $pale-blue;
    }
  }

  .secondary-data .content-item-chart-line {
    stroke: transparent;

    .dark-theme & {
      fill: rgba($pale-blue, 0.2);
    }

    .light-theme & {
      fill: $silver-40;
    }
  }

  .text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    .light-theme & {
      color: $dt-text-color;
    }

    .content-item-text-bold {
      font-weight: bold;
    }

    .content-item-text-sm {
      font-size: 16px;
    }

    p {
      margin-bottom: 8px;
      line-height: 1em;
    }
  }

  .content-item-traffic {
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 24px;
    line-height: 1em;
    transform: translateX(-50%);

    .content-item-text-bold {
      margin-bottom: 4px;
    }
  }

  .content-item-text-centered {
    position: absolute;
    top: 51%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
  }

  .content-item-chart-name {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1em;
    word-wrap: break-word;
  }

  .content-item-toolbar {
    position: absolute;
    left: 50%;
    margin-bottom: 7%;
    transform: translateX(-50%);
  }
}

.difference-legend {
  width: $font-size;
  height: $font-size;
  margin-top: 5px;

  @include md {
    width: $md-font-size;
    height: $md-font-size;
  }

  @include sm {
    width: $md-font-size;
    height: $sm-font-size;
  }

  &.below-avg {
    background-color: $green;
  }

  &.above-avg {
    background-color: $purple;
  }

  .dark-theme &.avg {
    background-color: $pale-blue;
  }

  .light-theme &.avg {
    background-color: $pale-blue;
    background-image: linear-gradient(rgba($white, 0.5), rgba($white, 0.5));
  }
}
