// Datepicker
// ==========

// scss-lint:disable SelectorFormat SelectorDepth NestingDepth
// Need to override default styles

.react-datepicker__tether-element {
  z-index: $zindex-datepicker;

  &.react-datepicker__tether-element-attached-bottom,
  &.react-datepicker__tether-element-attached-top {
    margin-top: -10px;
  }
}

.react-datepicker {
  width: 300px;
  padding: 15px 25px 25px;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  border-radius: 0;

  .dark-theme & {
    color: $dt-text-color;
    background-color: $black;
    background-image: linear-gradient(rgba($purple, 0.05), rgba($purple, 0.05)), linear-gradient(rgba($pale-blue, 0.2), rgba($pale-blue, 0.2));
    background-size: 100%;
  }

  .light-theme & {
    color: $lt-text-color;
    background-color: $white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  padding: 0;
  background-color: transparent;
  border-bottom: 1px solid;
  border-radius: 0;

  .dark-theme & {
    border-color: rgba($white, 0.1);
  }

  .light-theme & {
    border-color: rgba($black, 0.2);
  }
}

.react-datepicker__current-month {
  padding-bottom: 15px;
  font-size: inherit;
  font-weight: normal;
  color: inherit;
  text-transform: uppercase;
  border-bottom: 1px solid;

  @include md {
    padding-bottom: 10px;
  }

  .dark-theme &,
  .light-theme & {
    border-color: rgba($white, 0.1);
  }
}

.react-datepicker__navigation {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 0;

  @include md {
    top: 8px;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -2.5px;
    border: 5px solid transparent;
    content: ' ';
  }

  &.react-datepicker__navigation--previous {
    left: 20px;

    &::after {
      border-left: 0;

      .dark-theme & {
        border-right-color: $dt-text-color;
      }

      .light-theme & {
        border-right-color: $lt-text-color;
      }
    }

    &:hover::after {

      .dark-theme & {
        border-right-color: $white;
      }

      .light-theme & {
        border-right-color: $black;
      }
    }
  }

  &.react-datepicker__navigation--next {
    right: 20px;

    &::after {
      border-right: 0;

      .dark-theme & {
        border-left-color: $dt-text-color;
      }

      .light-theme & {
        border-left-color: $lt-text-color;
      }
    }

    &:hover::after {

      .dark-theme & {
        border-left-color: $white;
      }

      .light-theme & {
        border-left-color: $black;
      }
    }
  }
}

.react-datepicker__month-container {
  display: block;
  float: none;
}

.react-datepicker__month {
  margin: 5px 0 0;
}

.react-datepicker__day,
.react-datepicker__day-name {
  position: relative;
  width: calc(100% / 7);
  padding: 0;
  margin: 5px 0;
  line-height: $bar-height / 2;
  color: inherit;

  @include md {
    line-height: $md-bar-height / 2;
  }

  @include md {
    margin: 2px 0;
  }

  &:not(.react-datepicker__day--selected):hover {
    border-radius: 0;

    &:not(.react-datepicker__day--in-range) {
      background-color: inherit;
    }

    .dark-theme &:not(.react-datepicker__day--disabled) {
      color: $white;
    }

    .light-theme &:not(.react-datepicker__day--disabled) {
      color: $black;
    }
  }

  &:not(.react-datepicker__day--outside-month) {

    .react-datepicker__header & {
      margin: 2px 0;
      background-color: transparent;
    }
  }

  &.react-datepicker__day--outside-month {

    .dark-theme &,
    .light-theme & {
      color: rgba($dt-text-color, 0.5);
    }
  }
}

.react-datepicker__day--today {
  font-weight: normal;
  border-radius: 0;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $bar-height / 2;
    height: $bar-height / 2;
    margin: (-$bar-height / 4) 0 0 (-$bar-height / 4);
    border-radius: 50%;
    content: ' ';

    @include md {
      width: $md-bar-height / 2;
      height: $md-bar-height / 2;
      margin: (-$md-bar-height / 4) 0 0 (-$md-bar-height / 4);
    }

    .dark-theme & {
      border: 1px solid $white;
    }
  }
}

.react-datepicker__day--in-range {

  &,
  &:hover {
    background-color: rgba($pale-blue, 0.1);
    border-radius: 0;
  }
}

.react-datepicker__day--selected {

  &,
  &:hover {
    color: $white;
    background: linear-gradient(to right,
      transparent 0%,
      transparent 50%,
      rgba($pale-blue, 0.1) 51%);
  }

  &::before {
    display: block;
    width: $bar-height / 2;
    height: $bar-height / 2;
    margin: 0 auto (-$bar-height / 2);
    border-radius: 50%;
    content: ' ';

    @include md {
      width: $md-bar-height / 2;
      height: $md-bar-height / 2;
      margin: 0 auto (-$md-bar-height / 2);
    }

    .dark-theme &,
    .light-theme & {
      background-color: $pale-blue;
    }
  }
}

.react-datepicker__tether-element-attached-right {

  .react-datepicker__day--selected {

    &,
    &:hover {
      background: linear-gradient(to right,
        rgba($pale-blue, 0.1) 0%,
        rgba($pale-blue, 0.1) 50%,
        transparent 51%);
    }

    .dark-theme &::before,
    .light-theme &::before {
      background-color: $purple;
    }
  }
}

.react-datepicker-input-wrapper {
  position: relative;

  &.datepicker-open::after {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    border-radius: 50%;
    content: ' ';

    @include sm {
      right: 10px;
    }

    .dark-theme &,
    .light-theme & {
      background-color: $purple;
    }
  }

  &.start-date {

    &.datepicker-open::after {

      .dark-theme &,
      .light-theme & {
        background-color: $pale-blue;
      }
    }

    &:not(.datepicker-open) .react-datepicker__input {

      &,
      &:hover,
      &:focus {
        border-right: 1px solid rgba($black, 0.2);
      }
    }
  }

  &.end-date.datepicker-open::after {

    .dark-theme &,
    .light-theme & {
      background-color: $purple;
    }
  }

  &.datepicker-open .react-datepicker__input {
    .dark-theme & {
      background: $black;
      background-image: linear-gradient(rgba($purple, 0.025), rgba($purple, 0.025)), linear-gradient(rgba($pale-blue, 0.1), rgba($pale-blue, 0.1));
      background-size: 100%;

      &.react-datepicker-ignore-onclickoutside {
        &:focus {
          outline: none;
        }

        background: $black;
        background-image: linear-gradient(rgba($purple, 0.05), rgba($purple, 0.05)), linear-gradient(rgba($pale-blue, 0.2), rgba($pale-blue, 0.2));
        background-size: 100%;
      }
    }

    .light-theme & {
      background: $white;

      &.react-datepicker__tether-enabled {
        background: $white;
      }
    }
  }

  .react-datepicker__input {

    &,
    &:hover,
    &:focus {
      width: 100%;
      height: $btn-height;
      padding: 0 20px;
      font-size: inherit;
      color: inherit;
      border: 0;
      border-radius: 0;
      box-shadow: none;

      @include md {
        height: $md-btn-height;
      }

      // Hide clear button for IE because it's not working with the designed UI
      &::-ms-clear {
        display: none;
      }
    }

    .dark-theme & {
      background: url('../assets/icons/dt-icon-calendar.svg') rgba($black, 0.2) right center no-repeat;
      background-size: $bar-height;
    }

    .light-theme & {
      background: url('../assets/icons/dt-icon-calendar.svg') $white right center no-repeat;
      background-size: $bar-height;
      border: 1px solid rgba($black, 0.1);
    }
  }
}
