.delete-modal {
  @extend .error-modal;

  p {
    font-size: 14px;
  }

  hr {
    margin: 10px 0;
  }

  input {
    width: 30%;
  }

  .form-group {
    padding-top: 20px;
  }

  .delete-modal-header {
    border: none;
    padding-top: 45px;
    padding-bottom: 0px;
    padding-left: 41px;
    padding-right: 41px;
  }

  .delete-modal-body {
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 10px;
  }

  .delete-modal-footer {
    padding-left: 41px;
    padding-right: 41px;
    .dark-theme & {
      background-color: #19476c;
    }
    .light-theme & {
      background-color: #fff;
    }

    .delete-modal-submit {
      & {
        background-color: #7b0663;
      }
      &.delete-user-submit {
        background-color: rgb(227,32,25);
      }
      text-transform: uppercase;
    }
  }
}
