@import '../styles/base/colors';

$upload-status-item-paddings: rem(6px);
$upload-status-item-margins: rem(6px) 0;

.file-upload-status-icon-wrapper {
  display: inline-block;
  width: 15%;
  text-align: center;
  vertical-align: super;
}

.file-upload-status-item {
  width: 100%;
  padding: $upload-status-item-paddings;
  margin: $upload-status-item-margins;
  border-radius: rem(2px);

  .dark-theme & {
    background-color: rgba($dark-blue, 0.4);
  }

  .light-theme & {
    background-color: rgba($black, 0.1);
  }

}

.file-upload-status-type-icon {
  @extend .file-upload-status-icon-wrapper;

  > svg {
    fill: $pale-blue !important;
  }
}

.file-update-status-item-info {
  display: inline-block;
  width: 70%;
  padding: 0 5px;
  vertical-align: text-bottom;
}

.file-upload-status-item-name {
  color: $pale-blue;
  white-space: nowrap;
}

.file-upload-status-progress {
  height: rem(5px);
  margin: 0;
  background-color: rgba($pale-blue, 0.3);
  border-radius: 0;
  box-shadow: none;

  > .progress-bar {
    background-color: $pale-blue;
    box-shadow: none;
  }
}

.file-update-status-remove-icon {
  @extend .file-upload-status-icon-wrapper;
  padding: 0;
  cursor: pointer;
}
