@import '../styles/base/colors';

$upload-status-width: rem(300px);
$upload-status-wrapper-paddings: rem(6px) rem(14px);
$upload-status-body-paddings: rem(10px) rem(14px);

.file-upload-status-wrapper {
  width: $upload-status-width;
}

.file-upload-status-header {
  width: 100%;
  padding: $upload-status-wrapper-paddings;
  color: $white;
  background-color: $pale-blue;
}

.file-upload-status-header-caret {
  float: right;

  > svg {
    width: rem(16px);
    height: rem(16px);
    fill: $white !important;
  }
}

.file-upload-status-body {
  padding: $upload-status-body-paddings;

  .dark-theme & {
    background-color: $black;
  }

  .light-theme & {
    background-color: $white-20;
  }
}

