// Footer
// ======

.footer {
  height: $footer-height;
  padding: 0 ($bar-height / 2);
  font-size: $md-font-size-sm;

  @include md {
    padding: 0 ($md-bar-height / 2);
  }

  .dark-theme & {
    color: $dt-text-color;
    background-color: $black;
    background-image: linear-gradient(to right, rgba($purple, 0.1), rgba($purple, 0.05), rgba($purple, 0.1)),
     linear-gradient(rgba($pale-blue, 0.125), rgba($pale-blue, 0.125));
    background-size: 100%;
  }

  .light-theme & {
    background-color: $white;
  }

  .footer-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    p {
      margin: 0;
    }
  }
}
