.global-account-selector,
.navbar-nav .global-account-selector.open {
  &__toggle {
    display: flex;
  }

  .dropdown-toggle {
    :first-child {
      float: left;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .dropdown-menu {
    width: 328px !important;
    max-height: 500px !important;
    overflow-y: auto !important;

    @include md {
      width: 246px !important;
    }

    & > li,
    li {
      display: flex;

      & > a,
      a {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: row;
      }
    }

    .form-group {
      padding: 0;
      flex: 1;

      input {
        border-radius: 20px;
      }
    }
  }

  .back-text {
    font-weight: bold;

    .caret {
      margin-right: 10px;
      margin-left: -10px;
      border-top: 5px solid transparent;
      border-right: 5px solid $pale-blue;
      border-bottom: 5px solid transparent;
    }
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }

  .caret-container {
    width: auto;

    .caret {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $pale-blue;
    }
  }
}
