// GLOBAL ACCOUNT SELECTOR DROPDOWN
// ================================

$dd-font-size: 14px;
$back-caret-width: 30px;
$dropdown-selector-width: rem(320px);
$dropdown-selector-max-height: rem(480px);
$dd-horizontal-padding: em(18px, $dd-font-size);
$dd-caret-padding: em(6px, $dd-font-size);
$dd-selector-item-width: ($dd-horizontal-padding * 2);

.selector-component {
  display: block;
}

.selector-component,
.navbar-nav .selector-component.open {

  &__toggle {
    display: flex;
  }

  .action-container {
    flex-direction: column;

    .header-search-container {
      padding: 9px;
      border-top: 1px solid rgba($pale-blue, 0.3);

      .dark-theme & .header-search-input {
        background-color: $black !important;
      }
    }

    & > .header-text-container {
      display: flex;
      height: 78px;
      padding-left: 25px;
      flex-direction: row;

      .dark-theme & {
        background-color: #05121a;
      }

      .light-theme & {
        background-color: rgba($black, 0.1);
      }

      a {
        width: $back-caret-width;
        margin-right: -2px;
        margin-left: -28px;
        cursor: pointer;
        flex-grow: 0;
      }

      div {
        display: flex;
        width: 100%;
        padding-bottom: 6px;
        justify-content: flex-end;
        flex-direction: column;
        align-content: flex-end;

        h3 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

      }
    }
  }

  .dropdown-toggle {
    display: flex;
    min-width: 0;
    cursor: pointer;
    align-items: center;
    flex-wrap: nowrap;

    > :first-child {
      float: left;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .dropdown-menu {
    width: $dropdown-selector-width;
    max-height: none;
    overflow-y: hidden !important;

    .dark-theme & {
      background: #081320;
    }

    .menu-container {
      height: 337px;
      justify-content: center;

      .loading-spinner {
        position: initial;
        transform: none;
        align-self: center;
      }

      .scrollable-menu {
        top: 0;
        left: 0;
        height: 100%;

        .name-container {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    & > li,
    li {
      display: flex;
      border-bottom: 1px solid rgba($pale-blue, 0.3);

      & > a,
      a {
        position: relative;
        display: flex;
        width: calc(100% - #{($dd-horizontal-padding * 2) + ($dd-caret-padding * 2)});
        align-items: center;
        flex-direction: row;
        flex-grow: 1;
      }

      .caret-container {
        position: relative;
        width: auto;
        padding: $dd-caret-padding;
        flex-shrink: 1;

        & > .caret-container-short-border {
          position: absolute;
          top: 10px;
          bottom: 10px;
          left: 0;
          border-left: 1px solid rgba($pale-blue, 0.3);
        }

        .dark-theme & {
          .icon {
            fill: $dt-text-color;
          }
        }

        .light-theme & {
          .icon {
            fill: $lt-text-color;
          }
        }

        &:hover {
          .dark-theme & {
            .icon {
              fill: $white;
            }
          }

          .light-theme & {
            .icon {
              fill: $black;
            }
          }
        }

        &:focus {
          .icon {
            fill: $pale-blue;
          }
        }
      }
    }

    .form-group {
      padding: 0;
      flex: 1;
    }
  }

  // TODO: This needs to be updated once the back to accounts functionality is implemented
  /*
  .back-text {
    font-weight: bold;
  }
  */

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }

  // TODO: Maybe remove the btn and btn-link classes from the selector component
  // instead of overriding button styles here?
  .btn-link:hover:active,
  .btn-link:active,
  .btn-link:focus,
  .btn-link:hover {
    text-decoration: none;
  }
}
