// GLOBAL ACCOUNT SELECTOR DROPDOWN
// ================================

$dd-font-size: 14px;
$dropdown-selector-width: rem(320px);
$dropdown-selector-max-height: rem(480px);
$dd-horizontal-padding: em(18px, $dd-font-size);
$dd-caret-width: em(8px, $dd-font-size);
$dd-selector-item-width: ($dd-horizontal-padding * 2);

.selector-component {
  display: block;
}

.selector-component,
.navbar-nav .selector-component.open {

  &__toggle {
    display: flex;
  }

  .dropdown-toggle {
    display: flex;
    min-width: 0;
    cursor: pointer;
    align-items: center;
    flex-wrap: nowrap;

    > :first-child {
      float: left;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .dropdown-menu {
    top: 100%;
    width: $dropdown-selector-width;
    max-height: none;
    overflow-y: auto !important;

    & > li,
    li {
      display: flex;

      & > a,
      a {
        position: relative;
        display: flex;
        width: calc(100% - #{($dd-horizontal-padding * 2) + $dd-caret-width});
        align-items: center;
        flex-direction: row;
        flex-grow: 1;
      }

      .caret-container {
        width: auto;
        flex-shrink: 1;

        .caret-selector {
          border-top: $caret-width-base solid transparent;
          border-bottom: $caret-width-base solid transparent;
          border-width: $caret-width-base;
          border-right-width: 0;

          .dark-theme & {
            border-left: $caret-width-base solid $dt-text-color;
          }

          .light-theme & {
            border-left: $caret-width-base solid $silver-60;
          }
        }

        &:hover {
          .dark-theme & {
            .caret-selector {
              border-left-color: $white;
            }
          }

          .light-theme & {
            .caret-selector {
              border-left-color: $black;
            }
          }
        }

        &:focus {
          .caret-selector {
            border-left-color: $pale-blue;
          }
        }
      }
    }

    .form-group {
      padding: 0;
      flex: 1;
    }
  }

  // TODO: This needs to be updated once the back to accounts functionality is implemented
  /*
  .back-text {
    font-weight: bold;

    .caret {
      margin-right: 10px;
      margin-left: -10px;
      border-top: 5px solid transparent;
      border-right: 5px solid $pale-blue;
      border-bottom: 5px solid transparent;
    }
  }
  */

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }

  // TODO: Maybe remove the btn and btn-link classes from the selector component
  // instead of overriding button styles here?
  .btn-link:hover:active,
  .btn-link:active,
  .btn-link:focus,
  .btn-link:hover {
    text-decoration: none;
  }
}
