// Header
// ======
$dt-header-bg-color: #203149;
$lt-header-bg-color: $white;
$navbar-right-size: rem(30px);
$navbar-right-vertical-margin: rem(9px);
$navbar-right-horizontal-margin: rem(6px);
$navbar-right-margin: rem(12px);
$navbar-btn-user-vertical-margin: rem(6px);
$header-seach-vertical-padding: rem(6px);
$header-seach-right-padding: rem(12px);
$header-seach-left-padding: rem(30px);

.header {
  height: $header-total-height;
  font-size: 14px;
  border: 0;

  .dark-theme & {
    background-color: $dt-header-bg-color;
    border-bottom: 1px solid $black;
  }

  .light-theme & {
    background-color: $lt-header-bg-color;
    border-bottom: 1px solid $silver-80;
  }

  &__content {
    display: flex;
    flex-wrap: nowrap;
  }

  &__logo {
    .logo {
      display: flex;
      padding: 6px 9px !important;
      margin-right: 15px;
      align-items: center;
      flex: 1;

    }

    svg {
      .dark-theme & {
        fill: $white;
      }
    }
  }

  &__account-selector {
    min-width: 0;

    .active-account-name {
      padding: 0 20px 0 30px;
      margin: 12px 0;
      font-weight: bold;
    }
  }

  &__left {
    display: flex;
    height: $header-total-height - $header-gradient-height;
    min-width: 0;
    padding-left: 0 !important;
    margin-left: 0 !important;
    flex: 1;
  }

  &__right {
    display: flex;
    min-width: 0;
  }

  .selector-component {
    display: flex;

    &__toggle {
      display: flex;
      width: 100%;
      padding: 0 16px 0 30px;
      margin: 6px 0;
      overflow: hidden;

      .dropdown-toggle {
        font-weight: bold;

        &:hover {
          color: rgba($pale-blue, 0.8);
        }
      }
    }
  }

  &__breadcrumb {
    overflow: hidden;
  }

  @include print {
    position: relative;
    display: block;
    height: auto;
    min-width: 0;
    min-height: 0;

    > .container-fluid {
      // scss-lint:disable ImportantRule
      // Need to override default styles
      padding: 0 !important;

      div {
        // Hide everything else except breadcrumb list (ol)
        display: none;
      }
    }
  }

  .navbar-right {
    .btn-header,
    .btn-user-menu {
      &:hover,
      &:active,
      &.active,
      &:active:hover,
      &.active:focus {
        transition: all 0.3s;

        .icon {
          transition: all 0.3s;
        }
      }

      &:focus {
        box-shadow: 0 0 0 2px $pale-blue;
      }
    }

    .btn-header {
      width: $navbar-right-size;
      height: $navbar-right-size;
      margin: $navbar-right-vertical-margin $navbar-right-horizontal-margin;
      background-color: rgba($black, 0.2);

      .dark-theme & {
        &:hover {
          background-color: rgba($black, 0.4);

          .icon {
            fill: $pale-blue;
          }
        }

        &:active,
        &.active,
        &:active:hover,
        &.active:focus {
          background-color: $black;

          .icon {
            fill: $pale-blue;
          }
        }
      }

      .light-theme & {
        &:hover {
          background-color: rgba($black, 0.4);
        }

        &:active,
        &.active,
        &:active:hover,
        &.active:focus {
          background-color: $lt-text-color;
        }
      }

      &.btn-alerts {
        position: relative;

        svg {
          width: 24px;
          height: 24px;
        }


        .btn-alerts-indicator {
          position: absolute;
          top: 2px;
          right: 2px;
          width: 6px;
          height: 6px;
          border-radius: 50%;

          .dark-theme &,
          .light-theme & {
            color: $dt-text-color;
            background: $red;
          }
        }
      }

      &.btn-help {
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    .btn-user-menu {
      margin: $navbar-btn-user-vertical-margin $navbar-right-margin $navbar-btn-user-vertical-margin $navbar-right-horizontal-margin;

      &,
      &:hover,
      &:focus,
      &:active,
      &.active,
      &:active:hover,
      &.active:focus {
        background-color: transparent;
      }

      .icon {
        fill: $dt-text-color;
      }
    }

    .btn-user-menu,
    .open .btn-user-menu {
      &:hover,
      &:focus,
      &:active,
      &.active,
      &:active:hover,
      &.active:focus {
        box-shadow: 0 0 0 2px $pale-blue;
      }
    }

    .open .btn-user-menu {
      box-shadow: 0 0 0 2px $pale-blue;
    }

    .header-search-input {
      width: 156px;
      height: $navbar-right-size;
      padding: $header-seach-vertical-padding $header-seach-right-padding $header-seach-vertical-padding $header-seach-left-padding;
      margin: $navbar-right-vertical-margin $navbar-right-horizontal-margin;
      font-size: 12px;
      border-radius: $navbar-right-size / 2;

      .dark-theme &,
      .light-theme & {
        background-position: 12px center;
        background-repeat: no-repeat;
        background-size: 14px;

        &:focus,
        &:active {
          box-shadow: inset 0 0 0 2px $pale-blue;
        }
      }

      .dark-theme & {
        color: $dt-text-color;
        background-color: rgba($black, 0.2);
        background-image: url('../assets/icons/dt-icon-search.svg');

        &::placeholder {
          color: rgba($dt-text-color, 0.3);
        }
      }

      .light-theme & {
        color: $lt-text-color;
        background-color: transparent;
        background-image: url('../assets/icons/lt-icon-search.svg');
        box-shadow: inset 0 0 0 1px $silver-80;

        &::placeholder {
          color: $lt-text-color;
        }
      }
    }
  }


  &__gradient {
    height: $header-gradient-height;
    margin: 0 -15px;
    background: linear-gradient(
      to right,
      $gradient-lime,
      $gradient-green-haze,
      $gradient-bondi-blue,
      $gradient-navy,
      $gradient-magenta,
      $gradient-lime,
      $gradient-green-haze,
      $gradient-bondi-blue,
      $gradient-navy,
      $gradient-magenta
    );
    background-position: 100% 50%;
    background-size: 225% 200%;

    &.animated {
      animation: HeaderAnimation 1s linear infinite;
    }
  }
}

@keyframes HeaderAnimation {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.navbar-default {
  // scss-lint:disable SelectorDepth NestingDepth
  // Need to override Bootstrap

  .navbar-brand {
    width: $bar-height;
    height: $bar-height;
    text-indent: -9999em;

    @include md {
      width: $md-bar-height;
      height: $md-bar-height;
    }

    &,
    &:hover,
    &:focus {
      background: url('../assets/img/logo-ericsson.svg') rgba($black, 0.2) center center no-repeat;
      background-size: 30px 40px;

      @include md {
        background-size: 22.5px 30px;
      }
    }
  }

  .navbar-nav > .main-nav-item {

    .dropdown .main-nav-link {
      padding: 0 $bar-height;

      @include lg {
        padding-left: $md-bar-height / 2;
      }

      @include md {
        padding: 0 $md-bar-height;
        padding-left: $md-bar-height / 2;
      }

      @include sm {
        padding-left: $md-bar-height / 3;
      }
    }

    .dropdown-toggle {
      &,
      &:focus {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        float: none;
        width: $bar-height;
        height: $bar-height;
        background-color: transparent;
        border: 0;

        @include md {
          width: $md-bar-height;
          height: $md-bar-height;
        }
      }
    }

    .open > .btn-default.dropdown-toggle,
    .open > .btn-default.dropdown-toggle {

      &:hover,
      &:focus,
      &:active {
        color: inherit;
      }
    }
  }

  // Open dropdowns
  .open > a {

    &,
    &:hover,
    &:focus {
      background-color: transparent;
      border-color: transparent;
    }
  }
}

.header-toggle {
  position: relative;
  height: auto;
  min-width: 0;
  padding: 0;
  line-height: inherit;
  text-align: left;

  h3 {
    max-width: calc(100% - #{$bar-height});
    white-space: normal;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    border-width: 0;
  }

  &:hover .icon:not(.caret-icon),
  &:focus .icon:not(.caret-icon) {

    .dark-theme &,
    .light-theme & {
      stroke: $pale-blue;
    }
  }

  .dark-theme .open > &,
  .light-theme .open > & {

    &,
    &:hover,
    &:active,
    &:focus,
    .icon {
      color: $pale-blue;
      background-color: transparent;
      box-shadow: none;
      stroke: $pale-blue;
    }
  }

  h1,
  h3 {
    display: inline-block;
    vertical-align: middle;
  }
}
