.inline-add-row {
  background-color: $pale-blue !important;

  td > div {
    &.col-sm-6,
    &.col-sm-9 {
      padding-left: 0;
    }

    & > .form-group {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    & .has-error.form-control {
      color: $white;
      background-color: rgba($black, 0.2) !important;
      border: 2px solid $purple;

      &:focus,
      &:active {
        box-shadow: none;
      }

      .light-theme & {
        color: $grey-80;
        background-color: $white !important;
      }
    }
  }

  input {
    height: 60px;
    padding: 5px 20px;
    color: $white;
    background-color: $pale-blue;

    &::placeholder {
      color: $white;
    }

    @include md {
      height: 40px;
    }
  }

  .filter-container {
    min-width: 250px;
  }

  .in.tooltip.bottom {
    margin-top: 5px;
  }

  .tooltip {
    max-width: 350px;
  }

  .tooltip-inner {
    max-width: 350px;
    padding: 10px;
  }


  .btn-default {
    &,
    &:active {
      min-width: 10%;
      color: $white;
      background-color: rgba($black, 0.2);
    }
  }

  .icon.two-tone .base {
    @extend .btn-primary
  }

  .input-addon-link {
    @extend .btn-primary
  }

  .btn-primary {
    &,
    &:not(:disabled),
    &.btn-icon {
      margin: 0;
      background: none;

      .light-theme & {
        color: rgba($black, 0.5);

        .icon {
          fill: rgba($black, 0.5);
        }
      }

      .dark-theme & {
        color: $white;
        fill: $white;
      }

      &.active,
      &:hover,
      &:hover:not(:disabled) {
        .light-theme & {
          color: $white;

          .icon {
            fill: $white;

            &.two-tone {

              .base {
                fill: $white;
              }

              .primary {
                fill: $pale-blue;
              }
            }
          }
        }

        .dark-theme & {
          color: rgba($black, 0.5);

          .icon {
            fill: rgba($black, 0.5);

            &.two-tone {

              .base {
                fill: rgba($black, 0.5);
              }
            }
          }
        }
      }
    }

  }

  .input-group-addon,
  .input-addon-link {
    height: 60px;
    min-width: 60px;
    background: transparent !important;

    @include md {
      height: 40px;
      min-width: 50px;
    }
  }

}

.half-width-item {
  width: 49%;
}

.password-field {
  width: calc(50% - 30px);
  margin-right: 10px;

  &:last-of-type {
    margin-right: 0;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline-add-dropdown {
  z-index: 1;
  width: 100%;
  height: 60px;
  min-width: 60px;

  @include md {
    height: 40px;
    min-width: 40px;
  }
}
