.inline-add-row {
  background-color: $pale-blue !important;

  .form-group {
    padding-bottom: 0;
  }

  input {
    height: 40px;
    padding: 5px 0;
    background-color: $pale-blue;
    color: $white;

    &::placeholder {
      color: $white;
    }
  }

  .filter-container {
    min-width: 250px;
  }

  .tooltip-inner {
    padding: 10px;
    max-width: 200px;
  }
  .tooltip-arrow {
    left: 10% !important;
  }

  .btn-default {
    &,
    &:active {
      min-width: 10%;
      color: $white;
      background-color: rgba($black, 0.2);
    }
  }

  .btn-primary {
    &,
    &:hover {
      color: $white !important;
      fill: $white !important;
      stroke: $white !important;
    }
  }
}

.trailing-item {
  padding-left: 20px;
  display: inline;
}

.half-width-item {
  width: 49%;
}

.left {
  float: left;
}

.right {
    float: right;
}

.inline-add-dropdown {
  z-index: 1;
  height: 40px;
  width: 100%;
  min-width: 40px;
}
