// Input Connector
// ===============

.input-connector {
  $input-connector-width: 20px;
  $md-input-connector-width: 15px;
  $input-group-margin-bottom: 10px;

  position: absolute;
  top: ($bar-height / 2) + $form-label-margin + ($font-size * 1.4);
  bottom: ($bar-height / 2) + $form-group-padding;
  left: -$input-connector-width;
  width: $input-connector-width;
  border: 1px solid;
  border-right: 0;
  opacity: 0;
  transition: opacity 350ms ease;

  @include md {
    top: ($md-bar-height / 2) + $form-label-margin + ($md-font-size * 1.4);
    bottom: ($md-bar-height / 2) + $md-form-group-padding;
    left: -$md-input-connector-width;
    width: $md-input-connector-width;
  }

  &::after {
    position: absolute;
    top: 50%;
    width: $input-connector-width - 1px;
    border-top: 1px solid;
    content: '';
    opacity: 0;
    transition: opacity 350ms ease;

    @include md {
      width: $md-input-connector-width - 1px;
    }
  }

  &.no-label {
    top: $bar-height / 2;
  }

  .form-horizontal & {
    top: $bar-height / 2;
    bottom: ($bar-height / 2) + $form-group-padding + $input-group-margin-bottom;
    left: ($grid-gutter-width / 4) - $input-connector-width;
  }

  &.show {
    opacity: 1;
  }

  &.has-two-ends::after {
    opacity: 1;
  }

  .dark-theme &,
  .light-theme &,
  .dark-theme &::after,
  .light-theme &::after {
    border-color: rgba($black, 0.2);
  }
}
