// Property
// ========

.property-header {
  min-height: $page-header-height;
  padding: 15px 0 30px 170px;

  @include md {
    min-height: $md-page-header-height;
    padding: 20px 0 30px 140px;
  }

  @include print {
    min-height: 0;
    padding: 0;
  }

  p {
    margin-bottom: -5px;
  }

  h1 {
    margin-bottom: 0;
  }

  .btn-toolbar {
    margin-top: 30px;
  }

  .dark-theme & {
    background: url('../assets/img/dt-content-chart.svg') 0 0 no-repeat;
    background-size: 120px 120px;
    border-bottom: 2px solid rgba($white, 0.2);

    @include md {
      background-size: 100px 100px;
    }
  }

  .light-theme & {
    background: url('../assets/img/dt-content-chart.svg') 0 0 no-repeat;
    background-size: 120px 120px;
    border-bottom: 2px solid rgba($black, 0.2);

    @include md {
      background-size: 100px 100px;
    }
  }
}

.property-info-row {
  padding: 30px 0;

  h3 {
    margin-bottom: 0;
    word-wrap: break-word;
  }

  .dark-theme & {
    border-bottom: 2px solid rgba($white, 0.2);
  }

  .light-theme & {
    border-bottom: 2px solid rgba($black, 0.2);
  }
}

.property-content {
  position: relative;

  .content-separator {
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    width: 2px;
    height: 100%;

    .dark-theme & {
      background-color: rgba($white, 0.2);
    }

    .light-theme & {
      background-color: rgba($black, 0.2);
    }
  }
}

.property-analytics-summary,
.property-configuration-summary {
  padding-top: $btn-sm-height;

  @include md {
    padding-top: ($btn-sm-height / 2);
  }

  @include print {
    // scss-lint:disable ImportantRule
    // Need to override default styles
    float: none;
    width: 100%;
    padding: 0 !important;
    border-top: 1px solid $silver-40;
  }
}

.property-analytics-summary {
  padding-right: $bar-height;

  @include md {
    padding-right: $md-bar-height;
  }

  @include sm {
    padding-right: ($md-bar-height / 2);
  }

  .analysis-by-time {
    margin: $btn-height 0;

    @include md {
      margin: $md-btn-height 0;
    }
  }
}

.property-configuration-summary {
  padding-left: 80px;

  @include md {
    padding-left: $md-bar-height;
  }

  @include sm {
    padding-left: ($md-bar-height / 2);
  }
}
