// React Date Picker
// =================

$rdp-font-size: 14px;
$rdp-width: rem(300px);
$rdp-vertical-padding: em(15px, $rdp-font-size);
$rdp-horizontal-padding: em(25px, $rdp-font-size);
$rdp-dark-bg-image: linear-gradient(rgba($purple, 0.05), rgba($purple, 0.05)), linear-gradient(rgba($pale-blue, 0.2), rgba($pale-blue, 0.2));
$rdp-month-btn-width: 36px;

.react-date-picker__calendar,
.react-date-picker__multi-month-view {
  padding: $rdp-vertical-padding $rdp-horizontal-padding $rdp-horizontal-padding;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  border-radius: 0;

  .dark-theme & {
    color: $dt-text-color;
    background-color: $black;
    background-image: $rdp-dark-bg-image;
    background-size: 100%;
  }

  .light-theme & {
    color: $lt-text-color;
    background-color: $white;
  }
}

.react-date-picker__calendar {
  width: $rdp-width;

  .react-date-picker__month-view {
    width: 100%;
  }
}

.react-date-picker__multi-month-view {
  width: $rdp-width * 2;

  > .react-flex {
    justify-content: space-between;
  }

  .react-date-picker__month-view {
    width: calc(50% - (#{$rdp-horizontal-padding}) / 2);
  }
}

.react-date-picker__nav-bar {
  padding: 0;
  background-color: transparent;
  border-bottom: 1px solid;
  border-radius: 0;

  .react-date-picker__month-view & {
    border-top: 1px solid;
  }

  .dark-theme & {
    border-color: rgba($white, 0.1);
  }

  .light-theme & {
    border-color: rgba($black, 0.2);
  }

  .react-date-picker__nav-bar-date {
    padding: 8px 0;
    font-size: inherit;
    font-weight: normal;
    color: inherit;
    text-transform: uppercase;
  }

  .react-date-picker__nav-bar-arrow {
    position: absolute;
    top: 0;
    width: $rdp-month-btn-width;
    height: $rdp-month-btn-width;
    border: 0;

    &.react-date-picker__nav-bar-secondary-arrow,
    svg {
      display: none !important;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -3px;
      border: 6px solid transparent;
      content: ' ';
    }

    &.react-date-picker__nav-bar-arrow--prev {
      left: 0;

      &::after {
        border-left: 0;

        .dark-theme & {
          border-right-color: $dt-text-color;
        }

        .light-theme & {
          border-right-color: $lt-text-color;
        }
      }

      &:hover::after {

        .dark-theme & {
          border-right-color: $white;
        }

        .light-theme & {
          border-right-color: $black;
        }
      }
    }

    &.react-date-picker__nav-bar-arrow--next {
      right: 0;

      &::after {
        border-right: 0;

        .dark-theme & {
          border-left-color: $dt-text-color;
        }

        .light-theme & {
          border-left-color: $lt-text-color;
        }
      }

      &:hover::after {

        .dark-theme & {
          border-left-color: $white;
        }

        .light-theme & {
          border-left-color: $black;
        }
      }
    }
  }
}

.react-date-picker__month-view-week-day-names {
  margin-bottom: 5px;
  border-bottom: 1px solid;

  .dark-theme & {
    border-color: rgba($white, 0.1);
  }

  .light-theme & {
    border-color: rgba($black, 0.1);
  }

  .dp-week-day-name {
    padding: 7px 0;
  }
}

.dp-day {
  position: relative;
  width: calc(100% / 7);
  padding: 0;
  margin: 2px 0;
  line-height: $md-bar-height / 2;
  color: inherit;

  &.react-date-picker__month-view-day--today {
    color: $pale-blue;
  }

  &:hover:not(.react-date-picker__month-view-day--disabled) {
    cursor: pointer;

    .dark-theme & {
      color: $white;
    }

    .light-theme & {
      color: $black;
    }
  }

  &.react-date-picker__month-view-day--prev-month:not(.react-date-picker__month-view-day--disabled),
  &.react-date-picker__month-view-day--next-month:not(.react-date-picker__month-view-day--disabled) {

    .dark-theme & {
      color: rgba($dt-text-color, 0.5);

      &:hover {
        color: $white;
      }
    }

    .light-theme & {
      color: rgba($lt-text-color, 0.5);

      &:hover {
        color: $black;
      }
    }
  }
}

.react-date-picker__month-view-day--range-end,
.react-date-picker__month-view-day--range-start,
.react-date-picker__month-view-day--hover-range-end,
.react-date-picker__month-view-day--hover-range-start,
.react-date-picker__month-view-day--active {

  .react-date-picker__month-view-day-text {
    position: relative;
    z-index: $zindex-default-low;
    width: $md-bar-height / 2;
    height: $md-bar-height / 2;
    text-align: center;
    border-radius: 50%;

    .dark-theme &,
    .light-theme & {
      color: $white;
      background-color: $pale-blue;
    }
  }
}

.react-date-picker__month-view-day--range-end:not(.react-date-picker__month-view-day--range-start),
.react-date-picker__month-view-day--hover-range-end {

  .react-date-picker__month-view-day-text {

    .dark-theme &,
    .light-theme & {
      background-color: $purple;
    }
  }
}

.react-date-picker__month-view-day--in-range,
.react-date-picker__month-view-day--in-hover-range {

  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    content: '';

    .dark-theme &,
    .light-theme & {
      background: rgba($pale-blue, 0.1);
    }
  }

  &::after {
    left: 50%;
  }

  &.react-date-picker__month-view-day--hover-range-start,
  &.react-date-picker__month-view-day--range-start:not(.react-date-picker__month-view-day--in-hover-range) {

    &::before {
      display: none;
    }
  }

  &.react-date-picker__month-view-day--hover-range-end,
  &.react-date-picker__month-view-day--range-end:not(.react-date-picker__month-view-day--in-hover-range) {

    &::after {
      display: none;
    }
  }
}

.react-date-picker__month-view-day--disabled {
  opacity: 0.5;

  .dark-theme & {
    background: $black;

    &,
    &.react-date-picker__month-view-day--prev-month,
    &.react-date-picker__month-view-day--next-month {
      color: $dt-text-color;
    }
  }

  .light-theme & {
    background: rgba($black, 0.1);

    &,
    &.react-date-picker__month-view-day--prev-month,
    &.react-date-picker__month-view-day--next-month {
      color: $lt-text-color;
    }
  }
}
