.react-tel-input {
  width: auto;

  & {
    .flag {
      background-image: url('../assets/img/flags.png') !important;
    }

    &.empty {
      .flag {
        opacity: 0;
      }
    }
  }

  input[type=text],
  input[type=tel] {
    position: relative;
    z-index: $zindex-default-zero;
    width: 100%;
    height: auto;
    max-width: 900px;
    min-height: $bar-height;
    padding: $form-vertical-padding $form-horizontal-padding;
    padding-left: 36px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0;
    font-size: rem($form-font-size);
    line-height: $form-line-height;
    color: inherit;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    transition: box-shadow 0s;

    // Hide IE clear and reveal buttons for design purposes
    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }

    .dark-theme & {
      color: $dt-text-color;
      background-color: rgba($black, 0.2);

      &:focus,
      &:active {
        box-shadow: inset 0 0 0 1px $pale-blue;
      }

      &::placeholder {
        color: rgba($dt-text-color, 0.3);

        @include print {
          color: transparent;
        }
      }

      &[disabled] {
        color: rgba($silver-60, 0.2);
        background-color: rgba($black, 0.1);
      }
    }

    .light-theme .configuration-sidebar & {
      color: rgba($silver-60, 0.2);
      background-color: $white;

      &:focus,
      &:active {
        box-shadow: inset 0 0 0 1px $pale-blue;
      }

      &::placeholder {
        color: rgba($lt-text-color, 0.3);

        @include print {
          color: transparent;
        }
      }
    }

    .light-theme & {
      color: $lt-text-color;
      background-color: $white;
      box-shadow: 0 0 0 1px rgba($black, 0.1);

      &:focus,
      &:active {
        box-shadow: inset 0 0 0 1px $pale-blue;
      }

      &::placeholder {
        color: rgba($lt-text-color, 0.3);
      }


      &[disabled] {
        color: rgba($grey-80, 0.2);
        background: none;
      }

    }

    .has-error & {
      .dark-theme & {
        box-shadow: inset 0 0 0 2px $form-error-color, 0 0 0 1px rgba($black, 0.5);
      }

      .light-theme & {
        box-shadow: inset 0 0 0 2px $form-error-color, 0 0 0 1px rgba($black, 0.1);
      }
    }

    .dark-theme .has-error &,
    .light-theme .has-error & {

      &[type=textarea] {
        color: rgba($dt-text-color, 0.3);
      }

      &::placeholder {
        color: rgba($dt-text-color, 0.3);
      }
    }

    &.valid,
    .valid & {

      &:focus,
      &:active {
        box-shadow: inset 0 0 0 1px $green;
      }
    }

    &.invalid,
    .invalid & {

      &,
      &:hover,
      &:focus,
      &:active {
        box-shadow: inset 0 0 0 1px $purple;
      }
    }
  }

  .flag-dropdown {
    position: relative;
    background: transparent;
    border: 0;

    .selected-flag {
      position: absolute;
      top: -36px;
      bottom: auto;
      display: flex;
      width: 36px;
      height: 36px;
      background: none;
    }

    &.open-dropdown {
      background-color: transparent;

      .selected-flag {
        background: transparent;
        border-radius: 0;
      }
    }

    &:hover {
      cursor: pointer;
      background: transparent;

      .selected-flag {
        background: transparent;
      }
    }
  }

  input[disabled] {

    &+.flag-dropdown {

      &:hover {
        cursor: default;

        .selected-flag {
          background-color: transparent;
        }
      }
    }
  }

  .selected-flag {
    position: relative;
    z-index: $zindex-country-list-flag;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    flex: 1;

    .flag {
      position: relative;
      top: auto;
      margin: 0;
    }

    .arrow {
      position: relative;
      top: 50%;
      left: 20px;
      display: none;
      width: 0;
      height: 0;
      margin-top: -2px;
      border-top: 4px solid #555;
      border-right: 3px solid transparent;
      border-left: 3px solid transparent;

      &.up {
        border-top: 0;
        border-bottom: 4px solid #555;
      }
    }
  }

  .country-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-country-list;
    width: 100%;
    max-height: 250px;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    list-style: none;
    border: 0;
    border-radius: 0 0 2px 2px;
    box-shadow: none;

    .dark-theme & {
      color: $dt-text-color;
      background-color: $black;
      background-image: radial-gradient(circle, rgba($purple, 0), rgba($purple, 0.08)), linear-gradient(rgba($pale-blue, 0.2), rgba($pale-blue, 0.1));
      background-size: 100%;
    }

    .light-theme & {
      color: $lt-text-color;
      background-color: $silver-30;
    }

    .flag {
      display: inline-block;
      margin-top: 2px;
      margin-right: 15px;
    }

    .divider {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 1px solid rgba($black, 0.1);
    }

    .country {
      padding: 10px $dropdown-padding;

      .dial-code {
        color: #999;
      }

      .dark-theme & {

        &:hover,
        &.highlight {
          color: $pale-blue;
          background-color: rgba($pale-blue, 0.1);
        }
      }

      .light-theme & {

        &:hover,
        &.highlight {
          color: $black;
          background-color: rgba($black, 0.1);
        }
      }
    }

    .country-name {
      margin-right: 6px;
    }
  }
}
