// Select
// ======

.dropdown-select {
  &__option-icon {
    display: flex;
    width: 35px;
    padding: 0 10px 0 0;
    align-items: center;

    svg {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  &__option-label {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }

  &__selected-item {
    display: flex;
    align-items: center;
  }

  .form-group & {
    min-width: 0;
  }

  &.input-select {
    width: 100%;
    max-width: 900px;
  }

  .dropdown-menu {
    > li {
      display: flex;

      > a {
        display: flex;
        flex: 1;
        align-items: center;
      }
    }
  }
}

.caret-icon.two-tone {
  .dark-theme &,
  .light-theme & {
    .base {
      fill: rgba($black, 0.2);
    }

    .primary {
      fill: $white;
    }
  }
}
