// SP Dashboard On Off Net Traffic Styles
.stacked-by-time-summary {
  .dataset-label {
    font-weight: bold;

    &.dataset-a {
      color: $pale-blue;
    }

    &.dataset-b {
      color: $yellow;
    }
  }

  .optional-dataset-border {
    min-height: 60px;
    margin: auto 15px;
    margin-right: 6%;

    .dark-theme & {
      border-right: 1px solid $dt-text-color;
    }

    .light-theme & {
      border-right: 1px solid $lt-text-color;
    }
  }

  .stacked-by-time-summary-container {
    display: flex;
    align-items: flex-end;

    .dataset-col {

      &.empty {
        align-self: flex-start;
      }
      padding-right: 6%;
      font-weight: bold;
      white-space: nowrap;

      &:last-child {
        padding-right: 3%;
      }

      &.total {
        padding-right: 3%;
        line-height: normal;

        .value {
          font-size: rem(60px);
        }

        .suffix {
          font-size: rem(24px);
        }
      }

      &.chart {
        width: 100%;
        min-width: 72px;
        padding-right: 0;
        margin-right: 6%;
        overflow: hidden;
      }

      .dark-theme & {
        color: $white;
      }

      .value {
        margin-right: 4px;
        font-size: rem(24px);
      }
    }
  }
}
