// Table Sorter
// ============

// scss-lint:disable SelectorDepth NestingDepth
// Need to override BootStrap
.table-sorter > a {
  position: relative;
  display: block;
  padding-right: 1em;
  text-decoration: none;

  .dark-theme & {
    color: $dt-text-color;

    &:hover {
      color: $pale-blue;
      text-decoration: none;
    }
  }

  .light-theme & {
    color: $white;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }

  .caret {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) scaleY(-1);

    &.up {
      transform: translateY(-50%);
    }
  }
}
