.toggle {
  position: relative;
  display: inline-block;
  height: $btn-height;
  padding: 0 ($btn-sm-height / 2);
  line-height: $btn-height;
  cursor: pointer;
  border-radius: $btn-height / 2;

  @include md {
    height: $md-btn-height;
    padding: 0 ($md-btn-sm-height / 2);
    line-height: $md-btn-height;
    border-radius: $md-btn-height / 2;
  }

  .dark-theme & {
    background-color: rgba($black, 0.2);
  }

  .light-theme & {
    background-color: $white;
  }


  .off-text,
  .on-text {
    display: inline-block;
    opacity: 1;
    transition: opacity 200ms;
  }

  .on-text {
    margin-left: 10px;
    opacity: 0;
  }

  .indicator {
    position: absolute;
    top: 50%;
    right: 10px;
    width: ($bar-height / 2);
    height: ($bar-height / 2);
    background-color: rgba($black, 0.2);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: background-color 200ms, right 200ms;

    @include md {
      right: 5px;
      width: ($md-bar-height / 2);
      height: ($md-bar-height / 2);
    }
  }

  &.on {
    .indicator {
      right: calc(100% - 50px);
      background-color: $green;

      @include md {
        right: calc(100% - 35px);
      }
    }

    .off-text {
      opacity: 0;
    }

    .on-text {
      opacity: 1;
    }
  }
}
