// Toggle
// ======
$disabled-color: #a6a6a6;
$toggle-font-size: 14px;
$toggle-height: em(36px, $toggle-font-size);
$toggle-horizontal-padding: em(16px, $toggle-font-size);
$indicator-height: em(24px, $toggle-font-size);
$indicator-margin: ($toggle-height - $indicator-height) / 2;

.toggle {
  position: relative;
  display: inline-block;
  height: $toggle-height;
  padding: 0 $toggle-horizontal-padding;
  line-height: $toggle-height;
  cursor: pointer;
  border-radius: $toggle-height / 2;

  .dark-theme & {
    color: $white;
    background-color: rgba($black, 0.2);

    &.readonly {
      color: rgba($silver-60, 0.2);
      cursor: default;
      background-color: rgba($black, 0.1);

      .indicator {
        transition: none;
      }
    }
  }

  .light-theme & {
    color: $lt-text-color;
    background-color: $white;
    box-shadow: 0 0 0 1px rgba($black, 0.1);

    &.inverted-style {
      color: $white;
      background-color: rgba($black, 0.2);
      box-shadow: none;
    }

    &.readonly {
      color: rgba($grey-80, 0.2);
      cursor: default;
      background: none;

      .indicator {
        transition: none;
      }
    }
  }


  .off-text,
  .on-text {
    display: inline-block;
    opacity: 1;
    transition: opacity 200ms;
  }

  .off-text {
    margin-left: 6px;
  }

  .on-text {
    opacity: 0;
  }

  .indicator {
    position: absolute;
    top: 50%;
    right: calc(100% - #{$toggle-height - $indicator-margin});
    width: $indicator-height;
    height: $indicator-height;
    background-color: $black;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: background-color 200ms, right 200ms;
  }

  &.on {

    .indicator {
      right: $indicator-margin;
      background-color: $green;
    }

    .off-text {
      opacity: 0;
    }

    .on-text {
      opacity: 1;
    }
  }
}

.toggle-label {
  padding-top: $toggle-height / 4;
}


$toggle-row-padding: ($bar-height - $btn-height) / 2;

.toggle-row {
  height: $bar-height;
  padding: $toggle-row-padding 30px;
  margin-bottom: 6px;
  background-color: rgba($pale-blue, 0.1);

  &.yes {
    background-color: rgba($pale-blue, 0.2);
  }

  &::after {
    display: inline-block;
    height: $bar-height - ($toggle-row-padding * 2);
    vertical-align: middle;
  }

  .toggle-row-label {
    display: inline-block;
    vertical-align: middle;
  }
}
