// User Menu Dropdown
// ==================

$user-menu-font-size: 18px;
$user-menu-width: rem(320px);
$user-menu-header-vertical-padding: em(15px, $user-menu-font-size);
$no-helper-header-vertical-padding: em(26px, $user-menu-font-size);
$user-menu-vertical-padding: em(17px, $user-menu-font-size);
$user-menu-horizontal-padding: em(30px, $user-menu-font-size);

.dropdown-menu,
.navbar-nav .open .dropdown-menu {
  &.dropdown-user-menu {
    width: $user-menu-width;
    height: 100%;
    min-height: calc(100vh - #{$header-total-height});
    overflow: auto;
    font-size: $user-menu-font-size;

    .helper-header {
      position: relative;
      display: block;

      &.helper-ui-theme::after {
        position: absolute;
        top: 50%;
        width: 50px;
        height: 10px;
        margin-left: 12px;
        background: linear-gradient(to right,
          $pale-blue 20%, $green 21%, $green 40%, $purple 41%, $purple 60%,
          $red 61%, $red 80%, $yellow 81%);
        content: '';
        transform: translateY(-50%);
      }

      // This targets spans generated by the FormattedMessage component
      // We needed to cancel out inherited flex styling
      > span {
        display: inline;
      }
    }

    .theme-title {
      text-transform: capitalize;
    }

    .dropdown-header {
      padding: $user-menu-header-vertical-padding $user-menu-horizontal-padding;
      font-size: inherit;
      line-height: 1;
      color: inherit;

      .light-theme & {
        color: $lt-text-color;
        background-color: rgba($black, 0.04);
      }
    }

    .dropdown-select {
      .dropdown-toggle {
        padding: $user-menu-vertical-padding $user-menu-horizontal-padding;
        font-size: $user-menu-font-size;
        line-height: 1.45;
        background-color: transparent;
        box-shadow: none;

        .dark-theme & {
          background-color: inherit;
        }

        > .icon {
          right: 16px;
        }
      }

      &:not(.open) .dropdown-toggle {
        &:hover:not(:disabled) {
          color: inherit;

          span:not(.helper-header) {
            font-weight: 500;
          }

          .dark-theme & {
            span:not(.helper-header) {
              color: $white;
            }

            .icon {
              fill: $white;
            }
          }

          .light-theme & {
            .icon {
              fill: $pale-blue;
            }
          }
        }
      }

      &.open .dropdown-toggle {
        color: inherit;

        span:not(.helper-header) {
          font-weight: 500;
          color: $pale-blue;
        }

        .icon {
          fill: $pale-blue;
        }
      }

      .dropdown-menu > li > a {
        padding: $user-menu-vertical-padding $user-menu-horizontal-padding;
        font-size: $user-menu-font-size;

        &:hover:not(:disabled) {
          color: inherit;

          .helper-header {
            font-weight: 500;
          }
        }
      }
    }

    > li {
      > ul {
        padding: 0;
        list-style: none;

        > li {
          position: relative;
          display: block;
          height: auto;

          .dark-theme & {
            box-shadow: inset 0 -1px 0 0 rgba($pale-blue, 0.2);
          }

          .light-theme & {
            box-shadow: inset 0 -1px 0 0 rgba($black, 0.1);
          }

          > a {
            display: block;
            padding: $user-menu-vertical-padding $user-menu-horizontal-padding;
            font-size: $user-menu-font-size;
            box-shadow: none;

            .icon {
              position: absolute;
              top: 50%;
              right: 16px;
              transform: translateY(-50%);
              fill: $dt-text-color;
            }

            &:hover {
              .helper-header {
                font-weight: 300;

                .dark-theme & {
                  color: $dt-text-color;
                }

                .light-theme & {
                  color: $lt-text-color;
                }
              }

              .icon {
                .dark-theme & {
                  fill: $white;
                }

                .light-theme & {
                  fill: $pale-blue;
                }
              }
            }
          }

          &.no-helper-header {
            > a {
              padding: $no-helper-header-vertical-padding $user-menu-horizontal-padding;
            }
          }
        }
      }

      .bottom-item {
        position: absolute;
        bottom: 0;
        width: 100%;

        .dark-theme & {
          box-shadow: inset 0 1px 0 0 rgba($pale-blue, 0.2);
        }

        .light-theme & {
          box-shadow: inset 0 1px 0 0 rgba($black, 0.1);
        }
      }
    }
  }
}
