// User Menu Dropdown
// ==================

$user-menu-dd-font-size: 18px;
$user-menu-dd-width: rem(320px);
$user-menu-header-vertical-padding: em(15px, $user-menu-dd-font-size);
$no-helper-header-vertical-padding: em(29px, $user-menu-dd-font-size);
$user-menu-vertical-padding: em(20px, $user-menu-dd-font-size);
$user-menu-horizontal-padding: em(30px, $user-menu-dd-font-size);

.dropdown-menu,
.navbar-nav .open .dropdown-menu {
  &.dropdown-user-menu {
    width: $user-menu-dd-width;
    height: 100%;
    min-height: calc(100vh - #{$header-total-height});
    overflow: auto;
    font-size: $user-menu-dd-font-size;

    .helper-header {
      position: relative;
      display: block;

      &.helper-ui-theme::after {
        position: absolute;
        top: 50%;
        width: 50px;
        height: 10px;
        margin-left: 12px;
        background: linear-gradient(to right,
          $pale-blue 20%, $green 21%, $green 40%, $purple 41%, $purple 60%,
          $red 61%, $red 80%, $yellow 81%);
        content: '';
        transform: translateY(-50%);
      }
    }

    .dropdown-header {
      padding: $user-menu-header-vertical-padding $user-menu-horizontal-padding;
      font-size: inherit;
      line-height: 1;
      color: inherit;

      .light-theme & {
        color: $lt-text-color;
        background-color: rgba($black, 0.04);
      }

      > span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .dropdown-select {
      .dropdown-toggle {
        padding: $user-menu-vertical-padding $user-menu-horizontal-padding;
        font-size: $user-menu-dd-font-size;
        line-height: 1.45;
        box-shadow: none;


        .dark-theme & {
          background-color: inherit;
        }

        > .icon {
          right: 18px;
        }
      }

      &:not(.open) .dropdown-toggle {
        &:hover:not(:disabled) {
          color: inherit;

          span:not(.helper-header) {
            font-weight: 500;
          }

          .dark-theme & {
            span:not(.helper-header) {
              color: $white;
            }

            .icon {
              fill: $white;
            }
          }

          .light-theme & {
            .icon {
              fill: $pale-blue;
            }
          }
        }
      }

      &.open .dropdown-toggle {
        color: inherit;

        span:not(.helper-header) {
          font-weight: 500;
          color: $pale-blue;
        }

        .icon {
          fill: $pale-blue;
        }
      }
    }

    > li {
      &.dropdown-user-menu-container {
        height: 100%;
        margin-bottom: -($bar-height + $btn-height);

        @include md {
          margin-bottom: -($md-bar-height + $md-btn-height);
        }

        &::after {
          display: block;
          height: $bar-height + $btn-height;
          content: '';

          @include md {
            height: $md-bar-height + $md-btn-height;
          }
        }
      }

      > ul {
        padding: 0;
        list-style: none;

        > li {
          position: relative;
          display: block;
          height: auto;

          .dark-theme & {
            box-shadow: inset 0 -1px 0 0 rgba($pale-blue, 0.2);
          }

          .light-theme & {
            box-shadow: inset 0 -1px 0 0 rgba($black, 0.1);
          }

          > a {
            display: block;
            padding: $user-menu-vertical-padding $user-menu-horizontal-padding;
            font-size: $user-menu-dd-font-size;

            &:hover {
              .helper-header {
                font-weight: 300;

                .dark-theme & {
                  color: $dt-text-color;
                }

                .light-theme & {
                  color: $lt-text-color;
                }
              }
            }
          }

          &.no-helper-header {
            > a {
              padding: $no-helper-header-vertical-padding $user-menu-horizontal-padding;
            }
          }
        }
      }

      .bottom-item {
        position: absolute;
        bottom: 0;
        width: 100%;

        .dark-theme & {
          box-shadow: inset 0 1px 0 0 rgba($pale-blue, 0.2);
        }

        .light-theme & {
          box-shadow: inset 0 1px 0 0 rgba($black, 0.1);
        }
      }
    }

    //   > ul > li,
    //   &.bottom-item {
    //
    //     > a,
    //     > .menuitem {
    //       position: relative;
    //       display: block;
    //       min-height: $bar-height + $btn-height;
    //       padding: 0;
    //       margin: 0;
    //
    //       @include md {
    //         min-height: $md-bar-height + $md-btn-height;
    //         margin: 0;
    //       }
    //     }
    //
    //     > a {
    //
    //       &::before {
    //         position: absolute;
    //         top: 50%;
    //         right: $btn-sm-height / 2;
    //         width: $btn-height / 2;
    //         height: $btn-height / 2;
    //         margin-top: -($btn-height / 4);
    //         border-radius: 50%;
    //         content: '';
    //
    //         @include md {
    //           right: $md-btn-sm-height / 2;
    //           width: $btn-sm-height / 2;
    //           height: $btn-sm-height / 2;
    //           margin-top: -($btn-sm-height / 4);
    //         }
    //
    //         .dark-theme &,
    //         .light-theme & {
    //           background-color: rgba($black, 0.2);
    //         }
    //       }
    //
    //       &::after {
    //         position: absolute;
    //         top: 50%;
    //         right: $btn-sm-height / 2;
    //         margin: -5px 12px 0 0;
    //         vertical-align: middle;
    //         border-top: $caret-width-base solid transparent;
    //         border-bottom: $caret-width-base solid transparent;
    //         border-left: $caret-width-base dashed;
    //         content: '';
    //
    //         @include md {
    //           right: $md-btn-sm-height / 2;
    //           margin-right: 8px;
    //         }
    //
    //         .dark-theme &,
    //         .light-theme .header &,
    //         .light-theme .sidebar-layout &,
    //         .light-theme .configuration-sidebar & {
    //           border-left-color: $dt-text-color;
    //         }
    //
    //         .light-theme & {
    //           border-left-color: $white;
    //         }
    //       }
    //
    //       &:hover::after {
    //
    //         .dark-theme &,
    //         .light-theme .header &,
    //         .light-theme .sidebar-layout &,
    //         .light-theme .configuration-sidebar & {
    //           border-left-color: $white;
    //         }
    //       }
    //     }
    //
    //     &:not(.dropdown-header) + li a,
    //     &:not(.dropdown-header) + li .menuitem,
    //     &.bottom-item a {
    //
    //       .dark-theme &,
    //       .light-theme & {
    //         border-top: 1px solid rgba($pale-blue, 0.1);
    //       }
    //     }
    //
    //
    //
    //     .dropdown-select {
    //       width: calc(100% + #{$dropdown-padding * 2});
    //       margin: 0 (-$dropdown-padding * 2 / 2);
    //
    //       > .dropdown-toggle {
    //         padding: 0 $dropdown-padding;
    //         font-weight: inherit;
    //         background: transparent;
    //       }
    //
    //       .dropdown-menu {
    //         color: $lt-text-color;
    //
    //         li > a {
    //           padding: 15px $dropdown-padding;
    //           color: $lt-text-color;
    //
    //           &:hover {
    //             color: $black;
    //           }
    //         }
    //       }
    //
    //       .icon {
    //         margin-right: 10px;
    //
    //         @include md {
    //           margin-right: 2px;
    //         }
    //       }
    //     }
    //   }
    // }
  }
}
