// Content Layout
// ==============

.content-layout {
  min-height: calc(100vh - #{$header-total-height});
  margin-bottom: -$footer-height;

  &::after {
    display: block;
    height: $footer-height;
    content: '';
  }
}
