// Content Layout
// ==============

.content-layout {

  > .container-fluid {
    position: relative;
    padding: $btn-height $bar-height;

    @include md {
      padding: $md-btn-height $md-bar-height;
    }

    @include sm {
      padding: $md-btn-height ($md-bar-height / 2);
    }
  }
}
