// Configuration Dialog
// ====================

.configuration-dialog {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1020;
  height: $configuration-dialog-height;

  @include md {
    height: $md-configuration-dialog-height;
  }

  .has-sidebar & {
    left: $sidebar-width;

    @include md {
      left: $md-sidebar-width;
    }

    @include sm {
      left: $sm-sidebar-width;
      min-width: 1024px - $sm-sidebar-width;
    }
  }

  .dark-theme & {
    color: $dt-text-color;
    background-color: $black;
    background-image: radial-gradient(circle, rgba($purple, 0), rgba($purple, 0.08)),
      linear-gradient(rgba($pale-blue, 0.2), rgba($pale-blue, 0.1));
    background-size: 100%;
  }

  .light-theme & {
    background-color: $white;
  }
}

.configuration-dialog-gradient {
  height: $header-gradient-height;
  background: $gradient-lg-green;
}

.configuration-dialog-body {
  padding: ($btn-height / 2) ($bar-height / 2) 0;

  @include md {
    padding: ($md-btn-height / 2) ($md-bar-height / 2) 0;
  }

  p:not(.configuration-dialog-title) {
    font-size: $font-size-sm;

    @include sm {
      font-size: $sm-font-size-sm;
    }

    @include md {
      font-size: $md-font-size-sm;
    }
  }

  .configuration-dialog-title {
    margin-bottom: 0;
    font-weight: bold;
  }
}
