.flex-row {
  align-items: center;
  display: flex;
  font-weight: 100;

  .flex-item {
    flex-grow: 1;
    flex-basis: 0;
  }

  .arrow-right {
    cursor: pointer;
    flex: 0 0 5rem;
  }

  .pull-right {
    flex: 0 0 10rem;
  }
}
