// Page Header Layout
// ==================

.page-header-layout {
  min-height: $page-header-height;
  padding: 35px 40px 10px;
  background-color: rgba($black, 0.2);

  @include md {
    min-height: $md-page-header-height;
    padding: 25px 30px 10px;
  }

  p {
    margin: 0;
  }

  .btn-toolbar {
    margin-top: 15px;
  }

  .form-control {
    height: $btn-height;

    @include md {
      height: $md-btn-height;
    }
  }
}
