// Page Container Layout
// =====================

.page-container-layout {
  position: relative;

  &.has-sidebar {
    padding-left: $sidebar-width;

    @include md {
      padding-left: $md-sidebar-width;
    }

    @include sm {
      padding-left: $sm-sidebar-width;
    }

    @include print {
      padding-left: 0;
    }
  }
}
