// Page Container Layout
// =====================

.page-container-layout {
  position: relative;

  &.has-sidebar {
    padding-left: $sidebar-width;

    @include md {
      padding-left: $md-sidebar-width;
    }

    @include sm {
      padding-left: $sm-sidebar-width;
    }
  }

  .light-theme .chart-view &.content-subcontainer {
    background-attachment: fixed;
    background-image: linear-gradient(rgba($pale-blue, 0.5), rgba($purple, 0.5)),
      linear-gradient(to top right, $ericsson-dark-blue, $pale-blue);
    background-size: 100%;
  }
}
