// Page Header Layout
// ==================
$page-header-padding-top: rem(18px);
$page-header-horizontal-padding: rem(30px);
$page-header-padding-bottom: rem(12px);
$page-header-dropdown-width: rem(250px);

.page-header-layout {
  padding: $page-header-padding-top $page-header-horizontal-padding $page-header-padding-bottom;

  .dark-theme & {
    background-color: rgba($pale-blue, 0.2);
    border-bottom: 3px solid rgba($black, 0.4);
  }

  .light-theme & {
    background-color: $white;
    border-bottom: 3px solid rgba($black, 0.1);
  }

  p {
    margin: 0;
  }

  .dropdown-select {
    min-width: $page-header-dropdown-width;
  }

  h1 {
    color: $pale-blue;
  }
}
