// Page Header Layout
// ==================

.page-header-layout {
  min-height: $page-header-height;
  padding: 35px 40px 10px;

  @include md {
    min-height: $md-page-header-height;
    padding: 25px 30px 10px;
  }

  @include print {
    min-height: 0;
    padding: 0 0 20px;
  }

  .dark-theme & {
    background-color: rgba($black, 0.2);
  }

  .light-theme & {
    background-color: $white;
  }

  p {
    margin: 0;
  }

  .btn-toolbar {
    margin-top: 15px;

    @include print {
      display: none;
    }
  }

  .form-control {
    height: $btn-height;

    @include md {
      height: $md-btn-height;
    }
  }
}
