// Section Header Layout
// ==================
$section-header-font-size: 14px;
$section-header-input-width: em(228px, $section-header-font-size);
$section-header-bottom-margin: rem(24px);

.section-header-container {
  margin-bottom: $section-header-bottom-margin;

  .section-header-layout {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .section-header-addon {
      flex-grow: 2;
    }
  }

  h3 {
    text-transform: uppercase;
  }

  .form-group {
    padding-bottom: 0;

    &:not(:last-child) {
      margin-right: #{$section-header-bottom-margin / 2};
    }
  }

  .search-input-group {
    display: inline-block;
    min-width: $section-header-input-width;
    vertical-align: middle;

    .search-input {
      margin: 0;
    }
  }
}
