// Section Header Layout
// ==================
$section-header-input-width: rem(250px);

.section-header-container {
  padding-bottom: 24px;

  .section-header-layout {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    text-transform: uppercase;
  }

  .search-input-group {
    display: inline-block;
    min-width: $section-header-input-width;
    padding-bottom: 0;
    margin-right: 12px;
    vertical-align: middle;

    .search-input {
      margin: 0;
    }
  }
}
