// Sidebar
// =======

// scss-lint:disable SelectorDepth
.sidebar-layout {
  position: fixed;
  top: $header-total-height;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: $sidebar-width;
  overflow: auto;

  @include md {
    top: $md-header-total-height;
    width: $md-sidebar-width;
  }

  @include sm {
    width: $sm-sidebar-width;
  }

  .dark-theme & {
    background-color: $black;
    background-image: linear-gradient(rgba($pale-blue, 0.7),
      rgba($ericsson-dark-blue, 0.7));
    background-size: 100%;

    a {
      color: $dt-text-color;

      &:hover {
        color: $white;
      }
    }
  }

  .light-theme & {
    color: $white;
    background-color: $pale-blue;

    a,
    .btn-link {
      color: rgba($white, 0.7);
      fill: rgba($white, 0.7);
      stroke: rgba($white, 0.7);

      &:hover {
        color: $white;
      }
    }
  }

  .sidebar-header {
    min-height: $page-header-height + $bar-height - 5px;
    padding: $btn-sm-height ($bar-height / 2) ($bar-height / 4);
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;

    @include md {
      min-height: $md-page-header-height + $md-bar-height - 5px;
      padding: $md-btn-sm-height ($md-bar-height / 2) ($md-bar-height / 4);
    }

    @include sm {
      padding: $md-btn-sm-height ($md-bar-height / 3) ($md-bar-height / 4);
    }

    .light-theme & {
      color: $white;
    }

    h3,
    p {
      margin-bottom: 2px;
    }
  }

  .sidebar-content {
    padding: $bar-height / 2;

    @include md {
      padding: $md-bar-height / 2;
    }

    @include sm {
      padding: $md-bar-height / 3;
    }
  }

  .sidebar-section-header {
    display: block;
    min-height: $btn-height;
    padding-left: $bar-height / 2;
    font-weight: 500;
    line-height: $btn-height;
    text-decoration: none;

    @include md {
      min-height: $md-btn-height;
      padding-left: $md-bar-height / 2;
      line-height: $md-btn-height;
    }

    .dark-theme & {
      background-color: rgba($black, 0.2);
    }

    .light-theme & {
      color: $white;
      background-color: rgba($black, 0.1);
    }
  }

  .sidebar-actions {
    margin-top: 30px;
  }
}
