.account-management-header {
  margin-bottom: 40px;
  clear: both;

  .btn-add-new {
    float: right;
  }

  .dark-theme & {
    .btn-add-new {
      background-color: $btn-success-bg !important;
    }
  }

  a {
    cursor: pointer;
  }
}
