// sass-lint:disable placeholder-in-extend
.account-management-account-details {

  .account-details {
    @extend .row;
  }

  label {
    @extend .col-xs-3;

    margin-bottom: 20px;
    clear: left;
    text-transform: uppercase;
  }

  span.value { // sass-lint:disable-line no-qualifying-elements
    @extend .col-xs-3;
  }

  ul.services-list { // sass-lint:disable-line no-qualifying-elements
    @extend .col-xs-3;

    list-style: none;

    & ul {
      list-style: none;
    }
  }
}
