.soa-form-sidebar {
  @extend .configuration-sidebar;

  .soa-form-input {
    width: 60%;

    &.refresh-input {
      width: 15%;
    }
  }

}

.dns-edit-form-sidebar {
  @extend .configuration-sidebar;

  .input-group-addon {
    width: auto;
    padding-left: 10px;
  }
}
