.soa-form-sidebar {
  @extend .configuration-sidebar;

  .soa-form-input {
    width: 60%;

    &.refresh-input {
      width: 15%;
    }
  }
}


.fixed-size-textarea {
  resize: none;
  height: 100px !important;
}
/* FIX for account management forms to properly extend configuration sidebar  --- some load order issue ? */
.dns-edit-form-sidebar, .account-form-sidebar, .roles-edit-form {
  @extend .configuration-sidebar;
}
