.domain-toolbar {
  margin: -25px -60px 40px;
  padding: 40px 60px;
  background-color: #0c273a;

  .global-account-selector {
    display: inline-flex;

    h3 {
      text-transform: uppercase;
      cursor: pointer;

      .caret {
        margin-left: 10px;
      }
    }
  }
}
