.account-management-account-groups {
  th:last-child,
  td:last-child {
    text-align: right;
    white-space: nowrap;
  }

  .edit-row {
    background-color: $pale-blue !important;

    .form-group {
      padding-bottom: 0;
    }

    input {
      height: auto;
      max-width: initial;
      padding: 5px 0;
      color: $white;
      background-color: $pale-blue;

      &::placeholder {
        color: rgba($white, 0.8);
      }
    }

    button,
    button:hover {
      color: $white;
      background-color: rgba($black, 0.2);
    }
  }

  .form-group .dropdown-select {
    min-width: 300px;
  }
}
