
.service-option-selector {
  width: 550px;

  .flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: 100;

    &.enabled {
      font-weight: 600;
    }
  }

  .flex-item {
    flex-grow: 1;
    flex-basis: 0;
  }

  .name {
    flex: 3;
  }

  .tick {
    flex: 0 0 5rem;
  }

  .arrow-right {
    flex: 0 0 5rem;
  }
}
