.user-form-sidebar {
  @extend .modal-form-panel;

  .form-group.border-bottom {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .password-reset {
    .user-password {
      display: inline-block;
      margin-right: 15px;
      line-height: 40px;
      vertical-align: sub;
    }

    button.btn-primary {
      .dark-theme & {
        color: $dt-text-color;
        background-color: rgba($black, 0.2);
      }

      .light-theme & {
        color: $lt-text-color;
        background-color: $white;
      }
    }
  }
}

.user-form {
  &__name {
    margin-top: 20px;
  }

  &__telephone {
    margin-top: 20px;
  }
}

