.not-found-page-container {

  .not-found-img {
    display: inline-block;
    width: 400px;
    height: 150px;
    margin: 2em 0;
    background: url('../assets/img/not-found.svg') center center no-repeat;
    background-size: contain;
  }

  button {
    margin: 2em 0;
  }
}
