// Notification transitions
// ========================

.notification-panel {
  opacity: 1;
  transition: opacity 500ms ease, bottom 500ms ease;
}

.notification-transition-enter,
.notification-transition-appear {

  &.notification-panel {
    bottom: 0;
    opacity: 0;
  }
}

.notification-transition-leave {

  &.notification-panel {
    bottom: 0;
    opacity: 0;
  }
}
