.configuration-advanced {
  .section-header-container {

    h3 {
      min-width: 500px;
      text-transform: none;
    }

    .section-header-layout {
      justify-content: flex-start;
    }
  }

  .section-container {
    max-width: 900px;
  }

  .input-group textarea {
    min-height: 50rem;
  }

  .config-area {
    padding-bottom: 10px;
  }
}
