.banner-container {
  position: absolute;
  top: $btn-height;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.policy-override-banner {
  position: absolute;
  top: calc((100% - #{$md-bar-height} * 1.5) / 2);
  z-index: $zindex-default-low;
  display: flex;
  width: 100%;
  height: $md-bar-height * 1.5;
  background-color: rgba($medium-blue, 0.6);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.banner-message {
  color: $pale-blue;
}
