// Condition Selection
// ===================

.condition-selection {
  margin: -70px (-$bar-height);

  @include md {
    margin: -60px (-$md-bar-height);
  }

  @include sm {
    margin: -40px (-$md-bar-height / 2);
  }

  li {
    min-height: $bar-height;
    padding: 0 $bar-height;

    @include md {
      min-height: $md-bar-height;
      padding: 0 $md-bar-height;
      line-height: $md-bar-height;
    }

    @include sm {
      padding: 0 ($md-bar-height / 2);
    }

    .dark-theme & {
      border-bottom: 1px solid rgba($pale-blue, 0.2);
    }

    .light-theme & {
      border-bottom: 1px solid rgba($white, 0.2);
    }
  }

  a {
    position: relative;
    display: block;
    height: 100%;
    padding: ($bar-height / 4) 0 ($bar-height / 4) $btn-height / 2 + 20px;
    line-height: $bar-height / 2;
    text-decoration: none;

    @include md {
      padding: ($md-bar-height / 4) 0 ($md-bar-height / 4) $md-btn-height / 2 + 20px;
    }

    .dark-theme & {
      color: $dt-text-color;
      border-left-color: $dt-text-color;
    }

    .light-theme & {
      color: $white;
      border-left-color: $white;
    }

    &:not(.inactive):hover {

      .dark-theme & {
        color: $white;
        border-left-color: $white;
      }

      .light-theme & {
        color: $lt-button-color;
        border-left-color: $lt-button-color;
      }
    }

    &.inactive {
      cursor: default;
      opacity: 0.3;
    }
  }
}
