// Condition Selection
// ===================

.condition-selection {
  margin: -70px (-$bar-height);

  @include md {
    margin: -60px (-$md-bar-height);
  }

  @include sm {
    margin: -40px (-$md-bar-height / 2);
  }

  li {
    min-height: $bar-height;
    padding: 0 $bar-height;

    @include md {
      min-height: $md-bar-height;
      padding: 0 $md-bar-height;
      line-height: $md-bar-height;
    }

    @include sm {
      padding: 0 ($md-bar-height / 2);
    }

    .dark-theme &,
    .light-theme & {
      border-bottom: 1px solid rgba($pale-blue, 0.2);
    }
  }

  a {
    position: relative;
    display: block;
    height: 100%;
    padding: ($bar-height / 4) 0 ($bar-height / 4) $btn-height / 2 + 20px;
    line-height: $bar-height / 2;
    text-decoration: none;

    @include md {
      padding: ($md-bar-height / 4) 0 ($md-bar-height / 4) $md-btn-height / 2 + 20px;
    }

    .dark-theme &,
    .light-theme & {
      color: $dt-text-color;
    }

    &:hover {

      .dark-theme &,
      .light-theme & {
        color: $white;
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: $btn-height / 2;
      height: $btn-height / 2;
      margin-top: -($btn-height / 4);
      border-radius: 50%;
      content: '';

      @include md {
        width: $btn-sm-height / 2;
        height: $btn-sm-height / 2;
        margin-top: -($btn-sm-height / 4);
      }

      .dark-theme &,
      .light-theme & {
        background-color: rgba($black, 0.2);
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      margin: -5px 0 0 13px;
      vertical-align: middle;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px dashed;
      content: '';

      @include md {
        margin-left: 11px;
      }

      .dark-theme & {
        border-left-color: $dt-text-color;
      }

      .light-theme & {
        border-left-color: $white;
      }
    }
  }
}
