// Configuration Cache
// ===================

.configuration-defaults {

  h2 {
    padding-bottom: 30px;

    @include print {
      padding-bottom: 10px;
    }
  }

  h3 {
    padding-bottom: 20px 0;

    @include print {
      padding: 10px 0;
    }
  }

  hr {
    margin-top: 20px;

    @include print {
      margin: 10px 0;
    }
  }
}
