$input-height: 36px;
$tooltip-width: 80px;

.configuration-details {
  .input-group-addon {
    .btn-icon {
      width: $input-height;
      height: $input-height;
      margin: -5px 0 0 20px;
      color: $white;
      background-color: rgba($black, 0.2);
      border-radius: 50%;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .input-without-tooltip {
    &:after {
      content:'';
      display: table-cell;
      height: $input-height;
      width: $tooltip-width;
    }
  }
}
