$input-height: 36px;

.configuration-gtm {
  .help-icon {
    .btn-icon {
      width: $input-height;
      height: $input-height;
      margin: 0 0 0 20px;
      color: $white;
      background-color: rgba($black, 0.2);
      border-radius: 50%;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .gtm-toggle-status {
    .dark-theme & {
      color: $white;
     }

    .light-theme & {
      color: $lt-text-color;
    }
  }

  .traffic-config {
    .row {
      margin-bottom: 15px;
    }
  }
}
