$input-height: 36px;
$confirmation-slider-min-height-lg: 25px;
$confirmation-slider-min-height-sm: 60px;
$confirmation-slider-padding-top-lg: 5px;
$confirmation-slider-padding-top-sm: 12px;

.configuration-gtm {
  .help-icon {
    .btn-icon {
      width: $input-height;
      height: $input-height;
      color: $white;
      background-color: rgba($black, 0.2);
      border-radius: 50%;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      margin-right: 20px;
    }
  }

  .gtm-toggle-status {
    .dark-theme & {
      color: $white;
     }

    .light-theme & {
      color: $lt-text-color;
    }
  }

  .traffic-config {
    .row {
      margin-bottom: 15px;
    }
  }

  .confirmation-slider {
    padding-bottom: 0;

    @media (min-width: $screen-lg-min) {
      min-height: $confirmation-slider-min-height-lg;
      padding-top: $confirmation-slider-padding-top-lg;
    }

    @include md {
      min-height: $confirmation-slider-min-height-sm;
      padding-top: $confirmation-slider-padding-top-sm;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      min-height: $confirmation-slider-min-height-sm;
      padding-top: $confirmation-slider-padding-top-sm;
    }
  }

  button[aria-describedby='gtm-match-tooltip'] {
    .dark-theme & {
      color: $dt-text-color;
    }

    .light-theme & {
      color: $lt-text-color;
    }

    :hover & {
      text-decoration: none;
    }

    font-weight: 400;
  }
}


.configuration-gtm-rules {
  width: 100%;
  transition: width 0.3s ease-out;
}
