// Configuration Sidebar
// =====================

// scss-lint:disable SelectorDepth NestingDepth
// Need to override BootStrap
.modal-dialog.configuration-sidebar {
  float: right;
  width: 150%;
  margin: 0;

  .fade & {
    transform: translate(100%, 0);
    transition: transform 0.3s ease-out, margin 0.3s ease-out;
  }

  .in & {
    max-width: $configuration-sidebar-width + $sidebar-right-col-width;
    margin: 0 (-$sidebar-right-col-width) 0 0;
    transform: translate(0, 0);

    @include md {
      max-width: $md-configuration-sidebar-width + $md-sidebar-right-col-width;
      margin: 0 (-$md-sidebar-right-col-width) 0 0;
    }

    @include sm {
      max-width: $sm-configuration-sidebar-width + $sm-sidebar-right-col-width;
      margin: 0 (-$sm-sidebar-right-col-width) 0 0;
    }

    &.configuration-versions-sidebar {
      max-width: 500px;
      margin: 0;
    }

    &.right-col-visible {
      width: 96%;
      margin-right: 0;

      .configuration-rule-edit {
        opacity: 0.5;
      }

      .modal-content {
        display: flex;
        max-width: 100%;
      }

      .condition {
        cursor: not-allowed;
      }
    }
  }

  .modal-content {
    max-width: $configuration-sidebar-width;
    min-height: 100vh;
    border: 0;
    box-shadow: none;

    @include md {
      max-width: $md-configuration-sidebar-width;
    }

    @include sm {
      max-width: $sm-configuration-sidebar-width;
    }

    .dark-theme & {
      color: $dt-text-color;
      background-color: $black;
      background-image: linear-gradient(rgba($pale-blue, 0.7),
        rgba($ericsson-dark-blue, 0.7));
      background-size: 100%;
    }

    .light-theme & {
      color: $lt-text-color;
      background-color: $silver-20;
      background-size: 100%;
    }
  }

  .modal-header {
    height: $modal-header-height;
    padding: 70px $bar-height 0;
    border: 0;

    @include md {
      height: $md-modal-header-height;
      padding: 60px $md-bar-height 0;
    }

    @include sm {
      height: $sm-modal-header-height;
      padding: 40px ($md-bar-height / 2) 0;
    }

    .dark-theme & {
      background: rgba($pale-blue, 0.2);
    }

    .light-theme & {
      color: $white;
      background: $pale-blue;
    }
  }

  .modal-body {
    padding: 70px $bar-height;

    @include md {
      padding: 60px $md-bar-height;
    }

    @include sm {
      padding: 40px ($md-bar-height / 2);
    }
  }

  .btn-toolbar {
    margin-top: 20px;
  }

  .btn-primary {
    background-color: rgba($pale-blue, 0.5);
  }

  .small-select {
    min-width: 150px;

    .dropdown-menu {
      min-width: 150px;
    }
  }
}
