.options-item {
  min-height: $bar-height;
  padding-left: 15px;
  margin-bottom: 10px;

  @include md {
    min-height: $md-bar-height;
  }

  .dark-theme & {
    color: $dt-text-color;
    background-color: rgba($white, 0.1);
  }

  .light-theme & {
    background-color: rgba($white, 0.1);
  }

  &--name {
    font-weight: bold;
  }
}
