// Versions Sidebar
// ================

.configuration-versions {

  .version-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    min-height: $bar-height;

    @include md {
      min-height: $md-bar-height;
    }

    + li {
      border-top: 1px solid;

      .dark-theme &,
      .light-theme & {
        border-color: rgba($pale-blue, 0.2);
      }
    }

    p {
      margin: 0;
    }

    .version-title {
      position: absolute;
      top: 50%;
      font-weight: bold;
      transform: translateY(-50%);
    }
  }
}

.empty-msg {
  padding: 25px 40px;
}

.version-link {
  position: relative;
  display: block;
  height: 100%;
  min-height: $bar-height;
  padding: 11px 10px 11px $bar-height;
  text-decoration: none;
  cursor: pointer;

  @include md {
    min-height: $md-bar-height;
    padding-left: $md-bar-height;
  }

  &.active {

    .dark-theme &,
    .light-theme & {
      background-color: $pale-blue;
    }
  }

  &::before {
    position: absolute;
    top: 50%;
    left: $btn-sm-height / 2;
    width: $btn-height / 2;
    height: $btn-height / 2;
    margin-top: -($btn-height / 4);
    border-radius: 50%;
    content: '';

    @include md {
      left: $md-btn-sm-height / 2;
      width: $btn-sm-height / 2;
      height: $btn-sm-height / 2;
      margin-top: -($btn-sm-height / 4);
    }

    .dark-theme &,
    .light-theme & {
      background-color: rgba($black, 0.2);
    }
  }

  &::after {
    position: absolute;
    top: 50%;
    left: $btn-sm-height / 2;
    margin: -5px 0 0 13px;
    vertical-align: middle;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px dashed;
    content: '';

    @include md {
      left: $md-btn-sm-height / 2;
      margin-left: 11px;
    }

    .dark-theme & {
      border-left-color: $dt-text-color;
    }
    .light-theme & {
      border-left-color: $white;
    }
  }
}
