// Versions Sidebar
// ================

.configuration-versions {

  .version-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    min-height: $bar-height;

    @include md {
      min-height: $md-bar-height;
    }

    + li {
      border-top: 1px solid;

      .dark-theme & {
        border-color: rgba($pale-blue, 0.2);
      }

      .light-theme & {
        border-color: $silver-20;
      }
    }

    p {
      margin: 0;
    }

    .version-title {
      position: absolute;
      top: 50%;
      font-weight: bold;
      transform: translateY(-50%);
    }
  }

  .sidebar-section-header {
    text-transform: uppercase;
  }
}

.empty-msg {
  padding: 25px 40px;
}

.version-link {
  position: relative;
  display: block;
  height: 100%;
  min-height: $bar-height;
  padding: 25px 40px;
  text-decoration: none;
  cursor: pointer;

  @include md {
    min-height: $md-bar-height;
  }

  &.active {

    .dark-theme &,
    .light-theme & {
      background-color: $pale-blue;
    }
  }
}
