@import "../../../styles/base/variables";
@import "../../../styles/base/functions";
@import "../../../styles/base/colors";
@import '../../../styles/base/buttons';
@import '../../../styles/components/modal-form-panel';

$input-height: 36px;
$panel-vertical-padding: em(8px, 14px);
$panel-horizontal-padding: em(18px, 14px);

#tooltip-help {
  z-index: 1070;
}

.pod-form-sidebar {

  .form-group {

    .dropdown-select,
    .form-control {
      width: 300px;
      height: $input-height;
      margin-right: auto;
    }

    .input-group-addon {
      .btn-icon {
        position: absolute;
        top: 0;
        left: 300px;

        width: $input-height;
        height: $input-height;
        margin-left: 20px;
        color: $white;
        background-color: rgba($black, 0.2);
        border-radius: 50%;

      }
    }

    &.discovery-section {
      margin: $bar-height 0;

      label {
        display: block;
        line-height: $bar-height;
        margin: $form-group-padding 0;
      }

      .btn-add-new {
        float: right;
      }
    }

    .footprints {
      list-style-type: none;
      padding: 0;
      margin-top: $panel-horizontal-padding;
      
      > li {
        padding: 0 $panel-vertical-padding;
        background-color: rgba($pale-blue, 0.2);
        margin-bottom: $panel-vertical-padding;
        font-weight: bold;
        line-height: em(36px, 14px);

        .light-theme & {
          color: $lt-text-color;
          background-color: $white;
          box-shadow: 0 0 0 1px rgba($black, 0.1);
        }

        .action-buttons {
          text-align: right;
        }
      }
    }
  }

  .number-input-group {
    width: 281px;

    .form-control {
      width: 281px;
    }
  }

}
