.upload-certificate-form {
  .btn-success {
    float: right;
  }

  .key-and-certificates-list {
    margin-top: 30px;
    clear: both;

    >div {
      padding: 5px 15px;
      margin-bottom: 15px;
      font-weight: bold;
      line-height: 50px;
      background-color: rgba($pale-blue, 0.2);

      >.icon {
        margin-right: 15px;
        fill: $pale-blue;
      }

      .btn-default {
        float: right;
        margin-top: 8px;
        background: none;
      }

      .light-theme & {
        color: $lt-text-color;
        background-color: $white;
        box-shadow: 0 0 0 1px rgba($black, 0.1);

        .icon {
          fill: $lt-text-color;
        }
      }
    }
  }

  a:hover {
    cursor: pointer;
  }

  .upload-dropzone {
    width: 100%;
    padding: 30px 0;
    margin: 20px 0;
    border-style: dashed;
    border-width: 2px;
    border-radius: 5px;

    .dark-theme & {
      border-color: $dt-text-color;
    }

    .light-theme & {
      border-color: $silver-60;
    }

    span {
      display: block;
      font-weight: bold;
      text-align: center;
    }

    &.upload-dropzone-active {
      height: 200px;
      color: $pale-blue !important;
      border-color: $pale-blue !important;
    }
  }
}
