.analysis-by-time {
  position: relative;
  overflow: hidden;

  .dark-theme & {
    background-color: rgba($black, 0.2);
  }

  &.bg-transparent {
    background-color: transparent;
  }

  .line {
    stroke-width: 2px;

    .dark-theme & {
      stroke: $pale-blue;
      fill: transparent;
    }

    .light-theme & {
      stroke: $pale-blue;
      fill: transparent;
    }
  }

  .axis-tick {
    stroke: $silver;
  }

  text {
    font-size: 12px;

    .dark-theme & {
      fill: $dt-text-color;
    }

    .light-theme & {
      fill: $lt-text-color;
    }
  }

  circle {
    stroke-width: 2px;

    .dark-theme & {
      stroke: rgba($pale-blue, 0.5);
      fill: transparent;
    }
  }

  .crosshair {
    stroke-width: 1px;

    .dark-theme & {
      stroke: rgba($black, 0.2);
    }
  }
}
