// Analysis by Location
// ====================

.analysis-by-location {
  position: relative;

  @include print {
    // scss-lint:disable ImportantRule
    // Need to override default styles
    svg {
      width: 100% !important;
      height: auto !important;
      min-height: 400px;
    }
  }

  .chart {
    position: relative;
    text-align: center;
  }

  .dark-theme &:not(.no-bg) {
    background-color: rgba($black, 0.2);
  }

  .light-theme &:not(.no-bg) {
    background-color: $white;
  }

  .country {
    opacity: 1;
    transition: transform 500ms linear, opacity 500ms, stroke-width 500ms;
    fill: rgba($pale-blue, 0.2);
    stroke-width: 1;
    stroke: rgba($pale-blue, 0.4);
  }

  .hiddenpath {
    opacity: 0;
  }

  .country-0 {
    fill: rgba($pale-blue, 0.8);
  }

  .country-1 {
    fill: rgba($pale-blue, 0.7);
  }

  .country-2 {
    fill: rgba($pale-blue, 0.6);
  }

  .country-3 {
    fill: rgba($pale-blue, 0.5);
  }

  .country-4 {
    fill: rgba($pale-blue, 0.4);
  }

  .zoom-out {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    border-radius: 3px;

    a {
      padding: 5px 10px;
      color: $grey;
      text-decoration: none;
      background-color: $silver;
    }
  }

  .chart-tooltip {
    margin-top: 50px;
    margin-left: 50px;
  }
}
