// Analysis by Time
// ================

.analysis-by-time {
  position: relative;

  @include print {
    &:not(.bg-transparent) {
      border: 1px solid $silver-40;
    }

    svg {
      width: 100% !important;
      height: auto !important;

      .transfer-by-time &,
      .visitors-by-time & {
        min-height: 250px;
      }
    }
  }

  .dark-theme & {
    background-color: rgba($black, 0.2);
  }

  .light-theme & {
    background-color: $white;
  }

  &.bg-transparent {
    background-color: transparent;
  }

  .dataset-comparison {
    opacity: 0.4;
  }

  .line {
    stroke: $pale-blue;
    stroke-width: 2px;
    fill: transparent;
  }

  .axis-tick {
    stroke: $silver;
  }

  text {

    @include print {
      font-size: $font-size;
      fill: $black !important;
    }

    .dark-theme & {
      fill: $dt-text-color;
    }

    .light-theme & {
      fill: $lt-text-color;
    }
  }

  circle {
    stroke-width: 2px;
    fill: transparent;

    .dark-theme & {
      stroke: rgba($dt-text-color, 0.5);
    }

    .light-theme & {
      stroke: rgba($lt-text-color, 0.5);
    }
  }

  .crosshair {
    stroke-width: 1px;

    .dark-theme &,
    .light-theme & {
      stroke: rgba($black, 0.2);
    }
  }

  .slice {
    opacity: 0;
    fill: rgba($pale-blue, 0.4);

    &:hover {
      cursor: pointer;
      opacity: 1;
      transition: opacity 200ms;
    }
  }
}
