.analysis-by-time {

  .dark-theme & {
    background-color: rgba($black, 0.2);
  }

  path {
    fill: transparent;
    stroke-width: 1px;
  }

  .primary {
    stroke: $green;
  }

  .secondary {
    stroke: $pale-blue;
  }

  .axis-tick {
    stroke: $silver;
  }

  text {
    fill: $white;
    font-size: 12px;
  }
}
