.analysis-by-location {
  .country {
    opacity: 1;
    transition: transform 500ms linear, opacity 500ms, stroke-width 500ms;
    fill: transparent;
    stroke-width: 1px;
    stroke: $grey;
  }

  .hiddenpath {
    opacity: 0;
  }
}
