.analysis-contribution {

  .dataset-labels {
    position: absolute;
    top: 25px;
    right: 30px;

    .line-0,
    .line-1,
    .line-2,
    .line-3 {
      stroke-width: 0;
    }

    .chart-label {
      margin: 0 15px 0 5px;
      vertical-align: top;
    }
  }
}
