.analysis-file-error {

  .analysis-data-box {
    width: initial;
    max-width: initial;
  }

  .error-summary {
    display: inline-block;
    width: 170px;
    padding: 0 15px;
    text-align: center;

    .dark-theme & {
      border-left: 1px solid $dt-text-color;
    }

    .light-left & {
      border-right: 1px solid $lt-text-color;
    }

    &:first-child {
      border-left: 0;
    }
  }
}
