.analysis-playback-demo {
  margin: -80px;

  @media (max-width: 1689px) {
    margin: -60px;
  }

  .container-fluid.low-pad {
    padding: 20px 40px;
  }

  .summary-stat {
    display: inline-block;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid $silver;

    &:last-child {
      margin-right: 0;
      border-right-width: 0;
    }

    h4 {
      margin-bottom: 0;
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .stat {
    font-size: 40px;
    font-weight: bold;
  }

  .unit {
    font-size: 30px;
  }

  .container-fluid-video {
    position: relative;
    min-height: 540px;
  }

  video {
    width: 960px;
    height: 540px;
  }

  .video-error-msg {
    position: absolute;
    top: 50%;
    right: 40px;
    left: 40px;
    padding: 15px 10px;
    margin: -52px 0 0;
    background: $purple;
  }

  .chart-row {
    position: relative;
    margin-bottom: 40px;
    overflow: auto;

    .title {
      position: absolute;
      top: 20px;
      left: 20px;
      font-weight: bold;
    }

    .stat {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .analysis-by-time {
    .dark-theme & {
      background-color: rgba($pale-blue, 0.1);
    }
  }
}
