.analysis-stacked {
  line {
    stroke-width: 20px;
  }

  .line-0 {

    .dark-theme &,
    .light-theme & {
      color: $pale-blue;
      stroke: $pale-blue;
    }
  }

  .line-1 {

    .dark-theme &,
    .light-theme & {
      color: $yellow;
      stroke: $yellow;
    }
  }

  .dataset-labels {
    display: flex;
  }

  .chart-label-container {
    display: flex;
    align-items: center;
  }

  .chart-label {
    font-weight: bold;
  }

  .x-axis {
    text-anchor: middle;
  }

  .y-axis {
    text-anchor: end;
  }
}
