.analysis-stacked {
  line {
    stroke-width: 20px;
  }

  .line-0 {

    .dark-theme &,
    .light-theme & {
      color: $pale-blue;
      stroke: $pale-blue;
    }
  }

  .line-1 {

    .dark-theme &,
    .light-theme & {
      color: $yellow;
      stroke: $yellow;
    }
  }
}
