@import "../../../components/analysis/by-time/legend.scss";

.analysis-stacked {
  background-color: rgba($black, 0.2);
  height: 100%;
  line {
    stroke-width: 20px;
  }

  .rechart-tooltip {
    @extend .chart-legend;
    position: relative;
    background-color: rgba($black, 0.8);
    padding: 10px 0;
    top: auto;
    right: auto;
    min-width: auto;

    .tooltip-item {
      @extend .legend-item;
      padding: 0 0.6em;
    }
  }

  .stacked-chart-label {
    top: 1.5em;
    left: 2em;
    position: absolute;
    font-weight: bold;
  }

  .legend-icon {
      font-weight: bold;
      margin-right: 0.5em;
  }

  .rechart-legend {
    padding: 1em 5em 1em 1em;
    background-color: rgba($black, 0.4);
  }

  .recharts-bar-rectangle:hover {
    opacity: 0.8;
  }

  .recharts-bar-cursor {
    display: none;
  }

  .dataset-labels {
    display: flex;
  }

  .chart-label-container {
    display: flex;
    align-items: center;
  }

  .chart-label {
    font-weight: bold;
  }

  .x-axis {
    text-anchor: middle;
  }

  .y-axis {
    text-anchor: end;
  }
}
