.chart-holder {
  margin-bottom: 20px;
  header {
    & > * {
      display: inline-block;
    }

    h3 {
      padding-right: 40px;
    }
    .form-group {
      padding-right: 20px;

      input[type="radio"]:checked+span {
        font-weight: bold;
      }
    }

  }
}
