@import '../../base/colors';

.udn-pagination .pagination {
  > li {
    > a {
      padding: 8px;
      margin-right: 1px;
      font-size: 15px;
      color: $white;
      border: 0;
      border-radius: 0;

      .dark-theme & {
        background-color: $dark-paginator;
        border-right: 1px solid $dark-paginator-border;
      }

      .light-theme & {
        background-color: rgba($pale-blue, 0.5);
        border-right: 1px solid $white;
      }

      span[aria-label='First'],
      span[aria-label='Last'] {
        padding: 6px;
      }
    }

    &:last-child > a {
      border-right: 0;
    }

    &.active > a {
      background-color: $pale-blue;
    }
  }
}
