@import '../../../styles/base/colors';

.sp-footprint-form {

  .form-group {
    margin-bottom: 20px;

    .control-label {
      margin-bottom: 10px;
    }
  }

  .radio {
    margin-bottom: 10px;
  }
}

.token {
  &__valid {
    background-color: $green !important;
  }

  &__invalid {
    background-color: $red !important;
  }
}
