@import '../../../styles/base/variables';

.support-tools-list {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: calc(94% / 4);
    margin: 1%;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// Two column list
@media (max-width: #{$screen-md-min - 1}) {
  .support-tools-list > * {
    width: 49%;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }
}
