// Content Item List
// =================

.content-item-lists {
  padding-top: 1px;
}

.content-item-list {
  position: relative;
  height: $content-item-list-height;
  margin-top: 20px;

  @include md {
    height: $md-content-item-list-height;
  }

  @include print {
    border: 1px solid $silver-20;
  }

  .dark-theme & {
    background-color: rgba($black, 0.2);
  }

  .light-theme & {
    background-color: $white;
  }

  .content-item-list-link {
    display: block;
    width: 100%;
    color: inherit;
    text-decoration: inherit;

    @include print {
      // scss-lint:disable ImportantRule
      // Need to override Bootstrap link href for links
      &::after {
        content: '' !important;
      }

      > .pull-right {
        float: none !important;
      }
    }
  }

  .content-item-list-section {
    position: relative;
    float: left;
    height: $content-item-list-height;
    padding: 30px;

    @include md {
      height: $md-content-item-list-height;
      padding: 15px;
    }

    .dark-theme & {
      background-color: $dark-blue;

      & b {
        color: $white;
      }

      & h1 {
        color: $white;
      }
    }

    &.section-lg {
      width: 450px;

      @include md {
        width: 330px;
      }

      @include sm {
        width: 280px;
      }

      @include print {
        width: 35%;
      }
    }

    &.section-sm {
      width: 250px;
      padding-top: 56px;

      @include md {
        width: 190px;
        padding-top: 33px;
      }

      @include sm {
        width: 160px;
      }

      @include print {
        width: 30%;
      }

      .dark-theme & {
        border-right: 1px solid rgba($black, 0.2);

        @include print {
          border-right: 1px solid $silver-20;
          border-left: 1px solid $silver-20;
        }
      }

      .light-theme & {
        border-right: 1px solid $silver-20;

        @include print {
          border-right: 1px solid $silver-20;
          border-left: 1px solid $silver-20;
        }
      }
    }
  }

  .content-item-list-name {
    overflow: hidden;
    font-size: 30px;
    font-weight: 500;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;

    .dark-theme & {
      color: $white;
    }

    @include md {
      font-size: 24px;
    }

    @include sm {
      font-size: 20px;
    }
  }

  .content-item-list-tag {
    bottom: 15px;
    left: 15px;
    padding: 0 $content-item-tag-font-size * 1.5;
  }

  .content-item-list-details {
    position: absolute;
    bottom: 30px;
    left: 30px;

    @include md {
      bottom: 15px;
      left: 15px;
    }

    p {
      margin: 0;
    }
  }

  h1 {
    margin: 22px 0 0;
  }

  .btn-toolbar {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }

  .content-item-list-chart {
    display: flex;
    height: $content-item-list-height;
    margin: 0 700px 0 450px;
    background-color: rgba($dark-blue, 0.8);
    align-items: center;
    justify-content: center;

    //needed to make mini-chart responsive
    .line-area-composed-chart-container,
    .content-transition {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }


    @include md {
      height: $md-content-item-list-height;
      margin: 0 520px 0 330px;
    }

    @include sm {
      margin: 0 440px 0 280px;
    }

    @include print {
      position: absolute;
      width: 100%;
      margin: 0;
    }

    .light-theme & {
      border-right: 1px solid $silver-20;
      border-left: 1px solid $silver-20;
    }

    svg {
      display: block;
    }
  }
}

.storage-wrapper {
  margin-bottom: 20px;
}

.storage-item-list {
  .row {
    margin-left: 20px;
  }
}
