// Styles for both the Content Item Chart and List View
// ====================================================
$content-item-tag-font-size: rem(16px);

.content-item-chart,
.content-item-list {

  &:hover .content-item-chart-tag {
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms;
  }

  .content-item-tag {
    position: absolute;
    font-size: $content-item-tag-font-size;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;


    .dark-theme & {
      background-color: rgba($deep-blue, 0.4);
    }

    .light-theme & {
      background-color: rgba($pale-blue, 0.6);
    }
  }

  .btn-icon {
    .dark-theme &,
    .light-theme & {
      &:hover,
      &:focus,
      &:active,
      &.active,
      &:active:hover,
      &.active:focus {
        .icon {
          fill: $pale-blue;
        }
      }
    }

    .dark-theme & {
      background-color: $black;
      background-image: linear-gradient(rgba($pale-blue, 0.3), rgba($pale-blue, 0.3));

      &:hover,
      &:focus {
        background-image: linear-gradient(rgba($pale-blue, 0.4), rgba($pale-blue, 0.4));
      }

      &:active,
      &.active,
      &:active:hover,
      &.active:focus {
        background-image: linear-gradient(rgba($pale-blue, 0.2), rgba($pale-blue, 0.2));
        box-shadow: 0 0 0 2px $white;
      }
    }

    .light-theme & {
      background-color: $pale-blue;
      background-image: linear-gradient(rgba($black, 0.2), rgba($black, 0.2));

      &:hover,
      &:focus {
        background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3));
      }

      &:active,
      &.active,
      &:active:hover,
      &.active:focus {
        background-image: linear-gradient(rgba($black, 0.4), rgba($black, 0.4));
        box-shadow: 0 0 0 2px rgba($black, 0.4);
      }
    }
  }
}
