// Content Item Chart
// ==================

.content-item-grid {
  text-align: center;

  .grid-item {
    display: inline-block;
    margin: 2%;
    vertical-align: middle;

    @include md {
      margin: -40px;
    }

    @include print {
      margin: -110px;
    }
  }

  .storage-wrapper {
    display: inline;
  }
}

// scss-lint:disable SelectorDepth
.content-item-chart {
  position: relative;
  border-radius: 50%;

  @include md {
    transform: scale(0.75);
  }

  @include print {
    transform: scale(0.5);
  }

  .dark-theme &.bright {
    .btn-icon:hover {
      background: rgba($black, 0.4);
    }

    .circle-gradient {
      background: linear-gradient($pale-blue, rgba($pale-blue, 0.6));
      opacity: 0.6;
    }
  }

  &:hover {

    .content-item-toolbar .invisible {
      opacity: 1;
      visibility: visible;
      transition: opacity 250ms;
    }

    .hover-info {
      opacity: 1;
    }

  }

  .hover-info,
  .hidden-slices {
    opacity: 0;
    transition: opacity 200ms;
  }

  .content-item-chart-link {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    border-radius: 50%;

    @include print {
      // scss-lint:disable ImportantRule
      // Need to override Bootstrap link href for links
      &::after {
        content: '' !important;
      }
    }
  }

  .circle-base {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;

    @include print {
      overflow: hidden;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        border: 200px solid $white;
        content: '';
      }

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 10px solid transparent;
        border-radius: 50%;
        content: '';
      }
    }

    .dark-theme & {
      background-color: $black;
    }

    .light-theme & {
      background-color: $pale-blue;
    }
  }

  .circle-gradient {
    width: 100%;
    height: 100%;
    border: 10px solid;
    border-radius: 50%;
    transition: opacity 250ms;

    .dark-theme & {
      background: linear-gradient($pale-blue, rgba($ericsson-dark-blue, 0.3));
      background-position: center center;
      background-size: 100%;
      border-color: $black;
      opacity: 0.3;
    }

    .light-theme & {
      background: linear-gradient($white, rgba($white, 0.1));
      opacity: 0.5;
    }
  }

  .content-item-chart-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &.difference-arc {
      fill: transparent;
      stroke-width: 1;
    }

    .dark-theme &,
    .light-theme & {

      .below-avg {
        fill: $purple;
        stroke: $purple;
      }

      .avg {
        fill: $pale-blue;
        stroke: $pale-blue;
      }

      .above-avg {
        fill: $green;
        stroke: $green;
      }
    }
  }

  .primary-data {
    stroke-width: 2;

    .content-item-chart-line {
      stroke: $pale-blue;
      fill: $pale-blue;
    }

    .media-delivery-line {
      stroke: $pale-blue;
      fill: $pale-blue;
    }

    .vod-streaming-line {
      stroke: $yellow;
      fill: $yellow;
    }

    .live-streaming-line {
      stroke: $green;
      fill: $green;
    }
  }


  .secondary-data {
    stroke: transparent;

    .content-item-chart-line {
      .light-theme & {
        fill: $silver-40;
      }

      .dark-theme & {
        fill: rgba($pale-blue, 0.2);
      }
    }

    .media-delivery-line {
      fill: rgba($pale-blue, 0.2);
    }

    .vod-streaming-line {
      fill: rgba($yellow, 0.2);
    }

    .live-streaming-line {
      fill: rgba($green, 0.2);
    }
  }

  .day-arc {
    opacity: 0.1;
    transition: opacity 200ms;
    fill: $pale-blue;

    &:hover {
      opacity: 0.4;
    }
  }

  .text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    .light-theme & {
      color: $white;
    }

    .content-item-text-bold {
      font-weight: bold;
    }

    .content-item-text-sm {
      font-size: $content-item-tag-font-size;
    }

    p {
      margin-bottom: 8px;
      line-height: 1em;
    }
  }

  .content-item-traffic {
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 24px;
    line-height: 1em;
    transform: translateX(-50%);

    .content-item-text-bold {
      margin-bottom: 4px;
    }
  }

  .content-item-text-centered {
    position: absolute;
    top: 44%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -32%);
  }

  .content-item-chart-name {
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 36px;
    font-weight: bold;
    line-height: 1em;
    color: $white;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
  }

  .content-item-chart-tag {
    bottom: 12%;
    left: 50%;
    padding: 0 $content-item-tag-font-size;
    transform: translate(-50%, -32%);
  }

  .content-item-toolbar {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 45%;
    transform: translate(-50%, -100%);

    .btn-icon {
      width: 44px; // TODO: temporary until starburst scaling is removed
      height: 44px; // TODO: temporary until starburst scaling is removed

      .icon {
        width: 44px; // TODO: temporary until starburst scaling is removed
        height: 44px; // TODO: temporary until starburst scaling is removed
      }
    }

    .btn-toolbar > .btn + .btn {
      margin-left: 12px;
    }
  }
}

.difference-legend {
  width: 10px;
  height: 10px;
  margin-top: 8px;

  @include md {
    margin-top: 6px;
  }

  &.below-avg {
    background-color: $purple;
  }

  &.above-avg {
    background-color: $green;
  }

  &.no-data {
    .dark-theme & {
      background-color: $black;
      border: 1px solid rgba($white, 0.2);
    }

    .light-theme & {
      background: linear-gradient(rgba($pale-blue, 0.5), rgba($pale-blue, 0.5));
      background-color: $lt-text-color;
    }
  }

  .dark-theme &.avg,
  .light-theme &.avg {
    background-color: $pale-blue;
  }
}

.color-legend-container {
  .dark-theme & {
    background-color: rgba($black, 0.4);
  }

  .light-theme & {
    background-color: rgba($white, 0.8);
  }
  padding-top: 6px;
  padding-bottom: 8px;
  margin-right: 15px;
  width: 150px;
}

.color-legend {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border: 1px solid $black;
  @include md {
    margin-top: 7px;
  }

  &.media-delivery {
    background-color: $pale-blue;
  }

  &.vod-streaming {
    background-color: $yellow;
  }

  &.live-streaming {
    background-color: $green;
  }
}
