.account-management {
  .tab-bodies {
    padding: 35px 60px;

    @include md {
      padding: 25px 60px;
    }
  }
}

.account-management-storages {
  .array-td-more-link {
    margin-left: 5px;
  }
}
