.analysis-container {
  .by-country-table {
    th {
      text-transform: uppercase;
    }

    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(5) {
      text-align: right;
    }
  }

  .total-egress {
    width: 250px;
    padding: 20px;

    .dark-theme & {
      background-color: rgba($black, 0.2);
    }

    h4 {
      font-size: 12px;
      text-transform: uppercase;
    }

    p {
      font-size: 35px;
      font-weight: bold;
    }
  }
}
