@import '../../styles/base/variables';
@import '../../styles/base/colors';

.analytics-container {
  .analysis-data-box {
    float: left;
    width: 40%;
    max-width: 350px;
    padding: $btn-height / 2;
    margin-right: 20px;

    @include md {
      padding: $md-btn-height / 2;
    }

    @include print {
      padding: 0;
    }

    &.wide {
      float: none;
      width: 100%;
      max-width: 900px;
      clear: both;
    }

    .dark-theme & {
      background-color: rgba($black, 0.2);
    }

    .light-theme & {
      background-color: $white;
    }

    h4 {
      margin-bottom: 5px;
      font-size: $font-size-sm;
      text-transform: uppercase;

      @include md {
        font-size: $md-font-size-sm;
      }

      @include print {
        font-size: $print-font-size;
      }
    }

    p {
      margin-bottom: 5px;
      font-size: 40px;
      font-weight: bold;

      @include sm {
        font-size: 32px;
      }

      @include print {
        font-size: $print-font-size * 2;
      }
    }
  }
}
