// Analysis
// ========

.analysis-container {

  .by-country-table {

    // scss-lint:disable SelectorDepth NestingDepth
    // Need to be very specific here
    .analysis-by-time {

      .dark-theme & {
        background-color: transparent;
      }

      .light-theme & {
        background-color: transparent;
      }

    }
  }

  .total-egress {
    width: 250px;
    padding: 20px;

    .dark-theme & {
      background-color: rgba($black, 0.2);
    }

    h4 {
      font-size: 12px;
      text-transform: uppercase;
    }

    p {
      font-size: 35px;
      font-weight: bold;
    }
  }
}

.table-analysis {

  th {
    text-transform: uppercase;
  }

  th:not(:first-child):not(.text-center),
  td:not(:first-child) {
    text-align: right;
  }

  td:not(:last-child) {

    .dark-theme &,
    .light-theme & {
      border-right: 1px solid rgba($black, 0.2);
    }
  }

  svg {
    vertical-align: middle;
  }
}
