// Analysis
// ========

.analysis-container {

  .analysis-data-box {
    width: 40%;
    max-width: 350px;
    padding: $btn-height / 2;

    @include md {
      padding: $md-btn-height / 2;
    }

    &.wide {
      width: 100%;
      max-width: 900px;
    }

    .dark-theme & {
      background-color: rgba($black, 0.2);
    }

    .light-theme & {
      background-color: $white;
    }

    h4 {
      margin-bottom: 5px;
      font-size: $font-size-sm;
      text-transform: uppercase;

      @include md {
        font-size: $md-font-size-sm;
      }
    }

    p {
      margin-bottom: 5px;
      font-size: 40px;
      font-weight: bold;

      @include sm {
        font-size: 32px;
      }
    }
  }

  .row .analysis-data-box {
    float: left;
    margin-right: $btn-height;

    @include md {
      margin-right: $md-btn-height;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.table-analysis {

  th:not(:first-child):not(.text-center),
  td:not(:first-child) {
    text-align: right;

    .active {
      padding-right: $btn-height / 2;
      text-indent: -$btn-height / 2;

      @include md {
        padding-right: $md-btn-height / 2;
        text-indent: -$md-btn-height / 2;
      }
    }
  }

  svg {
    vertical-align: middle;
  }

  .analysis-by-time {

    .dark-theme & {
      background-color: transparent;
    }

    .light-theme & {
      background-color: transparent;
    }
  }
}

.on-net {

  .dark-theme &,
  .light-theme & {
    color: $pale-blue;
    stroke: $pale-blue;
  }
}

.off-net {

  .dark-theme &,
  .light-theme & {
    color: $yellow;
    stroke: $yellow;
  }
}
