// Analysis
// ========

.analysis-nav {
  position: fixed;
  z-index: $zindex-analysis-nav;
  width: 100%;

  .dark-theme & {
    background-color: rgb(1, 64, 82) !important;
  }
}

.analysis-chart-container {
  position: relative;
  height: 35vw;

  .line-0 {

    .dark-theme &,
    .light-theme & {
      &,
      & .recharts-bar-rectangle {
        color: $link-blue !important;
        fill: $link-blue !important;
        stroke: $link-blue !important;
      }
    }
  }

  .line-1 {

    .dark-theme &,
    .light-theme & {
      &,
      & .recharts-bar-rectangle {
        color: $pale-blue !important;
        fill: $pale-blue !important;
        stroke: $pale-blue !important;
      }
    }
  }

  .line-2 {

    .dark-theme &,
    .light-theme & {
      &,
      & .recharts-bar-rectangle {
        color: $orange !important;
        fill: $orange !important;
        stroke: $orange !important;
      }
    }
  }

  .line-3 {

    .dark-theme &,
    .light-theme & {
      &,
      & .recharts-bar-rectangle {
        color: $yellow !important;
        fill: $yellow !important;
        stroke: $yellow !important;
      }
    }
  }

}

.analysis-container {
  padding-top: calc(#{$bar-height} + #{$bar-height}) !important;

  @include md {
    padding-top: calc(#{$md-bar-height} + #{$md-bar-height}) !important;
  }

  .analysis-data-box {
    width: 40%;
    max-width: 350px;
    padding: $btn-height / 2;

    @include md {
      padding: $md-btn-height / 2;
    }

    @include print {
      padding: 0;
    }

    &.wide {
      width: 100%;
      max-width: 900px;
    }

    .dark-theme & {
      background-color: rgba($black, 0.2);
    }

    .light-theme & {
      background-color: $white;
    }

    h4 {
      margin-bottom: 5px;
      font-size: $font-size-sm;
      text-transform: uppercase;

      @include md {
        font-size: $md-font-size-sm;
      }

      @include print {
        font-size: $print-font-size;
      }
    }

    p {
      margin-bottom: 5px;
      font-size: 40px;
      font-weight: bold;

      @include sm {
        font-size: 32px;
      }

      @include print {
        font-size: $print-font-size * 2;
      }
    }
  }

  .row .analysis-data-box {
    float: left;
    margin-right: $btn-height;

    @include md {
      margin-right: $md-btn-height;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.table-analysis {

  @include print {
    // scss-lint:disable ImportantRule
    // Need to override default styles
    th,
    td {
      width: auto !important;
    }
  }

  th:not(:first-child):not(.text-center),
  td:not(:first-child) {
    text-align: right;

    &.text-left {
      text-align: left;
    }
  }

  svg {
    vertical-align: middle;
  }

  .analysis-by-time {

    .dark-theme & {
      background-color: transparent;
    }

    .light-theme & {
      background-color: transparent;
    }
  }
}

.on-net {

  .dark-theme &,
  .light-theme & {
    color: $pale-blue;
    stroke: $pale-blue;
  }
}

.off-net {

  .dark-theme &,
  .light-theme & {
    color: $yellow;
    stroke: $yellow;
  }
}
