// Configurations
// ==============

.configuration-header {
  width: calc(100% - #{$sidebar-width});

  @include md {
    width: calc(100% - #{$md-sidebar-width});
  }

  @include sm {
    width: calc(100% - #{$sm-sidebar-width});
  }

  .dark-theme & {
    .nav-tabs {
      background-color: rgb(1, 64, 82);
    }
    .page-header-layout {
      background-color: rgb(1, 51, 66);
    }
  }

  position: fixed;
  z-index: 5;
}

.configuration-container {
  padding-top: calc(#{$page-header-height} + #{$bar-height} + #{$bar-height}) !important;

  @include md {
    padding-top: calc(#{$md-page-header-height} + #{$md-bar-height} + #{$md-bar-height}) !important;
  }

}

.configurations-container {

  td:last-child {
    text-align: right;

    a {
      margin-left: 20px;
      text-transform: uppercase;

      @include print {
        // scss-lint:disable ImportantRule
        // Need to override Bootstrap link href for links
        &::after {
          content: '' !important;
        }
      }
    }
  }

  .search {
    padding-left: 50px;

    .dark-theme & {
      background-image: url('../assets/icons/dt-icon-search.svg');
      background-position: 15px center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }

    .light-theme & {
      background-image: url('../assets/icons/lt-icon-search.svg');
      background-position: 15px center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }
  }
}
