// Configurations
// ==============

.configuration-header {
  position: fixed;
  z-index: 5;
  width: calc(100% - #{$navigation-sidebar-width});

  .nav-tabs {
    padding: 0 35px;
  }

  .dark-theme & {
    .nav-tabs {
      background-color: rgb(1, 64, 82);
    }

    .page-header-layout {
      background-color: rgb(1, 51, 66);
    }
  }
}

.configuration-container {

  .content-container {
    padding-top: calc(#{$page-header-height} + #{$bar-height} + #{$bar-height}) !important;

    @include md {
      padding-top: calc(#{$md-page-header-height} + #{$md-bar-height} + #{$md-bar-height}) !important;
    }
  }

  .versions-btn {
    margin-left: 10px;

    .icon-holder {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 25px;
      margin: 7px 10px 0 0;
      vertical-align: top;
      background-color: rgba($black, 0.1);
      border-radius: 50%;
    }

    .icon {
      position: absolute;
      top: 3px;
      left: 8px;
      width: 7px;
      fill: $white;
    }
  }
}

.configuration-versions-sidebar {

  .sidebar-layout {
    top: 0;
    width: 100%;
  }
}

.configurations-container {

  td:last-child {
    text-align: right;

    a {
      margin-left: 20px;
      text-transform: uppercase;

      @include print {
        // scss-lint:disable ImportantRule
        // Need to override Bootstrap link href for links
        &::after {
          content: '' !important;
        }
      }
    }
  }

  .search {
    padding-left: 50px;

    .dark-theme & {
      background-image: url('../assets/icons/dt-icon-search.svg');
      background-position: 15px center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }

    .light-theme & {
      background-image: url('../assets/icons/lt-icon-search.svg');
      background-position: 15px center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }
  }
}
