// Content
// =======

.content-container {
  padding-bottom: 100px;
}

.content-subcontainer .body-content {
  .chart-view & {
    background-attachment: fixed;
    background-image: linear-gradient(rgba($pale-blue, 0.5), rgba($purple, 0.5)),
      linear-gradient(to top right, $ericsson-dark-blue, $pale-blue);
    background-size: 100%;
  }
}
