// Content
// =======

.content-header {
  height: $page-header-height;
  padding: 35px 40px 0;
  background-color: rgba($black, 0.2);

  p {
    margin: 0;
  }

  .btn-toolbar {
    margin-top: 15px;
  }
}

.content-container {
  padding-bottom: 100px;
}
