// Content
// =======

.main-content {
  height: 100%;
}

.content-container {

  .dark-theme & {
    background-attachment: fixed;
    background-color: $black;
    background-image: radial-gradient(circle, rgba($purple, 0), rgba($purple, 0.2)),
      linear-gradient(rgba($pale-blue, 0.5), rgba($pale-blue, 0.25));
    background-size: 100%;
  }

  .light-theme & {
    background-color: $silver-20;
  }
}

.content-subcontainer .body-content {

  .light-theme.chart-view & {
    background-attachment: fixed;
    background-image: linear-gradient(rgba($pale-blue, 0.5), rgba($purple, 0.5)),
      linear-gradient(to top right, $ericsson-dark-blue, $pale-blue);
    background-size: 100%;
  }
}
