// Login
// =====

.login-modal {
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 654px;
    transform: translate(-50%, -50%);
  }

  .modal-body {
    padding: 0 60px 72px;

    .form-group {
      padding-bottom: 24px;
    }

    .remember-checkbox {
      padding: 6px 0;

      .form-group {
        padding-bottom: 0;
      }
    }
  }

  // TODO: this needs to be updated to be used on all modals
  // Using important to override background properties on modals
  // !important will be removed once the base modal colors are updated
  .modal-content {
    background-color: $medium-blue !important;
    background-image: none !important;
  }
}

.login-header {
  position: relative;
  padding: 60px 60px 48px;
  color: $white;
  border: 0;

  .login-header-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: $gradient-full;
  }

  .logo-ericsson {
    float: left;
    width: 28px;
    margin: 0 18px 18px 12px;
    text-indent: -9999em;
    background: url('../assets/img/logo-ericsson.svg') center center no-repeat;
    background-size: 100%;
  }

  .login-subtitle {
    margin: 0;
    color: $dt-text-color;
  }
}

.has-login-label {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    left: $bar-height;
    margin-left: 24px;
    transform: translate(0, -50%);
    transition: left 250ms, margin 250ms, transform 250ms;
  }

  &.active::after {
    left: 100%;
    margin-left: -30px;
    transform: translate(-100%, -50%);
  }

  &.login-label-username::after {
    content: 'Email';
  }

  &.login-label-password::after {
    content: 'Password';
  }

  &.login-label-confirm::after {
    content: 'Confirm';
  }

  &.login-label-email::after {
    content: 'Email';
  }

  &.login-label-password.valid::after,
  &.login-label-confirm.valid::after {
    padding-left: 26px;
    color: $green;
    background: url('../assets/icons/icon-valid.svg') left center no-repeat;
    background-size: 17px 16px;
  }
}

.login-info {
  margin-top: -20px;
  margin-bottom: 20px;
}
