// Login
// =====

$modal-bg-color: $medium-blue;
$login-modal-header-top-padding: rem(54px);
$login-modal-header-bottom-padding: rem(36px);
$login-modal-body-bottom-padding: rem(24px);
$login-modal-vertical-padding: rem(60px);
$login-modal-body-bottom-margin: rem(24px);
$login-modal-logo-width: rem(28px);
$login-modal-logo-right-padding: rem(18px);
$login-modal-logo-bottom-padding: rem(18px);
$login-modal-logo-left-padding: rem(12px);

.login-modal {
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // TODO: This should be removed when we no longer allow a light
  // themed login page. See: https://vidscale.atlassian.net/browse/UDNP-1328
  .modal-content {
    background-color: $modal-bg-color !important;
    background-image: none !important;

    .light-theme & {
      color: $dt-text-color;
    }
  }

  .modal-header {
    position: relative;
    padding: $login-modal-header-top-padding $login-modal-vertical-padding $login-modal-header-bottom-padding;
    color: $white;
    border: 0;
  }

  .modal-body {
    padding: 0 $login-modal-vertical-padding $login-modal-body-bottom-padding;

    .form-group {
      padding: 0;
      margin-bottom: $login-modal-body-bottom-margin;
    }

    .input-group-addon:last-child {
      margin: 0;
    }

    .remember-checkbox {
      padding: 6px 0;

      .form-group {
        padding: 0;
        margin: 0;
      }
    }

    .login-copyright {
      padding: 0;
      margin: $login-modal-body-bottom-margin 0 0;
      color: rgba($dt-text-color, 0.5);
    }
  }
}

.login-header {
  .login-header-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: $gradient-full;
  }

  .logo-ericsson {
    float: left;
    width: $login-modal-logo-width;
    margin: 0 $login-modal-logo-right-padding $login-modal-logo-bottom-padding $login-modal-logo-left-padding;
    text-indent: -9999em;
    background: url('../assets/img/logo-ericsson.svg') center center no-repeat;
    background-size: 100%;
  }

  .login-subtitle {
    margin: 0;
    color: $dt-text-color;
  }
}

.has-login-label {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    left: $bar-height;
    margin-left: 24px;
    transform: translate(0, -50%);
    transition: left 250ms, margin 250ms, transform 250ms;
  }

  &.active::after {
    left: 100%;
    margin-left: -30px;
    transform: translate(-100%, -50%);
  }

  &.login-label-username::after {
    content: 'Email';
  }

  &.login-label-password::after {
    content: 'Password';
  }

  &.login-label-confirm::after {
    content: 'Confirm';
  }

  &.login-label-email::after {
    content: 'Email';
  }

  &.login-label-password.valid::after,
  &.login-label-confirm.valid::after {
    padding-left: 26px;
    color: $green;
    background: url('../assets/icons/icon-valid.svg') left center no-repeat;
    background-size: 17px 16px;
  }
}

.login-info {
  margin-top: -20px;
  margin-bottom: 20px;
}

.back-to-login-btn {
  margin-top: 6px;
}

// This is hacky code that should be removed when we no longer allow a light
// themed login page. See: https://vidscale.atlassian.net/browse/UDNP-1328
.light-theme .login-modal {

  .icon {
    fill: $white;

    &:hover,
    &.active {
      fill: $pale-blue;
    }
  }
}
