// Login
// =====

.login-modal {

  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $configuration-sidebar-width;
    transform: translate(-50%, -50%);

    @include md {
      width: $md-configuration-sidebar-width;
    }
  }

  .modal-body {
    padding: 110px 120px 90px;

    @include md {
      padding: 90px 100px 70px;
    }
  }
}

.login-header {
  position: relative;
  padding: $btn-height $bar-height;
  border: 0;

  @include md {
    padding: $md-btn-height $md-bar-height;
  }

  .login-header-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $header-gradient-height;
    background: $gradient-full;
  }

  .logo-ericsson {
    float: left;
    width: $bar-height;
    height: $bar-height;
    margin-right: 60px;
    text-indent: -9999em;
    background: url('../assets/img/logo-ericsson.svg') $pale-blue center center no-repeat;
    background-size: 30px 40px;

    @include md {
      width: $md-bar-height;
      height: $md-bar-height;
    }
  }

  h1 {
    line-height: 48px;
  }
}

.has-login-label {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    left: $bar-height;
    margin-left: 30px;
    transform: translate(0, -50%);
    transition: left 250ms, margin 250ms, transform 250ms;

    @include md {
      left: $md-bar-height;
    }
  }

  &.active::after {
    left: 100%;
    margin-left: -30px;
    transform: translate(-100%, -50%);
  }

  &.login-label-username::after {
    content: 'USERNAME';
  }

  &.login-label-password::after {
    content: 'PASSWORD';
  }
}
