// Login
// =====

.login-modal {

  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1100px;
    transform: translate(-50%, -50%);
  }

  .modal-body {
    padding: 110px 120px 90px;
  }
}

.login-header {
  position: relative;
  padding: 60px 80px;
  border: 0;

  .login-header-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $header-gradient-height;
    background: $gradient-full;
  }

  .logo-ericsson {
    float: left;
    width: $bar-height;
    height: $bar-height;
    margin-right: 60px;
    text-indent: -9999em;
    background: url('../assets/img/logo-ericsson.svg') $pale-blue center center no-repeat;
    background-size: 30px 40px;
  }

  h1 {
    line-height: 48px;
  }
}

.has-login-label {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    left: $bar-height;
    margin-left: 30px;
    transform: translate(0, -50%);
    transition: left 250ms, margin 250ms, transform 250ms;
  }

  &.active::after {
    left: 100%;
    margin-left: -30px;
    transform: translate(-100%, -50%);
  }

  &.login-label-username::after {
    content: 'USERNAME';
  }

  &.login-label-password::after {
    content: 'PASSWORD';
  }
}
