// Main Container
// ==============

.main-container {
  height: 100%;
  padding-top: $header-total-height;

  @include md {
    padding-top: $md-header-total-height;
  }

  .modal-open & {
    filter: blur(20px);
    // Enable hardware acceleration
    transform: translate3d(0, 0, 0);
  }
}
