.main-content {
  .loading-spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// Main Container
// ==============

.main-container {
  height: 100%;
  padding-top: $header-total-height;

  > .content-container {
    margin-left: 84px;
  }

  .modal-open & {
    filter: blur(20px);
    // Enable hardware acceleration
    transform: translate3d(0, 0, 0);

    @include print {
      display: none;
    }
  }
}
