.not-found-page-container {

  .not-found-img {
    display: inline-block;
    width: 400px;
    height: 150px;
    background: url('../assets/img/not-found.svg') center center no-repeat;
    background-size: contain;
  }

  h2 {
    width: 420px;
    margin: 24px auto;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
  }
}
