// Property
// ========

.property-container {
  .property-info-row {
    padding: 30px 0;

    .dark-theme & {
      border-bottom: 2px solid rgba($white, 0.2);
    }

    .light-theme & {
      border-bottom: 2px solid rgba($black, 0.2);
    }
  }

  .kpi {
    h3 {
      margin-top: 5px;
      word-wrap: break-word;
    }
  }

  .property-content {
    position: relative;

    .content-separator {
      position: absolute;
      top: 0;
      left: calc(50% - 1px);
      width: 2px;
      height: 100%;

      .dark-theme & {
        background-color: rgba($white, 0.2);
      }

      .light-theme & {
        background-color: rgba($black, 0.2);
      }
    }
  }

  .chart-header {
    margin-top: $btn-height;
    clear: both;

    @include md {
      margin-top: $md-btn-height;
    }

    .kpi {
      float: right;
      margin-left: $btn-height;

      @include md {
        margin-left: $md-btn-height;
      }
    }

    .date-range-select {
      display: inline-block;
      margin-left: 1em;
    }
  }

  .transfer-by-time {
    position: relative;

    .area.primary {
      fill: transparent;
    }

    .area.secondary {
      fill: rgba($pale-blue, 0.2);
    }

    .line.secondary {
      stroke-width: 0;
    }

    .chart-labels {
      position: absolute;
      top: 10px;
      right: 30px;

      svg {
        margin: 0 10px 0 20px;
        vertical-align: text-bottom;
      }
    }

    .primary-label {
      stroke-width: 2px;
      stroke: $pale-blue;
    }

    .secondary-label {
      fill: rgba($pale-blue, 0.2);
    }
  }

  .slice-tooltip {
    width: 200px;
  }

  .btn-secondary {
    fill: $dt-text-color;
    stroke: $dt-text-color;
  }
}
