$input-height: 36px;

.log-delivery-service {
  .form-group {
    .input-group-addon {
      padding-top: 0px;
    }
  }

  .input-group {
    margin-top: 15px;
  }

  .storage-metrics-container {
    display: flex;
    align-items: baseline;
    margin-top: 15px;
  }
}