$help-container-width: rem(1100px);
$help-svg-container-width: rem(1100px);
$help-svg-container-height: rem(678px);

.help-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-starburst-help;
  width: 100vw;
  min-height: 100vh;
  padding: 40px;

  background-attachment: fixed;
  background-color: $black;
  background-image: radial-gradient(
    circle,
    rgba($purple, 0),
    rgba($purple, 0.2)
  ), linear-gradient(
    rgba($pale-blue, 0.5),
    rgba($pale-blue, 0.25)
  );
  background-size: 100%;

  .light-theme & {
    background-color: $white;
    background-image: none;
  }
}

.starburst-help-container {
  position: relative;
  width: $help-container-width;
  margin: 0 auto;

  .help-svg {
    width: $help-svg-container-width;
    height: $help-svg-container-height;
  }

  .help-example {
    position: absolute;
    top: 215px;
    right: 472px;
    width: 320px;
    height: 319px;
    background-image: url('../assets/img/starburst-help-example.png');
    background-size: cover;
  }

  .help-detail {
    position: absolute;
    top: 83px;
    right: 187px;
    width: 188px;
    height: 198px;
    background-image: url('../assets/img/starburst-help-detail.png');
    background-size: cover;
  }

  .light-theme & {
    .help-example {
      background-image: url('../assets/img/starburst-help-example-light.png');
    }

    .help-detail {
      background-image: url('../assets/img/starburst-help-detail-light.png');
    }
  }

  svg {
    position: relative;
  }

  text {
    font-size: 23px;
    fill: $dt-text-color;

    .light-theme & {
      fill: $lt-text-color;
    }
  }

  .heading {
    font-size: 30px;
    font-weight: bold;
  }

  .pointer {
    fill: none;
    stroke: rgba($dt-text-color, 0.5);
    stroke-miterlimit: 10;

    .light-theme & {
      stroke: rgba($lt-text-color, 0.8);
    }
  }

  .pointer-dot {
    fill: rgba($dt-text-color, 0.5);

    .light-theme & {
      fill: rgba($lt-text-color, 0.8);
    }
  }

  .example-icon {
    circle {
      fill: rgba($pale-blue, 0.2);

      .light-theme & {
        fill: darken(rgba($pale-blue, 0.8), 15);
      }
    }

    path {
      fill: $dt-text-color;

      .light-theme & {
        fill: $white;
      }
    }

    text {
      font-size: 32px;
      font-weight: bold;
      fill: $dt-text-color;

      .light-theme & {
        fill: $white;
      }
    }
  }
}
