@import '../../base/variables';
@import '../../base/colors';

.form-horizontal.user-profile-edit-form {
  hr {
    margin: 25px 0;
  }

  .form-group {
    padding-bottom: 0;

    .dropdown-select {
      width: 100%;
    }
  }

  .tfa {
    margin: 0;
  }

  .tfa,
  .locale {
    .form-control-static {
      text-align: right;
    }

    .dropdown {
      min-width: 144px;
    }
  }

  .select-box-tooltip {
    line-height: 35px;

    @media (max-width: $screen-lg-min) {
      margin-left: 40px;
    }

    @media (max-width: $screen-md-min) {
      margin-left: 60px;
    }
  }

  .recovery-key {
    padding-left: 15px;
    margin-left: 260px;

    div {
      max-width: 600px;
      margin: 10px 0;
    }
  }
}

.recovery-key-modal .modal-body {
  margin: 20px 0 40px;

  & >span {
    margin: 15px 0;
  }

  input {
    width: 100%;
    font-size: 40px;
    line-height: 40px;
    color: $white;
    text-align: center;
    border: 0;

    .dark-theme & {
      background: $dark-blue;
    }

    .light-theme & {
      background: $grey-40;
    }
  }

  a {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
