@import '../../base/variables';

.form-horizontal.user-profile-edit-form {
  hr {
    margin: 25px 0;
  }

  .form-group {
    padding-bottom: 0;
  }

  .select-box-tooltip {
    line-height: 35px;

    @media (max-width: $screen-lg-min) {
      margin-left: 40px;
    }

    @media (max-width: $screen-md-min) {
      margin-left: 60px;
    }
  }
}
