.downtime-content {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  transform: translate(-50%, -50%);

  .downtime-img {
    display: inline-block;
    width: 180px;
    height: 180px;
    background: url('../assets/img/downtime.svg') center center no-repeat;
    background-size: 100% 100%;
  }

  h2 {
    margin: 24px auto;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
  }
}
