@import '../styles/base/colors';

$filedrop-min-height: 200px;

.filedrop-container > .filedrop-area {
  width: 100%;
  min-height: $filedrop-min-height;

  border-style: dashed;
  border-width: 2px;
  border-radius: 5px;

  .dark-theme & {
    border-color: $dt-text-color;
  }

  .light-theme & {
    border-color: $silver-60;
  }

  .file-item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;

    .file-block {
      display: inline-block;
      vertical-align: middle;

      .file-name {
        color: $pale-blue;
      }

      .validation {
        color: $pale-blue;
      }

      .file-detail {
        opacity: 0.5;
      }
    }

    .file-block.details {
      padding-left: 10px;
      line-height: 18px;
    }

    .delete-file {
      display: inline-block;
      float: right;
      vertical-align: middle;
      cursor: pointer;
    }

    .dark-theme & {
      color: $dt-text-color;
      background-color: rgba($pale-blue, 0.2);

      &:focus,
      &:active {
        color: $white;
        box-shadow: inset 0 0 0 2px $pale-blue, 0 0 0 1px rgba($black, 0.1);
      }
    }

    .light-theme & {
      color: $lt-text-color;
      background-color: $pale-blue;
      box-shadow: 0 0 0 1px rgba($black, 0.1);

      .file-name {
        color: $lt-text-color;
      }

      .validation {
        color: $lt-text-color;
      }

      &:focus,
      &:active {
        box-shadow: inset 0 0 0 2px $pale-blue, 0 0 0 1px rgba($black, 0.1);
      }
    }
  }

  .welcome-text {
    line-height: $filedrop-min-height;
    text-align: center;
  }
}

.filedrop-area.drag-active {
  // Handle onDragOver event
  color: $pale-blue !important;
  border-color: $pale-blue !important;
}

.filedrop-area.error {
  color: $red !important;
  border-color: $red !important;
}

.filedrop-area.files-inside {
  border-color: transparent;
  border-width: 0;
}
