.edit-node {
  &__dates {
    &--updated {
      margin-left: 1rem;
    }
    &--single-date {
      font-weight: bold;
      margin: 0 .25rem;
    }

    .popover__link {
      margin: 0 .25rem;
      vertical-align: baseline;
    }
  }

  &-form {
    &__field-help {
      font-size: rem(12px);
      font-style: italic;
    }

    &__field-toggle-link {
      cursor: pointer;
    }
  }
}
