$page-header-height: 93px;
$height-of-the-header: #{$header-total-height} - #{$page-header-height} - #{$page-header-padding-top} - #{$page-container-vertical-padding};

.network-content {
  display: flex;
  flex-direction: column;
}

.network-entities-container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - #{$height-of-the-header});
  padding: $page-container-vertical-padding 0;
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1 0 auto;
}
