.network-content {
  display: flex;
  flex-direction: column;
}

.network-entities-container {
  display: flex;
  width: 100%;
  padding: $page-container-vertical-padding 0;
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1 0 auto;
}
