@import "../../base/colors";

.routing-daemon__form {
  .input-group-addon {
    .dark-theme & {
      padding: 0;
      background-color: rgba($black, 0.2);
    }
    .light-theme & {
      background-color: $white;
    }
  }
}
