.in .side-panel.double-side-modal-container {
  width: auto;

  & > .modal-content {
    display: flex;

    .secondary-side-modal {
      width: 600px;

      .secondary-side-modal-close {
        position: fixed;
        top: 5px;
        right: 5px;
        cursor: pointer;
      }

      .modal-footer {
        right: 0;
        width: 600px;
        max-width: none;
      }
    }

    .primary-side-modal {
      width: 700px;

      &.disabled {
        opacity: 0.7;
      }

      .modal-footer {
        left: 0;
        width: 700px;
        max-width: none;
      }
    }

  }

}
