.spinner-content {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 100px auto;

  background: url('../../assets/img/loading-spinner-dark.gif');
}

.light-theme {
  .spinner-content {
    background: url('../../assets/img/loading-spinner-light.gif');
  }
}
