@import '../../styles/base/variables';
@import '../../styles/base/colors';

$navigation-sidebar-width: 90px / 2;
$navigation-sidebar-width-hover: 180px / 2;
$navigation-element-height: $navigation-sidebar-width-hover - 20 / 2;
$navigation-sidebar-border-width: 10px / 2;
$navigation-sidebar-font-size: 20px / 2;

$navigation-transition-time: 0.3s;
$dark-blue-navi: #070d1e;

.navigation-sidebar {
  position: fixed;
  top: $header-total-height;
  left: 0;
  z-index: 10000;
  width: $navigation-sidebar-width;
  height: 100vh;
  background-color: $dark-blue-navi; //$ericsson-dark-blue;
  box-sizing: border-box;
  transition: all $navigation-transition-time;

  @include md {
    top: $md-header-total-height;
  }

  ul {
    padding: 0;
    margin: 0;
    overflow: hidden;

    li {
      display: table;
      width: 100%;
      height: $navigation-element-height;

      text-align: center;
      list-style: none;

      a {
        display: table-cell;
        font-family: 'Roboto', Arial, Helvetica, Sans-Serif;
        font-weight: bold;
        color: $silver-60;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        border-right: $navigation-sidebar-border-width solid transparent;
        border-left: $navigation-sidebar-border-width solid transparent;
        fill: $silver-60;

        &.active {
          background-color: $black;
          border-left: $navigation-sidebar-border-width solid $pale-blue;
        }

        svg {
          width: $navigation-sidebar-width / 2.5;
          height: $navigation-sidebar-width / 2.5;
          transition: all $navigation-transition-time;
          shape-rendering: geometricPrecision;
          stroke-linejoin: round;
        }

        span {
          display: block;
          font-size: $navigation-sidebar-font-size;
          line-height: 1;
          text-align: center;
          opacity: 0;
          transform: scale(0);
          transition: all $navigation-transition-time;
        }

        &:hover {
          color: $pale-blue;

          svg {
            fill: $pale-blue;
            stroke: $pale-blue;
          }

        }
      }
    }
  }

  &:hover {
    width: $navigation-sidebar-width-hover;
    transition: all $navigation-transition-time;

    li {
      a {
        span {
          opacity: 1;
          transform: scale(1);
          transition: all $navigation-transition-time;
        }

        svg {
          width: $navigation-sidebar-width-hover / 3;
          height: $navigation-sidebar-width-hover / 3;
          margin-bottom: 26px / 2;
          transition: all $navigation-transition-time;
        }
      }
    }
  }
}
