@import '../../styles/base/variables';
@import '../../styles/base/colors';

$navigation-sidebar-width: 90px / 2;
$navigation-sidebar-width-hover: 180px / 2;
$navigation-element-height: $navigation-sidebar-width-hover - 20 / 2;
$navigation-sidebar-border-width: 10px / 2;
$navigation-sidebar-font-size: 20px / 2;

$navigation-transition-time: 0.3s;
$dark-blue-navi: #070d1e;

.navigation-sidebar {
  background-color: $dark-blue-navi; //$ericsson-dark-blue;
  width: $navigation-sidebar-width;
  transition: all $navigation-transition-time;

  box-sizing: border-box;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 10000;
  height: 100vh;

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      height: $navigation-element-height;

      display: table;
      width: 100%;

      text-align: center;
      list-style: none;


      a {
        border-left: $navigation-sidebar-border-width solid transparent;
        border-right: $navigation-sidebar-border-width solid transparent;

        &.active {
          background-color: $black;
          border-left: $navigation-sidebar-border-width solid $pale-blue;
        }

        display: table-cell;
        vertical-align: middle;

        font-family: "Roboto", Arial, Helvetica, Sans-Serif;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: $silver-60;
        fill: $silver-60;

        svg {
          transition: all $navigation-transition-time;
          width: $navigation-sidebar-width / 2.5;
          height: $navigation-sidebar-width / 2.5;
          shape-rendering: geometricPrecision;
          stroke-linejoin:round
        }

        span {
          font-size: 0;
          line-height: 0;
          transition: all $navigation-transition-time;
          display: block;
          font-size: $navigation-sidebar-font-size;
          text-align: center;
          opacity: 0;
        }

        &:hover {
          color: $pale-blue;

          svg {
            fill: $pale-blue;
            stroke: $pale-blue;
          }

        }
      }
    }
  }

  &:hover {
    transition: all $navigation-transition-time;
    width: $navigation-sidebar-width-hover;

    li {
      a {
        span {
          line-height: 1;
          transition: all $navigation-transition-time;
          opacity: 1;
        }

        svg {
          transition: all $navigation-transition-time;
          width: $navigation-sidebar-width-hover / 3;
          height: $navigation-sidebar-width-hover / 3;
          margin-bottom: 26px / 2;
        }
      }
    }
  }
}
