@import '../../styles/base/variables';
@import '../../styles/base/colors';

$navigation-sidebar-width: 90px;
$navigation-sidebar-width-hover: 180px;

$navigation-sidebar-border-width: 10px;
$navigation-sidebar-font-size: 20px;

.navigation-sidebar {
  background-color: rgba(0,0,0,0.2); //$ericsson-dark-blue;
  width: $navigation-sidebar-width;
  transition: all 0.5s;

  box-sizing: border-box;

  ul {
    margin: 0;
    padding: 0;

    li {
      height: 160px;

      display: table;
      width: 100%;

      text-align: center;
      list-style: none;

      border-left: $navigation-sidebar-border-width solid transparent;
      border-right: $navigation-sidebar-border-width solid transparent;

      &.active {
          background-color: $black;
          border-left: $navigation-sidebar-border-width solid $pale-blue;
      }

      a {
        display: table-cell;
        vertical-align: middle;
        width: 100%;

        font-family: "Roboto Bold", Arial, Helvetica, Sans-Serif;
        text-align: center;
        text-decoration: none;
        color: $silver-60;
        fill: $silver-60;

        svg {
          transition: all 0.5s;
          width: $navigation-sidebar-width / 3;
          height: $navigation-sidebar-width / 3;
        }

        span {
          font-size: 0;
          line-height: 0;
          transition: all 0.5s;
          display: block;
          font-size: $navigation-sidebar-font-size;
          text-align: center;
          opacity: 0;
        }

        &:hover {
          color: $pale-blue;

          svg {
            fill: $pale-blue;
            stroke: $pale-blue;
          }

        }
      }
    }

    li.logo {
      svg {
        fill: $white;
      }
    }
  }

  &:hover {
    transition: all 0.5s;
    width: $navigation-sidebar-width-hover;

    li {
      a {
        span {
          line-height: 1;
          transition: all 0.5s;
          opacity: 1;
        }

        svg {
          transition: all 0.5s;
          width: $navigation-sidebar-width-hover / 3;
          height: $navigation-sidebar-width-hover / 3;
          margin-bottom: 26px;
        }
      }
    }
  }
}
