.aspera-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 60px;
  padding: 0;
  overflow: hidden;
  border: 0;
  outline: 0;

  opacity: 1;
  transition: opacity 500ms ease, bottom 500ms ease;

  .connect-status-banner {
    height: 60px;
    background-color: #08526c;
  }

  .message {
    padding-left: 25px;
    line-height: 60px;

    span > span {
      padding-left: 10px;
    }
  }

  .btn-toolbar {
    margin-top: 12px;
    margin-right: 15px;

    .download-btn {
      padding-left: 15px;
    }
  }
}

.aspera-notification-transition-enter,
.aspera-notification-transition-appear {

  &.aspera-container {
    bottom: 0;
    opacity: 0;
  }
}

.aspera-notification-transition-leave {

  &.aspera-container {
    bottom: 0;
    opacity: 0;
  }
}
