$storage-kpi-chart-width: rem(300px);
$storage-kpi-item-height: rem(48px);
$storage-kpi-item-margin: rem(60px);
$storage-kpi-content-margin: rem(8px);
$storage-kpi-mini-chart-width: rem(80px);
$storage-kpi-comparison-bars-width: rem(120px);

.storage-kpi-item {
  display: inline-block;
  vertical-align: top;

  &:not(:last-child) {
    margin-right: $storage-kpi-item-margin;
  }
}

.storage-kpi-item-title {
  font-size: rem(13px);
  text-transform: uppercase;
  opacity: 0.8;
}

.storage-kpi-item-content {
  display: flex;
  height: $storage-kpi-item-height;
}

.storage-kpi-item-note {
  font-size: rem(12px);
  opacity: 0.6;
}

.storage-kpi-text {
  align-self: flex-end;
}

.storage-kpi-chart {
  width: $storage-kpi-chart-width;
  height: rem(38px);
  margin-left: $storage-kpi-content-margin;
  align-self: flex-end;

  > .mini-area-chart {
    width: 100%;
    height: 100%;
  }

  .analysis-by-time {
    display: flex;

    > svg {
      align-self: flex-end;
    }
  }
}

.storage-kpi-comparison-bars {
  width: $storage-kpi-comparison-bars-width;
  height: 0.4 * $storage-kpi-item-height;
  margin: 0 0 rem(5px) $storage-kpi-content-margin;
  align-self: flex-end;

  .comparison-bar.reference {
    background-color: $black;

    .light-theme & {
      background-color: $silver-80;
    }
  }
}

.storage-kpi-number {
  display: flex;
  font-weight: bold;
  align-items: baseline;

  .value {
    font-size: rem(36px);

    &.truncated-title {
      max-width: rem(100px);
    }

    .dark-theme & {
      color: $white;
    }

    .light-theme & {
      color: $grey-80;
    }
  }

  .suffix {
    margin-left: $storage-kpi-content-margin;
    font-size: rem(20px);
  }
}
