.storage-contents-table {
  margin-bottom: rem(25px);

  tbody,
  tr {
    &.highlight {
      box-shadow: 0 0 0 1px $pale-blue;

      td:before {
        position: absolute;
        top: 0;
        right: -1px;
        bottom: 0;
        left: 0;
        display: block;
        background-color: rgba($white, 0.2);
        content: '';
      }
    }
  }
}

.content-browser-row-directory {
  cursor: pointer;
}

.storage-contents-icon-cell {
  border-right-color: rgba($black, 0) !important;
}

.storage-contents-cell-directory {
  > .storage-contents-name,
  > .storage-contents-icon {
    cursor: pointer;
  }
}

.storage-contents-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.storage-contents-name {
  display: inline-block;
  vertical-align: inherit;
}

.storage-contents-icon {
  display: inline-block;
  fill: $pale-blue !important;

  &.back {
    position: relative;
    left: rem(5px);
    cursor: pointer;
  }
}

.storage-contents-context-menu-icon {
  fill: $silver-60 !important;
}

.storage-contents-breadcrumb {
  li {
    &:first-child {
      a,
      span {
        padding-left: 0;
        border-left: 0;
      }
    }

    .truncated-title {
      color: $silver-60;
    }

    &.active {
      .truncated-title {
        color: $white;
      }
    }
  }
}

.storage-contents-upload-destination {
  position: fixed;
  right: rem(30px);
  bottom: rem(30px);
  width: rem(300px);
  padding: rem(20px);
  background: $black;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);

  .storage-contents-upload-destination-text {
    color: $silver-60;
  }

  .storage-contents-upload-destination-folder {
    .truncated-title {
      display: inline-block;
      font-weight: bold;
      color: $white;
      vertical-align: middle;
    }

    .icon {
      display: inline-block;
      margin-right: rem(10px);
      fill: $pale-blue !important;
    }
  }
}
