.storage-contents-name {
  display: inline-block;
  vertical-align: inherit;
}

.storage-contents-icon {
  fill: $pale-blue !important;
  margin-right: rem(20px);
  display: inlin-block;

  &.back {
    position: relative;
    top: rem(5px);
    left: rem(5px);
  }
}
