.storage-contents-table {
  margin-bottom: rem(25px);

  tbody,
  tr {
    &.highlight {
      border: 1px solid $pale-blue;

      td:before {
        position: absolute;
        top: 0;
        right: -1px;
        bottom: 0;
        left: 0;
        display: block;
        background-color: rgba($white, 0.2);
        content: '';
      }
    }
  }
}

.content-browser-row-directory {
  cursor: pointer;
}

.storage-contents-icon-cell {
  border-right: 0 !important;
}

.storage-contents-cell-directory {
  > .storage-contents-name,
  > .storage-contents-icon {
    cursor: pointer;
  }
}

.storage-contents-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.storage-contents-name {
  display: inline-block;
  vertical-align: inherit;
}

.storage-contents-icon {
  display: inline-block;
  fill: $pale-blue !important;

  &.back {
    position: relative;
    left: rem(5px);
    cursor: pointer;
  }
}

.storage-contents-context-menu-icon {
  fill: $silver-60 !important;
}
