@import "../../styles/base/variables";
@import "../../styles/base/colors";

.heading-dropdown {
  h1 {
    &:hover {
      cursor: pointer;
    }
  }

  .caret-container {
    background: $ericsson-dark-blue;
    display: block;
    float: right;
    padding: 3.5px 6px;
    border-radius: 50%;
    margin: 6px 10px 0 10px;
  }

  .icon {
    top: 0;
    float: right;
    width: 10px;
    height: 15px;
    border: 0;
    fill: inherit;
    stroke: inherit;
  }
}
