.analytics-view-control {
  padding: 20px 20px 0 60px;

  &__header {
    display: flex;
    margin: 0 0 10px;
    flex-wrap: nowrap;
    align-items: center;

    .btn-toolbar {
      min-width: 0;
      padding-left: 20px;
    }

    .global-account-selector {
      width: 0;
      min-width: 0;
      flex: 1;
    }
  }

  .nav-tabs {
    padding-right: 20px;
    padding-left: 40px;
    margin-right: -20px;
    margin-bottom: -5px;
    margin-left: -60px;
    background-color: transparent !important;
  }
}
