@import '../../../vendor/bootstrap/stylesheets/bootstrap-compass';
@import '../../../vendor/bootstrap/stylesheets/bootstrap';

.analytics-filters {
  @extend .container-fluid;

  background-color: rgba(0,0,0, 0.2);

  padding: 30px 45px 20px 45px;

  .filter {
    @extend .col-xs-3;
    min-width: 265px;
  }

  /* checkbox labels */
  .checkbox span {
    font-size: 13px;
  }
}
