.analytics-view-control {
  padding: 20px 20px 0 60px;

  &__title {

  }

  &__header {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 10px;
    align-items: center;

    .btn-toolbar {
      padding-left: 20px;
    }

    .global-account-selector {
      flex: 1;
      width: 0;
    }
  }

  .nav-tabs {
    background-color: transparent !important;

    margin-bottom: -5px;
    margin-left: -60px;
    margin-right: -20px;

    padding-left: 40px;
    padding-right: 20px;
  }
}
