.analytics-view-control {
  padding: 20px 20px 0 60px;

  &__header {
    display: flex;
    margin: 0 0 10px;
    flex-wrap: nowrap;
    align-items: center;

    .btn-toolbar {
      min-width: 0;
      padding-left: 20px;
    }

    .selector-component {
      width: 0;
      min-width: 0;
      flex: 1;
    }
  }
}
