@import '../../base/colors';

$spinner-width: 100px;
$spinner-small-width: 36px;

.spinner-content {
  position: relative;
  width: $spinner-width;
  height: $spinner-width;
  margin: 100px auto;

  .dark-theme & {
    background: url('../assets/img/loading-spinner-dark.gif');
  }

  .light-theme & {
    background: url('../assets/img/loading-spinner-light.gif');
  }
}

.loading-spinner-sm {
  animation: spinner 1s infinite linear;

  .base {
    fill: rgba($black, 0.4);
  }

  .primary {

    .dark-theme & {
      fill: $white;
    }

    .light-theme & {
      fill: $black;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
