@import '../../../base/colors';
@import '../../../base/variables';

$tool-panel-padding:      2.5em;
$tool-panel-border-width: 1em;

.support-tool-panel {
  position: relative;
  padding-top: $tool-panel-padding;
  padding-right: $tool-panel-padding;
  padding-bottom: $tool-panel-padding + $tool-panel-border-width;
  padding-left: $tool-panel-padding;
  background-color: rgba($pale-blue, 0.2);
  box-shadow: 0 0.2em 0.2em rgba($black, 0.75);

  h2 {
    margin: 0.5em 0;
  }

  &:hover::after,
  &.active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: $tool-panel-border-width;
    background: $pale-blue;
    content: '';
    box-shadow: 0 -2px 0 rgba($black, 0.4);
  }

  &:hover {
    cursor: pointer;
  }
}
