@import './src/styles/base/colors';
@import './src/styles/base/variables';
@import './src/styles/base/functions';

$dashboard-panel-font-size: 14px;
$dashboard-panel-margin: em(30px, $dashboard-panel-font-size);
$dashboard-panel-horizontal-padding: em(30px, $dashboard-panel-font-size);
$dashboard-panel-vertical-padding: em(15px, $dashboard-panel-font-size);
$dashboard-panel-bg: rgba($black, 0.3);
$dashboard-panel-header-bg: rgba($black, 0.2);
$dashboard-panel-mini-chart-width: 50%;
$dashboard-panel-kpi-padding: 15px;

.dashboard-panel {
  margin-bottom: $dashboard-panel-margin;

  .dashboard-panels & {
    width: calc(50% - (#{$dashboard-panel-margin} / 2));

    &:nth-child(odd) {
      margin-right: $dashboard-panel-margin;
    }
  }

  .no-data {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: normal;

    &.by-time-summary {
      padding-top: 15px;
      padding-bottom: 0;
    }

    &.mini-chart-container {
      padding-top: 10px;
      padding-bottom: 40px;
    }
  }

  .dark-theme & {
    background-color: $dashboard-panel-bg;

    .no-data {
      color: $grey-60;
    }
  }

  .light-theme & {
    background-color: $white;
    box-shadow: 0 5px 10px $dashboard-panel-header-bg;

    .no-data {
      color: $lt-text-color;
    }
  }

  .dashboard-panel-header,
  &:not(.no-padding) .dashboard-panel-content {
    padding: $dashboard-panel-vertical-padding $dashboard-panel-horizontal-padding;
  }

  .dashboard-panel-header {

    .dark-theme & {
      background-color: $dashboard-panel-header-bg;
    }

    .light-theme & {
      background-color: $white;
      border-bottom: 1px solid $dashboard-panel-header-bg;
    }
  }

}
