// Dashboard
// =========

.dashboard-panels {
  display: flex;
  max-width: 1400px;
  flex-wrap: wrap;

  .table {

    th,
    td {
      padding-left: 0;

      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}
