{
  "extends": "../.eslintrc",
  "ecmaFeatures": {
    "jsx": false
  },
  "env": {
    "browser": false,
    "jest": false
  },
  "rules": {
    "no-console": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-path-concat": 2,
    "no-unused-vars": 1,
    
    "react/display-name": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-no-duplicate-props": 0,
    "react/jsx-no-undef": 0,
    "react/sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 0,
    "react/jsx-uses-vars": 0,
    "react/no-danger": 0,
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 0,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/require-extension": 0,
    "react/self-closing-comp": 0,
    "react/sort-comp": 0,
    "react/wrap-multilines": 0
  }
}
