@import '../../styles/base/colors';

.accountManagementHeader {

  .btn-add-new {
    float: right;
    margin-bottom: 20px;
  }

  .dark-theme & {
    .btn-add-new {
      background-color: $btn-success-bg !important;
    }
  }
}
