@import '../../styles/components/modal-form-panel';

.account-form-sidebar {
  @extend .modal-form-panel; // sass-lint:disable-line placeholder-in-extend

  .form-group.border-bottom {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
