@import '../../styles/base/colors';

.account-management-header {

  .btn-add-new {
    float: right;
    margin-bottom: 20px;
  }

  .dark-theme & {
    .btn-add-new {
      background-color: $btn-success-bg !important;
    }
  }
}
