@import '../../styles/base/colors';
@import '../../styles/base/variables';
@import '../../styles/components/configuration/sidebar';

// Account form container
// =====================

.account-management-new-account {
  @extend .configuration-sidebar;

  .form-group.border-bottom {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .btn-outline {
    .light-theme & {
      background-color: $white !important;
      color: $pale-blue;
      border: 0px;
    }
  }
  .btn-primary {
    .light-theme & {
      &,
      &:hover,
      &:active,
      &.active {
        color: $white;
        background-color: $pale-blue;
        fill: $white;
        stroke: $white;
      }

      &:hover:not(:disabled),
      &:active:not(:disabled),
      &.active:not(:disabled) {
        color: $lt-button-color;
        fill: $lt-button-color;
        stroke: $lt-button-color;
      }
    }
  }
}
