@import "../../styles/components/modal-form-panel";

.group-edit-form-sidebar {
  @extend .modal-form-panel;

  .add-members {
    margin-bottom: 30px;
    .dropdown-menu {
      // Prevent checklist dropdown to hide behind the footer
      z-index: 1061;
    }
  }

  .members-list {
    list-style: none;
    padding: 0;
    &__member{
      padding: 10px 0px 10px 20px;
      background: #12577A;
      width: 100%;
      margin: 0 0 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__label {
        flex-grow: 1;
      }

      &__actions {
        order: 2;
        margin-top: -8px;
        button,
        &__new{
          display: inline;
          height: 30px;

          &.delete-button {
            height: 24px;
            .icon:hover {
              stroke: $pale-blue;
            }
          }

          &:focus {
            outline: none;
          }
        }
        &__new {
          position: relative;
          top: 5px;
        }

      }

      &--new {
        background: #097BA1;
      }

      &--delete {
        background: #18466A;

        .members-list__member__label {
          text-decoration: line-through;
          color: #70889B;
        }
      }
    }
    .light-theme & {
      color: #FFF;
      .icon {
        stroke: #FFF;
      }
    }
  }
}
