@import "../../styles/components/modal-form-panel";

.dropdown-label {
  display: block;
}

.dns-edit-form-sidebar {
  @extend .modal-form-panel;

  .form-group {
    margin: 30px 0;
  }

  hr {
    margin: 0px;
  }

  .dropdown-select {
    width: 350px;
    margin-bottom: 30px;

    .dropdown-toggle {
      height: 60px;
    }
  }

  .form-control {
    &.ttl-value-input,
    &.host-name-input {
      width: 350px;
    }
    &.priority-input {
      width: 100px;
    }
  }
}
