@import '../../styles/base/colors';
@import '../../styles/base/variables';
@import '../../styles/components/configuration/sidebar';

.roles-list {
  .checkbox-container {
    text-align: center;
  }

  .roles-lit-row {
    .form-group {
      padding-bottom: 0;
      margin-top: 4px;
    }
  }
}

.roles-edit-form {
  @extend .configuration-sidebar;
}
