@import   '../../styles/base/variables';
@import '../../styles/base/colors';

.dropdown-checklist.dropdown-select .dropdown-menu {
  overflow-y: visible;

  > li {
    display: block;
    height: auto;
  }
}

.dropdown-filter {
  .dropdown-menu {
    .children {
      .form-group {
        padding: 14px 18px;

        .dark-theme & {
          border-top: 1px solid rgba($pale-blue, 0.1);
          border-right: 1px solid rgba($pale-blue, 0.1);
          border-left: 1px solid rgba($pale-blue, 0.1);
        }

        .light-theme & {
          border-top: 1px solid rgba($black, 0.1);
          border-right: 1px solid rgba($black, 0.1);
          border-left: 1px solid rgba($black, 0.1);
        }

        label {
          display: block;
        }
      }
    }
  }

  .scrollable-menu {
    max-height: 300px;
    padding-left: 0;
    overflow-y: auto;
    list-style-type: none;
  }
}

@keyframes showDropdown {
  0% {
    margin-top: -10px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}
