@import "../../styles/base/variables";
@import "../../styles/base/colors";

.dropdown-filter {
  .filter-container {
    animation: showDropdown 250ms ease-out;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    clear: both;
    height: 60px;
    padding: 10px 20px;
    color: $dt-text-color;
    background-color: $black;
    background-image: radial-gradient(circle, rgba($purple, 0), rgba($purple, 0.08)), linear-gradient(rgba($pale-blue, 0.2), rgba($pale-blue, 0.1));
    border-top: 1px solid rgba($pale-blue, 0.1);

    input[type="text"] {
      border: none;
      background: #000;
      display: block;
      width: 100%;
      height: 40px;
      padding: 10px 15px;
      border-radius: 20px;
    }
  }

  .dropdown-menu {
    top: 100px;

    .children {
      .form-group {
        padding: 15px 25px;
        border-top: 1px solid rgba($pale-blue, 0.1);

        label {
          display: block;
        }
      }
    }
  }

  .scrollable-menu {
    list-style-type: none;
    max-height: 300px;
    overflow-y: auto;
    padding-left: 0;
  }

  .clear-container {
    animation: showDropdown 250ms ease-out;
    background-color: $black;
    background-image: radial-gradient(circle, rgba($purple, 0), rgba($purple, 0.08)), linear-gradient(rgba($pale-blue, 0.2), rgba($pale-blue, 0.1));
    padding: 20px;
  }
}

@keyframes showDropdown {
  0% {
    margin-top: -10px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}
