@import "../../styles/base/variables";
@import "../../styles/base/colors";

.dropdown-checklist .dropdown-menu {
  overflow-y: visible;
}

.dropdown-filter {
  .filter-container {
    animation: showDropdown 250ms ease-out;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    clear: both;
    height: 60px;
    padding: 10px 20px;
    color: $dt-text-color;
    background-color: $black;
    background-image: radial-gradient(circle, rgba($purple, 0), rgba($purple, 0.08)), linear-gradient(rgba($pale-blue, 0.2), rgba($pale-blue, 0.1));
    border-top: 1px solid rgba($pale-blue, 0.1);

    input[type="text"] {
      background: #000 url('../../assets/icons/dt-icon-search.svg') 10px center no-repeat;
      background-size: 20px 20px;
      border: none;
      display: block;
      width: 100%;
      height: 40px;
      padding: 10px 15px 10px 35px;
      border-radius: 20px;
      box-shadow: none;
      transition: box-shadow 0s;
      text-transform: capitalize;

      &:focus,
      &:active {
        box-shadow: inset 0 0 0 1px $pale-blue;
      }

      &::placeholder {
        color: rgba($dt-text-color, 0.3);

        @include print {
          color: transparent;
        }
      }
    }

    .light-theme & {
      color: $lt-text-color;
      background-color: $silver-30;
      background-image: none;

      input[type="text"] {
        background: url('../../assets/icons/lt-icon-search.svg') 10px center no-repeat;
        background-size: 20px 20px;
        color: $lt-text-color;
        background-color: $white;

        &:focus,
        &:active {
          box-shadow: inset 0 0 0 1px $pale-blue;
        }

        &::placeholder {
          color: rgba($lt-text-color, 0.3);

          @include print {
            color: transparent;
          }
        }
      }
    }
  }

  .dropdown-menu {
    top: 99px;
    margin: 0;

    .children {
      .form-group {
        padding: 15px 25px;
        border-top: 1px solid rgba($pale-blue, 0.1);

        label {
          display: block;
        }
      }
    }
  }

  .scrollable-menu {
    list-style-type: none;
    max-height: 300px;
    overflow-y: auto;
    padding-left: 0;
  }

  .clear-container {
    animation: showDropdown 250ms ease-out;
    background-color: $black;
    background-image: radial-gradient(circle, rgba($purple, 0), rgba($purple, 0.08)), linear-gradient(rgba($pale-blue, 0.2), rgba($pale-blue, 0.1));
    padding: 20px;
    border-top: 1px solid rgba($pale-blue, 0.1);

    .light-theme & {
      color: $lt-text-color;
      background-color: $silver-30;
      background-image: none;
    }
  }
}

@keyframes showDropdown {
  0% {
    margin-top: -10px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}
