.support-ticket-comments {
  .support-ticket-comment {
    // TODO
  }
}

.support-ticket-comment {
  position: relative;
  padding: 10px 0;

  &__header {
    margin: 0 0 20px;
  }

  &__author {
    font-weight: bold;
    color: #fff;
  }

  &__created {
    // TODO
  }
}
