@import '../../styles/base/colors';

.udn-pagination .pagination {
  > li {
    > a {
      padding: 8px;
      margin-right: 1px;
      font-size: 15px;
      color: $white;
      background-color: $dark-paginator;
      border: 0;
      border-right: 1px solid $dark-paginator-border;
      border-radius: 0;

      span[aria-label='First'],
      span[aria-label='Last'] {
        padding: 6px;
      }
    }

    &:last-child > a {
      border-right: 0;
    }
  }

  .active > a {
    background-color: $gradient-bondi-blue;
  }
}
