@import "../../../components/analysis/by-time/legend.scss";

.bar-chart-container {
  background-color: rgba($black, 0.2);
  height: 100%;

  .rechart-tooltip {
    @extend .chart-legend;
    position: relative;
    background-color: rgba($black, 0.8);
    padding: 0.6em 0;
    top: auto;
    right: auto;
    min-width: auto;

    .tooltip-item {
      @extend .legend-item;
      padding: 0 0.6em;
    }
  }

  text {
    @include print {
      font-size: $font-size;
      fill: $black !important;
    }

    .dark-theme & {
      fill: $dt-text-color;
    }

    .light-theme & {
      fill: $lt-text-color;
    }
  }

  .bar-chart-label {
    top: 1.5em;
    left: 2em;
    position: absolute;
    font-weight: bold;
  }

  .legend-icon {
    font-weight: bold;
    margin-right: 0.5em;
  }

  .rechart-legend {
    padding: 1em 5em 1em 1em;
    background-color: rgba($black, 0.4);
  }

  .recharts-bar-rectangle:hover {
    opacity: 0.8;
  }

  .recharts-bar-cursor {
    display: none;
  }
}
