@import '../../base/chart-legend';
@import '../../base/colors';

.line-area-composed-chart-tooltip {
  @extend %chart-legend;
  position: relative;
  top: auto;
  right: auto;
  padding: 8px;

  .dark-theme & {
    background-color: rgba($black, 0.8);
  }

  .light-theme & {
    background-color: $white;
  }

  .tooltip-item {
    @extend %legend-item;
    position: relative;
    display: block;
    padding: 0 8px;
    margin-left: 10px;

    .tooltip-item-date {
      margin-bottom: 6px;
      font-weight: bold;
    }

    .legend {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;

      .legend-icon {
        position: absolute;
        left: -10px;
      }
    }

  }
}
