@import '../../base/colors';

.line-area-composed-chart-container {
  .non-stacked {
    .storage {
      path {
        &:last-child {
          fill: $pale-blue;
        }
      }
    }
  }

  .comparison {
    .storage {
      path {
        &:first-child {
          stroke: $green;
          stroke-width: 4px;
        }

        &:last-child {
          fill: $dark-blue;
        }
      }
    }

    .comparison_storage {
      path {
        &:first-child {
          stroke: $pale-blue;
          stroke-width: 2px;
        }

        &:last-child {
          fill: $black-20;
        }
      }
    }
  }

  .non-stacked,
  .comparison {
    .estimate {
      path {
        stroke: $grey;
        stroke-width: 2px;
      }
    }
  }

  .line-area-composed-chart-label {
    position: absolute;
    top: 20px;
    left: 30px;
    font-weight: bold;
  }

}
