// Breadcrumbs
// ===========

// scss-lint:disable SelectorDepth NestingDepth
// Need to override BootStrap
.breadcrumb {
  display: flex;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;

  :not(.header) > .container-fluid > & {
    position: absolute;
    top: 20px;
    left: 40px;

    @include md {
      top: 15px;
      left: ($md-bar-height / 2);
    }

    @include print {
      position: relative;
      left: 0;
    }
  }

  > li {
    display: flex;
    vertical-align: middle;

    .header & {
      height: $header-height;

      @include print {
        height: auto;
        line-height: 1;
      }

      &:not(:first-of-type) {
        overflow: hidden;
      }
    }

    > a,
    > span,
    &:not(.breadcrumb-back, :last-child)::after {
      margin: 11.5px 0;
    }

    > a,
    > span,
    .truncated-breadcrumb-title {
      display: block;
      padding-right: 5px;
      overflow: hidden;
      font-weight: bold;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:not(:last-child)::after {
      padding: 0 10px 0 0;
      content: '\203A';

      .dark-theme & {
        color: $dt-text-color;
      }

      .light-theme & {
        color: $lt-text-color;
      }
    }

    + li::before,
    + li:last-child::after {
      display: none;
    }

    &:first-child {
      > a,
      > span {
        padding-left: 20px;
        border-left: 1px solid $silver-80;
      }
    }
  }

  a {
    text-decoration: none;

    @include print {
      // scss-lint:disable ImportantRule
      // Need to override Bootstrap link href for links
      &::after {
        content: '' !important;
      }
    }

    .dark-theme &,
    .light-theme & {
      color: $pale-blue;

      &:hover {
        color: rgba($pale-blue, 0.8);
      }
    }
  }

  > .active {
    .dark-theme & {
      color: $white;

      a {
        color: inherit;
      }
    }

    .light-theme & {
      color: $lt-text-color;

      a {
        color: inherit;
      }
    }
  }
}
