// Breadcrumbs
// ===========

// scss-lint:disable SelectorDepth NestingDepth
// Need to override BootStrap
.breadcrumb {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  background-color: transparent;
  width: 100%;

  :not(.header) > .container-fluid > & {
    position: absolute;
    top: 20px;
    left: 40px;

    @include md {
      top: 15px;
      left: ($md-bar-height / 2);
    }

    @include print {
      position: relative;
      left: 0;
    }
  }

  > li {
    display: flex;
    vertical-align: middle;

    .header & {
      height: $bar-height;
      line-height: $bar-height;

      @include md {
        height: $md-bar-height;
        line-height: $md-bar-height;
      }

      @include print {
        height: auto;
        line-height: 1;
      }
    }

    > a,
    > span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      max-width: 350px;
    }

    &.breadcrumb-back {
      width: $btn-height / 2;
      height: $btn-height / 2;
      margin-right: 20px;
      margin-left: $btn-sm-height / 2 - 15;
      border-radius: 50%;
      content: '';

      @include md {
        width: $btn-sm-height / 2;
        height: $btn-sm-height / 2;
        margin-right: 15px;
        margin-left: $md-btn-sm-height / 2 - 15;
      }

      @include print {
        display: none;
      }

      .dark-theme &,
      .light-theme & {
        background-color: rgba($black, 0.2);
      }

      a {
        position: relative;
        display: block;
        height: 100%;

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -5px 0 0 -3px;
          vertical-align: middle;
          border: 0;
          border-top: 5px solid transparent;
          border-right: 5px dashed;
          border-bottom: 5px solid transparent;
          content: '';

          .dark-theme &,
          .light-theme & {
            border-right-color: $dt-text-color;
          }
        }

        &:hover::after {

          .dark-theme &,
          .light-theme & {
            border-right-color: $white;
          }
        }
      }
    }

    &:not(.breadcrumb-back, :last-child)::after {
      padding: 0 10px;
      content: '\203A';

      .dark-theme &,
      .light-theme .header & {
        color: $dt-text-color;
      }

      .light-theme & {
        color: $lt-text-color;
      }
    }

    + li::before,
    + li:last-child::after {
      display: none;
    }
  }

  a {
    text-decoration: none;

    @include print {
      // scss-lint:disable ImportantRule
      // Need to override Bootstrap link href for links
      &::after {
        content: '' !important;
      }
    }

    .dark-theme &,
    .light-theme .header & {
      color: $dt-text-color;

      &:hover {
        color: $white;
      }
    }

    .light-theme & {
      color: $pale-blue, 0.5;

      &:hover {
        color: $lt-text-color;
      }
    }
  }

  > .active {

    .dark-theme &,
    .light-theme .header & {
      color: rgba($white, 0.5);
    }

    .light-theme & {
      color: $lt-text-color;
    }
  }
}
