// Buttons
// =======

// scss-lint:disable SelectorDepth NestingDepth
// Need to override BootStrap
.btn {
  height: $btn-height;
  min-width: $btn-min-width;
  padding: 0 ($btn-height / 2);
  font-size: inherit;
  font-weight: normal;
  line-height: $btn-height;
  border: 0;
  border-radius: 2px;
  box-shadow: none;

  @include md {
    height: $md-btn-height;
    min-width: $md-btn-min-width;
    padding: 0 ($md-btn-height / 2);
    line-height: $md-btn-height;
  }

  @include sm {
    min-width: $sm-btn-min-width;
  }

  // scss-lint:disable QualifyingElement
  // Need to override Bootstrap
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    opacity: 0.3;
  }

  &.dropdown-toggle,
  &.btn-icon,
  &.btn-link {
    min-width: 0;
  }

  &.btn-primary {

    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      text-transform: uppercase;
      outline: none;
      box-shadow: none;
    }
  }

  &.btn-icon {
    position: relative;
    width: $btn-height;
    padding: 0;
    line-height: $btn-height;
    vertical-align: middle;

    @include md {
      width: $md-btn-height;
      line-height: $md-btn-height;
    }

    &.btn-header {
      width: $header-btn-height;

      @include md {
        width: $md-header-btn-height;
      }
    }
  }

  &.btn-sm {
    height: $btn-sm-height;
    line-height: $btn-sm-height;

    @include md {
      height: $md-btn-sm-height;
      line-height: $md-btn-sm-height;
    }

    &.btn-tertiary {
      min-width: 0;
      text-transform: uppercase;
    }

    &.btn-icon {
      width: $btn-sm-height;
      line-height: $btn-sm-height;

      @include md {
        width: $md-btn-sm-height;
        line-height: $md-btn-sm-height;
      }
    }
  }

  &.sm-padding {
    padding: 0 ($btn-height / 4);

    @include md {
      padding: 0 ($md-btn-height / 4);
    }
  }

  &.btn-round {
    border-radius: 50%;
  }

  &.btn-header {
    height: $header-btn-height;
    margin-top: ($bar-height - $header-btn-height) / 2;
    margin-right: 10px;
    margin-bottom: ($bar-height - $header-btn-height) / 2;
    margin-left: 10px;
    line-height: $header-btn-height;
    color: $dt-text-color;
    background-color: rgba($pale-blue, 0.1);
    fill: $dt-text-color;
    stroke: $dt-text-color;

    @include lg {
      margin-right: 5px;
      margin-left: 5px;
    }

    @include md {
      height: $md-btn-height;
      margin-top: ($md-bar-height - $md-header-btn-height) / 2;
      margin-bottom: ($md-bar-height - $md-header-btn-height) / 2;
      line-height: $md-header-btn-height;
    }
  }

  &.btn-user-menu,
  .btn-group > &.btn.btn-user-menu:first-child {
    margin-top: ($bar-height - $btn-height) / 2;
    margin-right: ($bar-height / 2);
    margin-bottom: ($bar-height - $btn-height) / 2;
    margin-left: 10px;
    overflow: hidden;
    background: url('../assets/img/img-user.jpg') center center no-repeat;
    background-size: cover;

    @include md {
      margin-top: ($md-bar-height - $md-btn-height) / 2;
      margin-right: ($md-bar-height / 3);
      margin-bottom: ($md-bar-height - $md-btn-height) / 2;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  > a {
    display: block;
    height: 100%;
  }
}

.header-toggle {
  height: auto;
  min-width: 0;
  padding: 0;
  line-height: inherit;

  .caret {
    position: relative;
    margin: 0 ($btn-height / 4) 0 ($btn-height / 2);
    border: 0;

    @include md {
      margin: 0 ($btn-sm-height / 4) 0 ($btn-sm-height / 2);
    }

    &::before {
      display: block;
      width: $btn-height / 2;
      height: $btn-height / 2;
      margin-top: -($btn-height / 4);
      margin-left: -($btn-height / 4);
      border-radius: 50%;
      content: '';

      @include md {
        right: $md-btn-sm-height / 2;
        width: $btn-sm-height / 2;
        height: $btn-sm-height / 2;
        margin-top: -($btn-sm-height / 4);
        margin-left: -($btn-sm-height / 4);
      }

      .dark-theme &,
      .light-theme & {
        background-color: rgba($black, 0.2);
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      vertical-align: middle;
      border-top: 5px dashed;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      content: '';
      transform: translate(-50%, -50%);
    }
  }

  .icon {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    border-width: 0;

    .light-theme .sidebar-layout &,
    .light-theme .modal & {
      stroke: $lt-button-color;
    }
  }

  &:hover .icon,
  &:focus .icon {

    .dark-theme &,
    .light-theme & {
      stroke: $pale-blue;
    }

    .light-theme .sidebar-layout &,
    .light-theme .modal & {
      stroke: $white;
    }
  }

  .dark-theme .open > &,
  .light-theme .open > & {

    &,
    &:hover,
    &:active,
    &:focus,
    .icon {
      color: $pale-blue;
      background-color: transparent;
      box-shadow: none;
      stroke: $pale-blue;
    }
  }

  .light-theme .sidebar-layout .open > &,
  .light-theme .modal .open > & {

    &,
    &:hover,
    &:active,
    &:focus,
    .icon {
      color: $white;
      background-color: transparent;
      box-shadow: none;
      stroke: $white;
    }
  }

  h1,
  h3 {
    display: inline-block;
    vertical-align: middle;
  }
}

.btn-alerts {
  position: relative;

  .btn-alerts-indicator {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    .dark-theme &,
    .light-theme & {
      color: $dt-text-color;
      background: $purple;
    }
  }
}

.dark-theme,
.light-theme .header {

  .dropdown-select {

    .dropdown-toggle {

      &,
      &:hover,
      &:active,
      &.active {
        color: $dt-text-color;
        background-color: rgba($black, 0.2);
        fill: $dt-text-color;
        stroke: $dt-text-color;
      }

      &:hover:enabled,
      &:hover:enabled .icon {
        color: $pale-blue;
        fill: $pale-blue;
        stroke: $pale-blue;
      }

      &.active {
        background-color: rgba($black, 0.2);
      }

      .icon {
        fill: $dt-text-color;
        stroke: $dt-text-color;
      }
    }

    &.open .dropdown-toggle {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      &,
      &:hover {
        color: $pale-blue;
        background-color: rgba($black, 0.2);
        box-shadow: none;
        fill: $pale-blue;
        stroke: $pale-blue;
      }

      .icon {
        fill: $pale-blue;
        stroke: $pale-blue;
      }
    }
  }

  .dropdown-user-menu .dropdown-select:not(.open) .dropdown-toggle {

    &:hover:enabled,
    &:hover:enabled .icon {
      color: $white;
      fill: $white;
      stroke: $white;
    }
  }

  .btn-primary {

    &,
    &:hover,
    &:active,
    &.active {
      color: $dt-text-color;
      background-color: rgba($pale-blue, 0.1);
      fill: $dt-text-color;
      stroke: $dt-text-color;
    }

    &:hover:enabled,
    &:active:enabled,
    &.active:enabled {
      color: $pale-blue;
      fill: $pale-blue;
      stroke: $pale-blue;
    }
  }

  .open:not(.dropdown-select) > .dropdown-toggle:not(.header-toggle, .btn-link),
  .open:not(.dropdown-select) > .dropdown-toggle.btn-primary {

    &,
    &:hover,
    &:active,
    &:focus {
      color: $pale-blue;
      background-color: rgba($pale-blue, 0.1);
      box-shadow: none;
    }
  }

  .open > .dropdown-toggle .caret {
    border-top-color: $pale-blue;
  }

  .btn-secondary {

    &,
    &:hover {
      color: $dt-text-color;
      background-color: $purple;
    }

    &:hover:enabled {
      color: $white;
      fill: $white;
      stroke: $white;
    }

    &.active {
      background-color: $pale-blue;
    }
  }

  .btn-tertiary {

    &,
    &:hover {
      color: $dt-text-color;
      background-color: rgba($black, 0.2);
      fill: $dt-text-color;
      stroke: $dt-text-color;
    }

    &:hover:enabled {
      color: $pale-blue;
      fill: $pale-blue;
      stroke: $pale-blue;
    }
  }

  .open:not(.dropdown-select) > .dropdown-toggle.btn-tertiary {

    &,
    &:hover,
    &:active,
    &:focus {
      color: $pale-blue;
      background-color: rgba($black, 0.2);
      fill: $pale-blue;
      stroke: $pale-blue;
    }
  }

  .btn-success {

    &,
    &:hover {
      color: $dt-text-color;
      background-color: $btn-success-bg;
      fill: $dt-text-color;
      stroke: $dt-text-color;
    }

    &:hover:enabled {
      color: $white;
      fill: $white;
      stroke: $white;
    }
  }

  .btn-save {

    &,
    &:hover {
      color: $white;
      background-color: $pale-blue;
      fill: $white;
      stroke: $white;
    }

    &:hover:enabled {
      color: $lt-button-color;
      fill: $lt-button-color;
      stroke: $lt-button-color;
    }
  }

  .btn-link {

    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $dt-text-color;
      text-decoration: none;
      background-color: transparent;
    }

    &:hover:enabled {
      color: $pale-blue;
    }
  }
}

.light-theme {

  .dropdown-select {

    .dropdown-toggle {

      &,
      &:hover,
      &:active,
      &.active {
        color: $lt-text-color;
        background-color: $white;
      }

      .icon {
        fill: $lt-text-color;
        stroke: $lt-text-color;
      }

      &:hover:enabled,
      &:hover:enabled .icon {
        color: $pale-blue;
        fill: $pale-blue;
        stroke: $pale-blue;
      }

      &.active {
        background-color: $white;
      }
    }

    &.open .dropdown-toggle {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      &,
      &:hover {
        color: $pale-blue;
        background-color: $white;
        box-shadow: none;
      }

      .icon {
        fill: $pale-blue;
        stroke: $pale-blue;
      }
    }
  }

  .page-header-layout .dropdown-select {

    .dropdown-toggle {

      &,
      &:hover,
      &:active,
      &.active {
        background-color: rgba($black, 0.1);
      }
    }
  }

  .btn-primary {

    &,
    &:hover,
    &:active,
    &.active {
      color: $pale-blue;
      background-color: rgba($pale-blue, 0.1);
      fill: $pale-blue;
      stroke: $pale-blue;
    }

    &:hover:enabled,
    &:active:enabled,
    &.active:enabled {
      color: $lt-text-color;
      fill: $lt-text-color;
      stroke: $lt-text-color;
    }
  }

  .sidebar-layout .btn-primary,
  .modal .btn-primary {

    &,
    &:hover,
    &:active,
    &.active {
      color: $white;
      background-color: rgba($white, 0.2);
      fill: $white;
      stroke: $white;
    }

    &:hover:enabled,
    &:active:enabled,
    &.active:enabled {
      color: $lt-button-color;
      fill: $lt-button-color;
      stroke: $lt-button-color;
    }
  }

  .content-item-chart .btn-primary {

    &,
    &:active,
    &.active {
      color: $white;
      background-color: rgba($white, 0.4);
      fill: $white;
      stroke: $white;
    }
  }

  .open:not(.dropdown-select) > .dropdown-toggle:not(.header-toggle, .btn-link),
  .open:not(.dropdown-select) > .dropdown-toggle.btn-primary {

    &,
    &:hover,
    &:active,
    &:focus {
      color: $pale-blue;
      background-color: rgba($pale-blue, 0.1);
      box-shadow: none;
    }
  }

  .open > .dropdown-toggle .caret {
    border-top-color: $pale-blue;
  }

  .btn-secondary {

    &,
    &:hover {
      color: $dt-text-color;
      background-color: $purple;
    }

    &:hover:enabled {
      color: $white;
      fill: $white;
      stroke: $white;
    }

    &.active {
      background-color: $pale-blue;
    }
  }

  .btn-tertiary {

    &,
    &:hover {
      color: $lt-button-color;
      background-color: rgba($black, 0.2);
      fill: $lt-button-color;
      stroke: $lt-button-color;
    }

    &:hover:enabled {
      color: $pale-blue;
      fill: $pale-blue;
      stroke: $pale-blue;
    }
  }

  .btn-success {

    &,
    &:hover {
      color: $white;
      background-color: $btn-success-bg;
      fill: $white;
      stroke: $white;
    }

    &:hover:enabled {
      color: $lt-button-color;
      fill: $lt-button-color;
      stroke: $lt-button-color;
    }
  }

  .btn-save {

    &,
    &:hover {
      color: $white;
      background-color: $pale-blue;
      fill: $white;
      stroke: $white;
    }

    &:hover:enabled {
      color: $lt-button-color;
      fill: $lt-button-color;
      stroke: $lt-button-color;
    }
  }

  .btn-link {

    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: inherit;
      text-decoration: none;
      background-color: transparent;
      fill: inherit;
      stroke: inherit;
    }

    &:hover:enabled {
      color: $pale-blue;
      fill: $pale-blue;
      stroke: $pale-blue;
    }
  }

  .sidebar-layout .btn-link,
  .modal .btn-link {
    background-color: transparent;

    &:hover:enabled {
      color: $white;
      background-color: transparent;
    }
  }
}
