// Buttons
// =======

// scss-lint:disable SelectorDepth NestingDepth
// Need to override BootStrap

$btn-font-size: 14px;
$btn-line-height: 1.6;
$btn-min-width: rem(120px);
$btn-vertical-padding: em(7px, $btn-font-size);
$btn-horizontal-padding: em(18px, $btn-font-size);
$btn-text-color: $white;
$btn-primary-background: $pale-blue;
$btn-secondary-background: transparent;
$btn-danger-background: $red;
$btn-success-background: $gradient-teal;
$btn-icon-color: $white;

$dd-font-size: 14px;
$dd-line-height: 1.6;
$dd-min-width: rem(150px);
$dd-vertical-padding: em(7px, $dd-font-size);
$dd-horizontal-padding: em(18px, $dd-font-size);

$lt-caret-color: $silver-60;

.btn {
  min-width: $btn-min-width;
  padding: $btn-vertical-padding $btn-horizontal-padding;
  font-size: rem($btn-font-size);
  font-weight: 700;
  line-height: $btn-line-height;
  color: $btn-text-color;
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;
  fill: $btn-text-color;

  @include print {
    // scss-lint:disable ImportantRule
    // Need to override Bootstrap link href for buttons
    &::after {
      content: '' !important;
    }
  }

  // scss-lint:disable QualifyingElement
  // Need to override Bootstrap
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    opacity: 0.2;
  }

  &.btn-icon,
  &.btn-link {
    min-width: 0;
  }

  &,
  &:hover,
  &:focus,
  &:active,
  &.active,
  &:active:hover,
  &.active:focus {
    color: $btn-text-color;
    outline: none;
    box-shadow: none;
  }

  &:focus {
    .dark-theme & {
      box-shadow: 0 0 0 2px $white;
    }

    .light-theme & {
      box-shadow: 0 0 0 2px rgba($black, 0.4);
    }
  }

  // TODO: this should be removed
  &.btn-outline {
    color: $dt-text-color;
    background-color: transparent !important;
    border: 2px solid rgba($pale-blue, 0.1);

    .light-theme & {
      color: $lt-text-color;
      background-color: rgba($black, 0.1);
      fill: $lt-text-color;
    }
  }

  &.btn-sm {
    min-width: 0;
  }

  > a {
    display: block;
    height: 100%;
  }

  &.has-icon {
    padding: 0 $btn-horizontal-padding 0 0;

    > .icon {
      display: inline-block;
      margin-right: 6px;
      vertical-align: middle;
    }
  }
}

.dark-theme,
.light-theme {

  // BUTTONS
  // =======
  .btn {
    .icon {
      fill: $btn-icon-color;
    }
  }

  .btn-primary {
    background-color: $btn-primary-background;

    &:hover {
      background-image: linear-gradient(rgba($white, 0.2), rgba($white, 0.2));
    }

    &:active,
    &.active,
    &:active:hover,
    &.active:focus {
      background-color: $btn-primary-background;
      background-image: linear-gradient(rgba($black, 0.1), rgba($black, 0.1));
    }
  }

  .btn-success {
    background-color: $btn-success-background;

    &:hover {
      background-image: linear-gradient(rgba($white, 0.2), rgba($white, 0.2));
    }

    &:active,
    &.active,
    &:active:hover,
    &.active:focus {
      background-color: $btn-success-background;
      background-image: linear-gradient(rgba($black, 0.1), rgba($black, 0.1));
    }
  }

  .btn-danger {
    background-color: $btn-danger-background;

    &:hover {
      background-image: linear-gradient(rgba($white, 0.15), rgba($white, 0.15));
    }

    &:active,
    &.active,
    &:active:hover,
    &.active:focus {
      background-color: $btn-danger-background;
      background-image: linear-gradient(rgba($black, 0.1), rgba($black, 0.1));
    }
  }

  .btn-icon {
    padding: 0;
    line-height: 0;
  }

  .btn-link {
    line-height: inherit;
    color: $btn-primary-background;
    text-transform: none;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &:active:hover,
    &.active:focus {
      color: $btn-primary-background;
      text-decoration: underline;
      outline: none;
      box-shadow: none;
    }
  }

  .btn-round {
    border-radius: 50%;
  }

  // DROPDOWN BUTTONS (SELECT, TOGGLE)
  // =================================
  .dropdown-select {
    min-width: $dd-min-width;

    .dropdown-toggle {
      width: 100%;
      padding: $dd-vertical-padding calc(#{$dd-horizontal-padding} * 2) $dd-vertical-padding $dd-horizontal-padding;  // Calculation prevents the text from flowing under the caret
      font-size: $dd-font-size;
      font-weight: 300;
      color: $dt-text-color;
      text-align: left;
      text-transform: none;
      background-color: rgba($black, 0.3);
      fill: $dt-text-color;

      &:focus {
        box-shadow: inset 0 0 0 2px $pale-blue, 0 0 0 1px rgba($black, 0.1);
      }

      > .icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        fill: $dt-text-color;

        @include print {
          display: none;
        }

        &.left {
          left: 0;
        }
      }

      span,
      .dropdown-select__selected-item {
        display: flex;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.has-left-icon {
        padding-left: em(36px, $btn-font-size);
      }

      &.date-picker-dropdown-toggle {
        min-width: 300px;
      }
    }

    &.open .dropdown-toggle {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.dark-theme {
  .btn-secondary {
    background-color: $btn-secondary-background;
    box-shadow: 0 0 0 2px rgba($btn-primary-background, 0.2);

    &:hover {
      background-color: rgba($btn-primary-background, 0.3);
      box-shadow: none;
    }

    &:active,
    &.active,
    &:active:hover,
    &.active:focus {
      color: $btn-text-color;
      background-color: rgba($btn-primary-background, 0.3);
      background-image: linear-gradient(rgba($black, 0.6), rgba($black, 0.6));
      box-shadow: inset 0 0 0 2px rgba($black, 0.6);
    }

    &:focus {
      box-shadow: 0 0 0 2px $white, inset 0 0 0 2px rgba($btn-primary-background, 0.2);
    }
  }

  .btn-tertiary {
    &,
    &:hover,
    &:focus {
      background-color: $black;
      background-image: linear-gradient(rgba($btn-primary-background, 0.3), rgba($btn-primary-background, 0.3));
    }

    &:active,
    &.active {
      background-image: linear-gradient(rgba($btn-primary-background, 0.2), rgba($btn-primary-background, 0.2));

      .icon {
        fill: $btn-primary-background;
      }
    }

    &:hover:not(.active),
    &:focus:not(.active) {
      background-image: linear-gradient(rgba($btn-primary-background, 0.4), rgba($btn-primary-background, 0.4));

      .icon {
        fill: $btn-primary-background;
      }
    }
  }

  .btn-transparent > .icon {
    fill: $dt-text-color;

    &:hover,
    &:focus,
    &:hover:active {
      fill: $white;
    }
  }

  .dropdown-select {
    .dropdown-toggle {
      &:hover:not(:disabled),
      &:hover:not(:disabled) .icon {
        color: $white;
        fill: $white;
      }

      &:active,
      &.active,
      &:active:hover,
      &.active:focus {
        background-color: rgba($black, 0.5);
        box-shadow: none;
      }
    }

    &.open .dropdown-toggle {
      &,
      &:hover,
      &:hover .icon,
      .icon {
        color: $pale-blue;
        background-color: rgba($black, 0.3);
        fill: $pale-blue;
      }

      &:focus {
        box-shadow: inset 0 0 0 1px rgba($black, 0.1);
      }
    }
  }
}

// Not merging with light-theme below in order to clean up light theme button styles
.light-theme {
  .btn-secondary {
    color: $btn-primary-background;
    background-color: $btn-secondary-background;
    box-shadow: inset 0 0 0 2px $btn-primary-background;

    &:hover {
      color: $white;
      background-color: $btn-primary-background;
      background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3));
      box-shadow: none;
    }

    &:active,
    &.active,
    &:active:hover,
    &.active:focus {
      color: $white;
      background-color: rgba($pale-blue, 0.3);
      background-image: linear-gradient(rgba($black, 0.6), rgba($black, 0.6));
      box-shadow: inset 0 0 0 2px rgba($black, 0.6);
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($black, 0.4), inset 0 0 0 2px $btn-primary-background;
    }
  }

  .btn-tertiary {
    &,
    &:hover,
    &:focus {
      background-color: $black;
      background-image: linear-gradient(rgba($btn-primary-background, 0.8), rgba($btn-primary-background, 0.8));
    }

    &:active,
    &.active {
      background-image: linear-gradient(rgba($btn-primary-background, 0.5), rgba($btn-primary-background, 0.5));

      .icon {
        fill: $btn-primary-background;
      }
    }

    &:hover:not(.active),
    &:focus:not(.active) {
      background-image: linear-gradient(rgba($btn-primary-background, 0.7), rgba($btn-primary-background, 0.7));

      .icon {
        fill: $btn-primary-background;
      }
    }
  }

  .btn-transparent > .icon {
    fill: $lt-text-color;

    &:hover,
    &:focus,
    &:hover:active {
      fill: $black;
    }
  }

  .dropdown-select {
    .dropdown-toggle {
      color: $lt-text-color;
      background-color: $white;
      box-shadow: 0 0 0 1px rgba($black, 0.1);

      &:hover:not(:disabled),
      &:hover:not(:disabled) .icon,
      &:active,
      &.active,
      &:active:hover,
      &.active:focus {
        color: $black;
        fill: $black;
      }

      .icon {
        fill: $lt-caret-color;
      }
    }

    &.open .dropdown-toggle {
      background-color: $white;

      &,
      &:hover,
      &:hover .icon,
      .icon {
        color: $pale-blue;
        fill: $pale-blue;
      }

      &:focus {
        box-shadow: 0 0 0 1px rgba($black, 0.1);
      }
    }
  }
}

// TODO: Update class name btn-outline from all elements and remove these styles
.light-theme {
  .configuration-sidebar .btn-outline {
    color: $pale-blue;
    background-color: $white !important;
    border: 0;
  }
}

// Table Action Buttons
.action-buttons {
  .btn {
    background: none;
    outline: none;
    box-shadow: none;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
      background: none;
      outline: none;
      box-shadow: none;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &.primary {
    .icon {
      fill: $pale-blue;
    }

    .btn {
      &:hover,
      &:focus,
      &:active,
      &:active:hover,
      &:active:focus {
        .icon {
          fill: rgba($pale-blue, 0.8);
        }
      }
    }
  }

  &.secondary {
    .icon {
      .dark-theme & {
        fill: $dt-text-color;
      }

      .light-theme & {
        fill: $silver-60;
      }
    }

    .btn {
      &:hover,
      &:focus,
      &:active,
      &:active:hover,
      &:active:focus {
        .icon {
          .dark-theme & {
            fill: $white;
          }

          .light-theme & {
            fill: $black;
          }
        }
      }
    }
  }
}
