// Button Groups
// =============

.btn-group {

  &.open .dropdown-toggle {
    box-shadow: none;
  }

  > .btn + .dropdown-toggle {
    width: $btn-height;
    padding-right: 0;
    padding-left: 0;

    @include md {
      width: $md-btn-height;
    }

    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
      margin-left: 0;
    }

    .dark-theme & {
      border-left: 1px solid rgba($black, 0.2);
    }
  }
}

.btn-toolbar {
  margin-left: 0;

  .btn,
  .btn-group,
  .input-group,
  .form-group {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  > .btn,
  > .btn-group,
  > .input-group,
  > .form-group,
  > noscript {
    margin-left: 0;

    + .btn,
    + .btn-group,
    + .input-group,
    + .form-group {
      margin-left: 12px;
    }
  }

  &.extra-margin-top {
    margin-top: $btn-height;

    @include md {
      margin-top: $md-btn-height;
    }
  }
}
