// Dropdowns
// =========

.caret {
  border-width: 5px;

  @include print {
    display: none;
  }

  &.up {
    border-top-style: none;
    border-bottom-style: solid;
  }
}

.dropdown {
  outline: none;
}

// scss-lint:disable SelectorDepth NestingDepth
// Need to override bootstrap styles
.dropdown-menu,
.navbar-nav .open .dropdown-menu {
  position: absolute;
  width: 100%;
  min-width: 250px;
  padding: 0;
  margin: 0;
  font-size: inherit;
  text-transform: none;
  border: 0;
  border-radius: 0 0 2px 2px;
  box-shadow: none;

  .navbar-right &:not(.dropdown-menu-right) {
    right: auto;
    left: 0;
  }

  .open & {
    animation: showDropdown 250ms ease-out;
  }

  .dropup.open & {
    animation: showDropup 250ms ease-out;
  }

  .dark-theme &,
  .light-theme .header &,
  .light-theme .sidebar-layout &,
  .light-theme .configuration-sidebar & {
    color: $dt-text-color;
    background-color: $black;
    background-image: radial-gradient(circle, rgba($purple, 0), rgba($purple, 0.08)), linear-gradient(rgba($pale-blue, 0.2), rgba($pale-blue, 0.1));
    background-size: 100%;

    .active > a,
    li > .active {

      &,
      &:hover,
      &:focus {
        color: $pale-blue;
        background-color: rgba($pale-blue, 0.1);
      }
    }
  }

  .light-theme & {
    color: $lt-text-color;
    background-color: $silver-30;

    .active > a {

      &,
      &:hover,
      &:focus {
        color: $black;
        background-color: rgba($black, 0.1);
      }
    }
  }

  .header-toggle + & {
    top: 110%;
  }

  &.dropdown-account-menu {
    width: 200%;
  }

  &.dropdown-user-menu {
    width: 500px;
    height: 100%;
    min-height: calc(100vh - #{$header-total-height});
    overflow: auto;
    font-size: 30px;

    @include md {
      width: 380px;
      min-height: calc(100vh - #{$md-header-total-height});
      font-size: 20px;
    }

    .menu-item-theme {
      z-index: 1;
    }

    .helper-header {
      position: relative;
      display: block;
      font-size: $font-size-sm;

      @include md {
        font-size: $sm-font-size-sm;
      }

      &.helper-ui-theme::after {
        position: absolute;
        top: 50%;
        left: 70%;
        width: 50px;
        height: 10px;
        background: linear-gradient(to right,
          $pale-blue 20%, $green 21%, $green 40%, $purple 41%, $purple 60%,
          $red 61%, $red 80%, $yellow 81%);
        content: '';
        transform: translateY(-50%);

        @include md {
          width: 40px;
          height: 8px;
        }
      }
    }

    > li {

      &.dropdown-user-menu-container {
        height: 100%;
        margin-bottom: -($bar-height + $btn-height);

        @include md {
          margin-bottom: -($md-bar-height + $md-btn-height);
        }

        &::after {
          display: block;
          height: $bar-height + $btn-height;
          content: '';

          @include md {
            height: $md-bar-height + $md-btn-height;
          }
        }
      }

      > ul {
        padding: 0;
        list-style: none;

        > li {
          position: relative;
          display: block;
          height: auto;
          min-height: $bar-height;

          @include md {
            min-height: $md-bar-height;
          }
        }
      }

      > ul > li,
      &.bottom-item {

        > a,
        > .menuitem {
          position: relative;
          display: block;
          min-height: $bar-height + $btn-height;
          padding: 0;
          margin: 0;

          @include md {
            min-height: $md-bar-height + $md-btn-height;
            margin: 0;
          }
        }

        > a {

          &::before {
            position: absolute;
            top: 50%;
            right: $btn-sm-height / 2;
            width: $btn-height / 2;
            height: $btn-height / 2;
            margin-top: -($btn-height / 4);
            border-radius: 50%;
            content: '';

            @include md {
              right: $md-btn-sm-height / 2;
              width: $btn-sm-height / 2;
              height: $btn-sm-height / 2;
              margin-top: -($btn-sm-height / 4);
            }

            .dark-theme &,
            .light-theme & {
              background-color: rgba($black, 0.2);
            }
          }

          &::after {
            position: absolute;
            top: 50%;
            right: $btn-sm-height / 2;
            margin: -5px 12px 0 0;
            vertical-align: middle;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px dashed;
            content: '';

            @include md {
              right: $md-btn-sm-height / 2;
              margin-right: 8px;
            }

            .dark-theme &,
            .light-theme .header &,
            .light-theme .sidebar-layout &,
            .light-theme .configuration-sidebar & {
              border-left-color: $dt-text-color;
            }

            .light-theme & {
              border-left-color: $white;
            }
          }

          &:hover::after {

            .dark-theme &,
            .light-theme .header &,
            .light-theme .sidebar-layout &,
            .light-theme .configuration-sidebar & {
              border-left-color: $white;
            }
          }
        }

        &:not(.dropdown-header) + li a,
        &:not(.dropdown-header) + li .menuitem,
        &.bottom-item a {

          .dark-theme &,
          .light-theme & {
            border-top: 1px solid rgba($pale-blue, 0.1);
          }
        }

        .user-menu-item {
          position: absolute;
          top: 50%;
          width: 100%;
          padding: 0 $dropdown-padding;
          transform: translateY(-50%);
        }

        &.dropdown-header .user-menu-item {
          padding: 0 $dropdown-padding;
        }

        .dropdown-select {
          width: calc(100% + #{$dropdown-padding * 2});
          margin: 0 (-$dropdown-padding * 2 / 2);

          > .dropdown-toggle {
            padding: 0 $dropdown-padding;
            font-weight: inherit;
            background: transparent;
          }

          .dropdown-menu {
            color: $lt-text-color;
            background-color: $silver-40;

            li > a {
              padding: 15px $dropdown-padding;
              color: $lt-text-color;

              &:hover {
                color: $black;
              }
            }
          }

          .icon {
            margin-right: 10px;

            @include md {
              margin-right: 2px;
            }
          }
        }
      }
    }
  }

  > li {
    display: table;
    width: 100%;
    height: $bar-height;

    @include md {
      height: $md-bar-height;
    }

    > a,
    > ul > li > a {
      display: table-cell;
      padding: 15px $dropdown-padding;
      line-height: 1.1em;
      color: inherit;
      white-space: normal;
      vertical-align: middle;

      .dark-theme &,
      .light-theme .header &,
      .light-theme .sidebar-layout &,
      .light-theme .configuration-sidebar & {
        color: $dt-text-color;

        &:not(.active) {
          border-top: 1px solid rgba($pale-blue, 0.1);
        }

        &:hover,
        &:focus {
          color: $white;
          background-color: transparent;
        }
      }

      .light-theme & {
        color: $lt-text-color;
        border-right: 1px solid rgba($black, 0.1);
        border-bottom: 1px solid rgba($black, 0.1);

        &:hover,
        &:focus {
          color: $black;
          background-color: transparent;
        }
      }
    }

    .form-control.header-search-input {
      width: calc(100% + #{$dropdown-padding});
      height: 50px;
      margin: 0 0 0 (-$dropdown-padding / 2);

      @include md {
        height: 40px;
      }
    }

    &.dropdown-header,
    > ul > .dropdown-header {
      padding: 0;
      font-size: inherit;
      color: inherit;

      .dark-theme &,
      .light-theme .header &,
      .light-theme .sidebar-layout &,
      .light-theme .configuration-sidebar & {
        background: rgba($black, 0.2);
      }
    }

    &.active::after {

      .dark-theme &,
      .light-theme .header &,
      .light-theme .sidebar-layout &,
      .light-theme .configuration-sidebar & {
        background-color: rgba($pale-blue, 0.1);
      }

      .light-theme & {
        background-color: rgba($white, 0.2);
      }
    }
  }
}

.navbar-fixed-top .dropdown-menu:not(.dropdown-user-menu) {
  max-height: calc(100vh - #{$header-total-height});
  overflow: auto;

  @include md {
    max-height: calc(100vh - #{$md-header-total-height});
  }
}

.dropup,
.navbar-fixed-bottom .dropdown {

  .dropdown-menu {
    margin-bottom: 0;
  }
}

@keyframes showDropdown {
  0% {
    margin-top: -10px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes showDropup {
  0% {
    margin-bottom: -10px;
    opacity: 0;
  }

  100% {
    margin-bottom: 0;
    opacity: 1;
  }
}
