// Forms
// =====

// scss-lint:disable SelectorDepth
// Need to override BootStrap
label {
  margin-bottom: $form-label-margin;
  font-weight: bold;
}

.form-control {
  height: $bar-height;
  max-width: 900px;
  padding: ($btn-sm-height / 3) ($btn-height / 2);
  font-size: inherit;
  color: inherit;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  transition: box-shadow 0s;

  @include md {
    height: $md-bar-height;
    padding: ($md-btn-sm-height / 3) ($md-btn-height / 2);
  }

  // Hide IE clear and reveal buttons for design purposes
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  .dark-theme & {
    color: $dt-text-color;
    background-color: rgba($black, 0.2);

    &:focus,
    &:active {
      box-shadow: inset 0 0 0 1px $pale-blue;
    }

    &::placeholder {
      color: rgba($dt-text-color, 0.3);

      @include print {
        color: transparent;
      }
    }
  }

  .light-theme .configuration-sidebar & {
    color: $lt-text-color;
    background-color: $white;

    &:focus,
    &:active {
      box-shadow: inset 0 0 0 1px $pale-blue;
    }

    &::placeholder {
      color: rgba($lt-text-color, 0.3);

      @include print {
        color: transparent;
      }
    }
  }

  .light-theme & {
    color: $lt-text-color;
    background-color: $white;

    &:focus,
    &:active {
      box-shadow: inset 0 0 0 1px $pale-blue;
    }

    &::placeholder {
      color: rgba($lt-text-color, 0.3);
    }
  }

  .light-theme .page-header-layout & {
    background-color: rgba($black, 0.1);

    &:focus,
    &:active {
      box-shadow: inset 0 0 0 1px $pale-blue;
    }

    &::placeholder {
      color: rgba($lt-text-color, 0.3);
    }
  }

  .dark-theme .has-error &,
  .light-theme .has-error & {
    background-color: $purple;

    &[type=textarea] {
      color: rgba($dt-text-color, 0.3);
    }

    &::placeholder {
      color: rgba($dt-text-color, 0.3);
    }
  }

  &.valid,
  .valid & {

    &:focus,
    &:active {
      box-shadow: inset 0 0 0 1px $green;
    }
  }

  &.invalid,
  .invalid & {

    &,
    &:hover,
    &:focus,
    &:active {
      box-shadow: inset 0 0 0 1px $purple;
    }
  }
}

.form-groups {
  position: relative;
}

.form-group {
  padding-bottom: $form-group-padding;
  margin-bottom: 0;

  @include md {
    padding-bottom: $md-form-group-padding;
  }

  @include print {
    padding-bottom: 0;
  }

  .header &,
  .sidebar-content &:only-child,
  .sidebar-content &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .form-group {
    padding-bottom: 0;
  }
}

.form-horizontal {

  .control-label {
    padding-top: 26px;
    text-align: inherit;
  }

  .form-groups .control-label {
    position: absolute;
    top: 50%;
    left: -15px;
    padding-top: 0;
    padding-bottom: $form-group-padding;
    transform: translateY(-50%);

    @include md {
      padding-bottom: $md-form-group-padding;
    }
  }
}

.checkbox-div {

  &.inline {
    display: inline-block;
    margin-right: 50px;
  }
}

.checkbox {
  margin: 0;

  label {
    padding-left: 0;
  }

  input {
    display: none;

    + span::before {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: -2px 20px 2px 0;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 2px;
      content: '';

      @include md {
        width: 30px;
        height: 30px;
        margin-right: 15px;
      }

      .dark-theme &,
      .light-theme .sidebar-layout &,
      .light-theme .configuration-sidebar & {
        background: rgba($black, 0.2);
      }

      .light-theme & {
        background: $white;
      }
    }

    .dark-theme &:checked + span::before,
    .light-theme &:checked + span::before,
    .light-theme .modal .configuration-sidebar &:checked + span::before {
      background: $pale-blue url('../assets/icons/icon-checkbox.svg') center center no-repeat;
      background-size: 17px 16px;
    }

    .light-theme .modal &:checked + span::before {
      background: rgba($black, 0.2) url('../assets/icons/icon-checkbox.svg') center center no-repeat;
      background-size: 17px 16px;
    }
  }
}

.radio {
  margin: 0;

  label {
    position: relative;
    padding-left: 0;
  }

  input {
    display: none;

    + span::before {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 20px 0 0;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 50%;
      content: '';

      @include md {
        width: 30px;
        height: 30px;
        margin-right: 15px;
      }

      .dark-theme &,
      .light-theme .configuration-sidebar & {
        background-color: rgba($black, 0.2);
      }

      .light-theme & {
        background-color: $white;
      }
    }

    &:checked + span::after {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      content: '';

      @include md {
        top: 7px;
        left: 7px;
        width: 16px;
        height: 16px;
      }
    }

    .dark-theme &:checked + span,
    .light-theme &:checked + span {

      &::after {
        background-color: $pale-blue;
      }
    }
  }
}

.help-block {

  &,
  .has-warning &,
  .has-error & {

    .dark-theme &,
    .light-theme & {
      margin-top: 10px;
      margin-bottom: 0;
      color: inherit;
    }
  }
}

.error-msg {
  margin-bottom: 10px;
  color: $red;
}

.search-input {
  height: $header-btn-height;
  padding: 10px 0 10px 50px;
  margin-top: ($bar-height - $header-btn-height) / 2;
  margin-right: 10px;
  margin-left: 10px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: $header-btn-height / 2;

  @include lg {
    margin-right: 5px;
    margin-left: 5px;
  }

  @include md {
    height: $md-header-btn-height;
    margin-top: ($md-bar-height - $md-header-btn-height) / 2;
    border-radius: $md-header-btn-height / 2;
  }

  .dark-theme & {
    background-image: url('../assets/icons/dt-icon-search.svg');
  }

  .light-theme & {
    background-image: url('../assets/icons/lt-icon-search.svg');
  }
}

.search-input-group {

  .header-btn-row & {
    position: relative;
    top: 1px;
    display: inline-block;
    margin-right: 1em;

    > .search-input {
      width: 16em;
    }
  }
}
