// Forms
// =====

$form-font-size: 14px;
$form-line-height: 1.6;
$form-vertical-padding: em(7px, $form-font-size);
$form-horizontal-padding: em(12px, $form-font-size);
$form-inline-min-width: em(228px, $form-font-size);
$form-inline-margin-right: em(12px, $form-font-size);
$textarea-min-height: em(96px, $form-font-size);
$form-error-color: $red;
$form-success-color: $green;
$number-input-btn-width: $btn-height / 2;
$checkbox-width: 30px;

// scss-lint:disable SelectorDepth
// Need to override BootStrap
label {
  margin-bottom: 10px;
  font-size: rem(18px);
  font-weight: 700;
  line-height: 1;
}

.dark-theme {
  input[disabled],
  textarea[disabled] {
    color: rgba($silver-60, 0.2);
    background-color: rgba($black, 0.1);
    user-select: none;

    &:active {
      color: $dt-text-color;
      box-shadow: none;
    }
  }

  input[disabled]::placeholder {
    color: rgba($silver-60, 0.2);
  }
}

.light-theme {
  input[disabled],
  textarea[disabled] {
    color: rgba($grey-80, 0.2);
    background: none;
    user-select: none;

    &:active {
      box-shadow: 0 0 0 1px rgba($black, 0.1);
    }
  }

  input[disabled]::placeholder {
    color: rgba($grey-80, 0.2);
  }
}

.form-control {
  height: auto;
  max-width: 900px;
  padding: $form-vertical-padding $form-horizontal-padding;
  font-size: rem($form-font-size);
  line-height: $form-line-height;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  transition: box-shadow 0s;

  // Hide IE clear and reveal buttons for design purposes
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  &::placeholder {
    @include print {
      color: transparent;
    }
  }

  .dark-theme & {
    color: $dt-text-color;
    background-color: rgba($black, 0.2);

    &:focus,
    &:active {
      color: $white;
      box-shadow: inset 0 0 0 2px $pale-blue, 0 0 0 1px rgba($black, 0.1);
    }

    &::placeholder {
      color: rgba($dt-text-color, 0.3);

      @include print {
        color: transparent;
      }
    }
  }

  .light-theme & {
    color: $lt-text-color;
    background-color: $white;
    box-shadow: 0 0 0 1px rgba($black, 0.1);

    &:focus,
    &:active {
      box-shadow: inset 0 0 0 2px $pale-blue, 0 0 0 1px rgba($black, 0.1);
    }

    &::placeholder {
      color: rgba($lt-text-color, 0.3);
    }
  }

  .has-success & {
    .dark-theme & {
      box-shadow: inset 0 0 0 2px $form-success-color, 0 0 0 1px rgba($black, 0.5);
    }

    .light-theme & {
      box-shadow: inset 0 0 0 2px $form-success-color, 0 0 0 1px rgba($black, 0.1);
    }
  }

  &.valid,
  .valid & {
    &:focus,
    &:active {
      .dark-theme & {
        box-shadow: inset 0 0 0 2px $form-success-color, 0 0 0 1px rgba($black, 0.5);
      }

      .light-theme & {
        box-shadow: inset 0 0 0 2px $form-success-color, 0 0 0 1px rgba($black, 0.1);
      }
    }
  }

  .has-error & {
    .dark-theme & {
      box-shadow: inset 0 0 0 2px $form-error-color, 0 0 0 1px rgba($black, 0.5);
    }

    .light-theme & {
      box-shadow: inset 0 0 0 2px $form-error-color, 0 0 0 1px rgba($black, 0.1);
    }
  }

  &.invalid,
  .invalid & {
    &,
    &:focus,
    &:active {
      .dark-theme & {
        box-shadow: inset 0 0 0 2px $form-error-color, 0 0 0 1px rgba($black, 0.5);
      }

      .light-theme & {
        box-shadow: inset 0 0 0 2px $form-error-color, 0 0 0 1px rgba($black, 0.1);
      }
    }
  }
}

.submit-error {
  color: $form-error-color;
}

.control-label {
  .has-success & {
    color: $form-success-color;
  }

  .has-error & {
    color: $form-error-color;
  }
}

.form-control-static {
  height: auto;
  max-width: 900px;
  padding: $form-vertical-padding $form-horizontal-padding;
  font-size: rem($form-font-size);
  line-height: $form-line-height;
}

.form-groups {
  position: relative;
}

.form-group {
  padding-bottom: $form-group-padding;
  margin-bottom: 0;

  &.inline {
    display: inline-block;
    margin-right: 1em;

    > .search-input,
    > .dropdown-select {
      width: $form-inline-min-width;
    }
  }

  .header &,
  .sidebar-content &:only-child,
  .sidebar-content &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .form-group {
    padding-bottom: 0;
  }
}

.inline-form-layout {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  .form-group {
    width: 100%;
    padding-bottom: 0;

    &:not(:last-child) {
      margin-right: $form-inline-margin-right;
    }
  }

  .inline-add-row & {
    margin-right: 50px;
  }
}

.form-horizontal {
  .form-group {
    margin-right: 0;
    margin-left: 0;
  }

  .control-label {
    text-align: inherit;
  }
}

textarea {
  &.form-control {
    min-height: $textarea-min-height;
  }
}

.checkbox-array {
  &--table {
    .checkbox-array__header {
      height: $btn-height;
      font-weight: normal;
      text-transform: uppercase;
      border: 0;

      @include md {
        height: 50px;
      }

      .dark-theme & {
        background-color: rgba($pale-blue, 0.2);
      }

      .light-theme & {
        color: $white;
        background-color: $pale-blue;
      }
    }

    .checkbox-array__header,
    .checkbox-array__items .checkbox-div {
      position: relative;
      display: flex;
      padding: 0 ($btn-height / 2);
      vertical-align: middle;
      border: 0;
      align-items: center;

      @include md {
        padding: 0 ($md-btn-height / 2);
      }
    }

    .checkbox-array__items {
      .dark-theme & {
        background-color: rgba($black, 0.1);

        .checkbox-div:nth-of-type(odd) {
          background-color: rgba($black, 0.1);
        }
      }

      .light-theme & {
        background-color: $white;

        .checkbox-div:nth-of-type(odd) {
          background-color: $white;
        }

        .checkbox-div:nth-of-type(even) {
          background-color: rgba($silver-20, 0.5);
        }
      }

      .checkbox-div {
        height: $bar-height;

        &.inline {
          display: inline-block;
          margin-right: $btn-sm-height;

          @include md {
            height: $md-bar-height;
            margin-right: $md-btn-sm-height;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }

        &.disabled {
          label,
          input + span::before {
            cursor: default;
          }
        }
      }
    }

    .checkbox-div {
      &.inline {
        display: inline-block;
        margin-right: 50px;
      }
    }
  }
}

.checkbox label,
.radio label,
.radio-inline {
  position: relative;
  padding-left: 0;
  font-size: rem(14px);
  font-weight: 500;
  cursor: default;
}

.checkbox,
.radio,
.radio-inline {
  margin: 0;

  .menu-item-label {
    display: inline-block;
    width: calc(100% - $checkbox-width);
  }

  input {
    display: none;

    + span {
      cursor: pointer;

      &::before {
        display: inline-block;
        width: calc(#{$bar-height} / 2);
        height: calc(#{$bar-height} / 2);
        margin: 0 calc(#{$bar-height} / 4) 0 0;
        vertical-align: top;
        cursor: pointer;
        content: '';

        .dark-theme &,
        .light-theme &,
        .light-theme .sidebar-layout &,
        .light-theme .configuration-sidebar & {
          background: rgba($black, 0.2);
        }
      }
    }

    &.disabled,
    &[disabled] {

      + span {
        cursor: not-allowed;
        opacity: 0.2;

        &::before {
          cursor: not-allowed;

          .dark-theme &,
          .light-theme &,
          .light-theme .sidebar-layout &,
          .light-theme .configuration-sidebar & {
            background: rgba($black, 0.3);
          }
        }
      }
    }
  }
}

.checkbox {
  input {
    + span::before {
      border-radius: 2px;
    }

    .dark-theme &:checked + span::before,
    .light-theme .modal .configuration-sidebar &:checked + span::before {
      background: $pale-blue url('../assets/icons/dt-icon-checkbox.svg') center center no-repeat;
      background-size: 12px;
    }

    .light-theme &:checked + span::before,
    .light-theme .modal &:checked + span::before {
      background: $pale-blue url('../assets/icons/lt-icon-checkbox.svg') center center no-repeat;
      background-size: 12px;
    }
  }
}

.radio,
.radio-inline {

  input {
    + span::before {
      border-radius: 50%;
    }

    &:checked + span::after {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      content: '';
    }

    .dark-theme &:checked + span,
    .light-theme &:checked + span {
      &::after {
        background-color: $pale-blue;
      }
    }
  }
}

.help-block {
  .dark-theme & {
    color: $dt-text-color;
  }

  .light-theme & {
    color: $lt-text-color;
  }

  .has-success & {
    color: $form-success-color;
  }

  .has-error & {
    color: $form-error-color;
  }

  &.error-msg {
    color: $form-error-color;
  }

  .multiline-tex-field-error {
    margin-top: 0.5em;
  }
}

.no-margin-top.help-block {
  margin-top: 0 !important;
}

.search-input {
  height: $btn-height;
  padding: 10px 0 10px 50px;
  margin-top: ($bar-height - $btn-height) / 2;
  margin-right: 10px;
  margin-left: 10px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: $btn-height / 2;

  @include lg {
    margin-right: 5px;
    margin-left: 5px;
  }

  .dark-theme & {
    background-image: url('../assets/icons/dt-icon-search.svg');
  }

  .light-theme & {
    background-image: url('../assets/icons/lt-icon-search.svg');
  }
}

.search-input-group {

  .header-btn-row & {
    position: relative;
    top: 1px;
    display: inline-block;
    margin-right: 1em;

    > .search-input {
      width: 16em;
    }
  }
}

.input-group-static {
  display: inline-flex;

  & .input-group-addon {
    padding-top: 9px;
  }
}

.number-input-group {

  .number-input {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .input-group-addon {
    position: relative;
    min-width: $number-input-btn-width;
    padding: 0;

    .dark-theme & {
      background-color: rgba($black, 0.2);
    }

    .light-theme & {
      background-color: $white;
    }

    .btn {
      position: absolute;
      top: 0;
      right: 0;
      height: 50%;
      min-width: $number-input-btn-width;
      padding: 0;
      background-color: rgba($black, 0.2);
      border-radius: 0;

      &:focus,
      &:active {
        box-shadow: none;
      }

      .icon {
        display: block;

        .dark-theme & {
          fill: $dt-text-color;

          &:hover {
            fill: $white;
          }
        }

        .light-theme & {
          fill: $lt-text-color;

          &:hover {
            fill: $black;
          }
        }
      }

      + .btn {
        top: $number-input-btn-width;
        border-top: 1px solid;

        .dark-theme & {
          border-top-color: rgba($pale-blue, 0.2);
        }

        .light-theme & {
          border-top-color: $white;
        }
      }
    }
  }
}
