// Grid
// ====

.row.no-gutters,
.row.no-end-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row.no-end-gutters > [class^="col-"],
.row.no-end-gutters > [class*=" col-"] {

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.row.header-btn-row {
  margin-bottom: $btn-height / 3;

  @include md {
    margin-bottom: $md-btn-height / 3;
  }

  h3 {
    margin-top: 14px;
  }
}

.has-middle-separator {
  position: relative;

  &::before {
    position: absolute;
    left: 50%;
    display: block;
    height: 100%;
    content: '';

    .dark-theme & {
      border-right: 1px solid $dt-text-color;
    }

    .light-theme & {
      border-right: 1px solid $lt-text-color;
    }
  }
}
