// Icons
// =====
$icon-base-color: $white;
$icon-two-tone-base: $silver-20;
$icon-two-tone-base-light: $white;
$icon-two-tone-primary: $dark-blue;
$icon-two-tone-primary-light: $pale-blue;

.icon {
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  background-color: transparent !important; // Due to the addition of a viewbox, the icons always need a transparent background
  background-position: center center;
  background-repeat: no-repeat;

  .dark-theme & {
    fill: $icon-base-color;
  }

  .light-theme & {
    fill: $lt-text-color;
  }

  &.no-fill,
  .dark-theme &.no-fill,
  .light-theme &.no-fill {
    fill: transparent;
  }

  &.pale-blue {

    .dark-theme &,
    .light-theme & {
      color: $pale-blue;
      fill: $pale-blue;
    }

    &.two-tone {

      .base {
        fill: $pale-blue;
      }

      .primary {
        color: $icon-two-tone-base;
        fill: $icon-two-tone-base;
      }
    }
  }

  // Two tone icons used primarily for support tickets
  &.two-tone {
    stroke: none;

    .base {
      fill: $icon-two-tone-base;
    }

    .primary {
      color: $icon-two-tone-primary;
      fill: $icon-two-tone-primary;
    }

    .pale-blue {
      color: $pale-blue;
      fill: $pale-blue;
    }

    .light-theme & {
      .base {
        fill: $icon-two-tone-primary-light;
      }

      .primary {
        color: $icon-two-tone-base-light;
        fill: $icon-two-tone-base-light;
      }
    }
  }

  &.three-tone {

    &.secondary-green .secondary {
      fill: $green;
    }

    &.secondary-yellow .secondary {
      fill: $yellow;
    }

    &.secondary-red .secondary {
      fill: $red;
    }
  }

  &.icon-export {
    .btn:not(.btn-icon) > & {
      top: -3px;
    }
  }
}
