// Icons
// =====

.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  line-height: 1;
  background-position: center center;
  background-repeat: no-repeat;

  @include md {
    transform: scale(0.75, 0.75);
  }

  .dark-theme & {
    fill: $dt-text-color;
    stroke: $dt-text-color;
  }

  .btn-icon & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: inherit;
    stroke: inherit;

    @include md {
      transform: translate(-50%, -50%) scale(0.75, 0.75);
    }
  }

  &.no-fill {
    fill: transparent;
  }
}

.icon-chart {
  width: 22px;
  height: 20px;

  .dark-theme & {
    background-image: url('../assets/icons/dt-icon-chart.svg');
  }
}
