// Icons
// =====

.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  line-height: 1;

  .btn-icon & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.icon-alerts {
  width: 18px;
  height: 25px;

  .dark-theme & {
    background-image: url('../assets/icons/dt-icon-alerts.svg');
    background-position: center center;
    background-repeat: no-repeat;
  }
}
