// Input groups
// ============

.input-group-addon {

  .dark-theme & {
    min-width: $bar-height;
    font-size: inherit;
    color: inherit;
    background-color: rgba($black, 0.2);
    border: 0;
    border-right: 1px solid rgba($black, 0.2);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }
}
