// Input groups
// ============

.input-group {
  width: 100%;
  max-width: 900px;
  margin-bottom: 10px;

  .form-control {
    min-height: $bar-height;
  }
}

.inline-add-row .input-group {
  margin-bottom: 0;
}

.input-group-addon {
  height: 100%;
  min-width: $bar-height;
  color: inherit;
  text-align: left;
  background-color: transparent;
  border: 0;

  .icon {
    fill: $white;
  }
}

.input-group-addon.addon-before {
  padding-left: 0;
}

.has-error .input-group-addon {
  // UDNP-2419: Don't allow overriding border-color and background-color by has-error.
  color: $form-error-color;
  background-color: inherit;
  border-color: inherit;
}

.input-addon-before .input-group-addon:first-child {
  padding: 0 6px;
  line-height: 0;

  .dark-theme & {
    background-color: rgba($black, 0.2);
  }
}

.input-addon-after-outside {

  .input-group {
    width: 100%;
  }

  .input-group-addon:last-child {
    position: absolute;
    left: 100%;
    display: block;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.input-addon-link {
  display: block;
  height: $bar-height;
  min-width: $bar-height;
  cursor: pointer;

  .dark-theme & {
    color: $dt-text-color;
    fill: $dt-text-color;
  }

  .light-theme & {
    color: $lt-text-color;
    fill: $lt-text-color;
  }

  .icon {
    fill: inherit;
  }

  &:hover,
  &:active,
  &.active {

    .dark-theme &,
    .light-theme & {
      color: $pale-blue;

      & .icon,
      & .icon .base {
        fill: $pale-blue;
      }
    }
  }
}

.can-copy-to-clipboard {
  input[disabled],
  textarea[disabled] {
    user-select: text;
  }
}
