// Input groups
// ============

.input-group {
  max-width: 980px;
}

.input-group-addon {
  min-width: $bar-height;
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
}
