// Modals
// ======

$dt-modal-bg-color: $medium-blue;
$lt-modal-bg-color: $white;

.modal-dialog {

  .login-modal > & {
    margin-top: 0;
  }

  .modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: none;

    .dark-theme & {
      background-color: $dt-modal-bg-color;
    }

    .light-theme & {
      background-color: $lt-modal-bg-color;
    }
  }

  .modal-footer {
    .dark-theme & {
      background: rgba($black, 0.2);
    }

    .light-theme & {
      background: rgba($black, 0.04);
    }
  }
}

.modal-backdrop {
  .dark-theme & {
    background-color: $black;

    &.in {
      opacity: 0.3;
    }
  }

  .light-theme & {
    background-color: $black;

    &.in {
      opacity: 0.1;
    }
  }
}
