// Navs
// ====
$nav-tab-vertical-padding: rem(10px);
$nav-tab-horizontal-padding: rem(24px);
$nav-tab-horizontal-margin: rem(12px);
$nav-tab-line-height: (24/14);
$nav-tab-border-width: 4px;
$dt-tab-color: $dt-text-color;
$lt-tab-color: $lt-text-color;

.navbar-nav {
  padding-left: 45px;

  &,
  .container-fluid > & {
    float: left;
    margin: 0;
  }

  .navbar-brand {
    margin-right: 0;
    margin-left: -15px;
  }

  > li {
    float: left;
  }
}

.navbar-right,
.container-fluid > .navbar-right {
  float: right;
  margin-right: -15px;
}

.nav-tabs {
  border-bottom: $nav-tab-border-width solid;

  .dark-theme & {
    background-color: rgba($pale-blue, 0.2);
    border-color: rgba($black, 0.4);
  }

  .light-theme & {
    background-color: $white;
    border-color: rgba($black, 0.1);
  }

  &.dropdown-tabs {

    .dark-theme & {
      background-color: $black;
      background-image: linear-gradient(rgba($purple, 0.05), rgba($purple, 0.05)), linear-gradient(rgba($pale-blue, 0.2), rgba($pale-blue, 0.2));
      background-size: 100%;

      > li > a {
        color: $dt-tab-color;

        &:hover,
        &:focus,
        &:hover:active {
          color: $pale-blue;
        }
      }
    }
  }

  > li {
    min-height: 0;
    margin: 0 $nav-tab-horizontal-margin -#{$nav-tab-border-width};
    border: 0;

    &:first-of-type {
      margin-left: 30px;
    }

    &.active {
      > a {
        &,
        &:hover,
        &:focus {
          .dark-theme &,
          .light-theme & {
            font-weight: 700;
            color: $pale-blue;
            background-color: transparent;
            border: 0;
            border-bottom: 4px solid $pale-blue;
            outline: 0;
          }
        }
      }
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;

      > a {
        pointer-events: none;
      }
    }

    & {
      .dropdown-wide-menu {
        > .disabled {
          cursor: not-allowed;

          > a {
            pointer-events: none;
          }
        }
      }
    }

    > a,
    .tabs-dropdown-toggle {
      padding: $nav-tab-vertical-padding $nav-tab-horizontal-padding;
      margin: 0;
      font-weight: 500;
      line-height: $nav-tab-line-height;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      border: 0;

      &.inactive {
        cursor: not-allowed;
        opacity: 0.3;
      }

      .dark-theme & {
        color: $dt-tab-color;
      }

      .light-theme & {
        color: $lt-tab-color;
      }

      &:hover,
      &:hover:active,
      &:focus {
        text-decoration: none;
        background-color: transparent;
        outline: 0;

        .dark-theme & {
          color: $white;
        }

        .light-theme & {
          color: $black;
        }
      }

      &.active {
        &,
        &:hover,
        &:focus {
          font-weight: 700;
          color: $pale-blue;
          border-bottom: 4px solid $pale-blue;
        }
      }
    }

    .tabs-dropdown-toggle {
      padding-top: em(5px, $btn-font-size);
      padding-bottom: 0;
      background: none;

      .light-theme & .icon {
        fill: $lt-text-color;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .open .tabs-dropdown-toggle {

      .dark-theme &,
      .light-theme & {
        font-weight: 700;
        color: $pale-blue;
        background: none;

        .icon {
          fill: $pale-blue;
        }
      }
    }
  }
}
