// Navs
// ====

// scss-lint:disable SelectorDepth NestingDepth
// Need to override Bootstrap
.navbar-nav,
.navbar-header {

  &,
  .container-fluid > & {
    float: left;
    margin: 0;
  }

  .navbar-brand {
    margin-right: 0;
    margin-left: -15px;
  }

  > li {
    float: left;
  }
}

.navbar-right,
.container-fluid > .navbar-right {
  float: right;
  margin-right: -15px;
}

.main-nav,
.nav-tabs {

  > li {
    float: left;
    height: $bar-height;
    min-width: 250px;

    @include lg {
      min-width: 180px;
    }

    @include md {
      height: $md-bar-height;
      min-width: 120px;
    }

    @include sm {
      min-width: 0;
    }

    > a,
    .main-nav-link,
    .dropdown {
      display: block;
      width: 100%;
      height: $bar-height;
      padding: 0;
      line-height: $bar-height;
      text-align: center;
      text-transform: uppercase;
      border: 0;

      @include md {
        height: $md-bar-height;
        line-height: $md-bar-height;
      }

      &.inactive {
        opacity: 0.3;
      }

      .dark-theme &,
      .light-theme & {
        color: $dt-text-color;
      }

      &:not(.inactive):not(.active):hover,
      &:not(.inactive):focus {
        text-decoration: none;
        background-color: transparent;
        outline: none;

        .dark-theme &,
        .light-theme & {
          color: $white;
        }
      }
    }

    > a,
    .main-nav-link {
      padding: 0 20px;

      @include sm {
        padding: 0 10px;
      }

      &.active {

        &,
        &:hover,
        &:focus {
          color: $pale-blue;
          text-decoration: none;
          background-color: inherit;
          border: 0;
          border-bottom: 5px solid $pale-blue;
        }
      }
    }

    &.active {

      > a,
      .main-nav-link {

        &,
        &:hover,
        &:focus {
          color: $pale-blue;
          text-decoration: none;
          background-color: inherit;
          border: 0;
          border-bottom: 5px solid $pale-blue;
        }
      }
    }
  }
}

.nav-tabs {
  border-bottom: 5px solid;

  .dark-theme & {
    background-color: rgba($black, 0.1);
    border-color: rgba($black, 0.4);
  }

  .light-theme & {
    background-color: rgba($white, 0.5);
    border-color: rgba($black, 0.2);
  }

  > li {
    height: calc(100% + 5px);
    min-width: 200px;
    margin-bottom: -5px;
    color: $lt-text-color;

    @include lg {
      min-width: 120px;
    }

    @include md {
      min-width: 0;
    }

    &:first-of-type {
      margin-left: 20px;
    }

    > a {

      @include md {
        padding: 0 10px;
      }
    }

    &:not(.active) {

      > a {

        .light-theme & {
          color: $lt-text-color;

          &:hover,
          &:focus {
            color: $black;
          }
        }
      }
    }
  }
}
