// Panels
// ======

$bg-permission-panel: #1e6a86;

.panel {
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.panel-body {
  padding: 0;
}

.permission-panel {

  .panel-heading {
    padding: 0;
    border: 0;
    border-radius: 0;

    .dark-theme & {
      background: $bg-permission-panel;
    }

    .light-theme & {
      background: $silver-40;
    }

    h4 {
      font-size: 20px;
      font-weight: bold;
      color: $white;
    }

    a {
      position: relative;
      display: block;
      padding: $btn-height / 2;
      text-decoration: none;

      @include md {
        padding: $md-btn-height / 2;
      }

      &::after {
        position: absolute;
        top: 50%;
        right: $btn-height / 2;
        display: block;
        border-right: 7px solid transparent;
        border-bottom: 11px solid;
        border-left: 7px solid transparent;
        content: '';
        transform: translateY(-50%);

        .dark-theme & {
          border-bottom-color: $white;
        }

        .light-theme & {
          border-bottom-color: $lt-text-color;
        }
      }

      &:hover::after {

        .dark-theme & {
          border-bottom-color: $white;
        }

        .light-theme & {
          border-bottom-color: rgba($black, 0.4);
        }
      }

      &.collapsed {

        &::after {
          border-top: 11px solid;
          border-right: 7px solid transparent;
          border-bottom: 0;
          border-left: 7px solid transparent;

          .dark-theme & {
            border-top-color: $dt-text-color;
          }

          .light-theme & {
            border-top-color: $lt-text-color;
          }
        }

        &:hover::after {

          .dark-theme & {
            border-top-color: $white;
          }

          .light-theme & {
            border-top-color: rgba($black, 0.4);
          }
        }
      }
    }
  }

  .panel-heading + .panel-collapse > .panel-body {
    border: 0;
  }
}

//Role Edit form (account management)
.role-edit-form {
  .panel-heading {
    padding: 0;
    text-transform: uppercase;
    background-color: transparent;


    a {
      color: $white;
      cursor: pointer;
      display: block;
      padding: 10px 15px;

      &:hover {
        background-color: rgba(0, 169, 212, 0.3);
      }

      &.collapsed {
        background-color: rgba(0, 0, 0, 0.1);

        &:hover {
          background-color: rgba(0, 169, 212, 0.3);
        }
      }

    }
  }

  .resource-header {
    th {
      background-color: rgba(0, 169, 212, 0.3);
    }
  }
}
