// Scaffolding
// ===========

html,
body {
  min-height: 100%;
}

body {
  font-size: $font-size;

  &.dark-theme {
    color: $dt-text-color;
    background-attachment: fixed;
    background-color: $black;
    background-image: radial-gradient(circle, rgba($purple, 0), rgba($purple, 0.2)),
      linear-gradient(rgba($pale-blue, 0.5), rgba($pale-blue, 0.25));
    background-size: 100%;
  }
}

.invisible {
  opacity: 0;
}

.main-content {
  padding-top: $header-height;

  .show-configuration-sidebar & {
    position: fixed;
    right: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    filter: blur(15px);
    // Enable hardware acceleration
    transform: translate3d(0, 0, 0);
  }
}
