// Scaffolding
// ===========

html,
body {
  min-width: 1024px;
  min-height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, Arial;
  font-size: $font-size;

  @include md {
    font-size: $md-font-size;
  }

  @include sm {
    font-size: $sm-font-size;
  }
}

.invisible {
  opacity: 0;
}

.main-content {
  padding-top: $header-total-height;

  @include md {
    padding-top: $md-header-total-height;
  }

  .modal-open & {
    filter: blur(15px);
    // Enable hardware acceleration
    transform: translate3d(0, 0, 0);
  }
}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}
