// Scaffolding
// ===========

html,
body {
  min-width: 1024px;
  min-height: 100%;
  font-size: $base-font-size;

  @include print {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

body {
  font-family: 'Roboto', Helvetica, Arial;
  font-size: rem(14px);
  font-weight: 400;
  line-height: (24/14);
  transition: color 250ms, background 250ms;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include print {
    font-size: $print-font-size;
  }

  &.dark-theme {
    color: $dt-text-color;
    background-attachment: fixed;
    background-color: $black;
    background-image: radial-gradient(circle, rgba($purple, 0), rgba($purple, 0.2)), linear-gradient(rgba($pale-blue, 0.5), rgba($pale-blue, 0.25));
    background-size: 100%;
  }

  &.light-theme {
    color: $lt-text-color;
    background-color: $silver-20;
  }
}

a {
  .dark-theme &,
  .light-theme & {
    color: $pale-blue;
  }

  .dark-theme &.btn:not(.btn-link),
  .light-theme &.btn:not(.btn-link) {
    color: $white;
  }
}

.btn-link svg {
  .dark-theme &,
  .light-theme & {
    fill: $pale-blue;
  }
}

hr {
  margin: 30px 0;
  border-top-color: rgba($pale-blue, 0.2);

  .form-group + &,
  .form-groups + &,
  .form-panel + & {
    margin-top: 5px;
  }
}

.invisible {
  opacity: 0;
}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}

.extra-margin-top {
  margin-top: $btn-height / 2;

  @include md {
    margin-top: $md-btn-height / 2;
  }
}
