// Tables
// ======

// scss-lint:disable SelectorDepth NestingDepth
// Need to override BootStrap
.table {
  margin: 0;

  .dark-theme & {
    background-color: rgba($black, 0.1);

    &.table-striped > tbody > tr:nth-of-type(odd) {
      background-color: rgba($black, 0.1);
    }
  }

  .light-theme & {
    background-color: $white;

    &.table-striped > tbody > tr:nth-of-type(odd) {
      background-color: rgba($black, 0.1);
    }

    &.table-striped > tbody > tr:nth-of-type(even) {
      background-color: rgba($black, 0.04);
    }
  }

  > thead,
  > tbody,
  > tfoot {

    > tr {

      > th,
      > td {
        position: relative;
        padding: 5px ($btn-height / 2);
        vertical-align: middle;
        border: 0;

        @include md {
          padding: 5px ($md-btn-height / 2);
        }

        @include print {
          // scss-lint:disable ImportantRule
          // Need to override table styles
          height: auto !important;
          padding: 5px 10px 5px 0;
          border: 0 !important;
          border-bottom: 1px solid $silver-40 !important;
        }
      }

      > td {
        height: $bar-height;

        @include md {
          height: $md-bar-height;
        }

        &:not(:last-child):not(.no-border) {

          .dark-theme & {
            border-right: 1px solid rgba($black, 0.2);
          }

          .light-theme & {
            border-right: 1px solid $silver-20;
          }
        }
      }

      > th {
        height: $btn-height;
        text-transform: uppercase;

        @include md {
          height: $md-btn-height;
        }
      }
    }
  }

  > thead > tr > th {
    font-weight: normal;
    border: 0;

    .dark-theme & {
      background-color: rgba($pale-blue, 0.2);
    }

    .light-theme & {
      color: $white;
      background-color: $pale-blue;
    }
  }

  &.auto-width {
    width: auto;
  }

  &.unstyled {
    background-color: transparent;

    > thead,
    > tbody,
    > tfoot {

      > tr {

        > td:not(:last-child) {
          border: 0;
        }
      }
    }
  }

  &.table-simple {
    background-color: transparent;

    > thead > tr > th {
      background-color: transparent;
      border-bottom: 1px solid rgba($pale-blue, 0.2);

      .light-theme & {
        color: $text-color;
      }
    }

    > tbody > tr > td:not(:last-child):not(.no-border) {

      .dark-theme &,
      .light-theme & {
        border: 0;
      }
    }
  }

  &.no-padding {

    > thead,
    > tbody,
    > tfoot {

      > tr {

        > th,
        > td {
          height: auto;
          padding: 0 10px 0 0;
          line-height: inherit;
        }
      }
    }
  }

  .nowrap-column {
    white-space: nowrap;
  }

  .one-button-cell {
    width: $btn-height * 2;
  }

  &.fixed-layout {
    table-layout: fixed;
  }
}

.table-percentage-line {
  position: absolute;
  right: $btn-height / 3;
  bottom: 20%;
  left: $btn-height / 3;
  height: 5px;

  @include md {
    right: $md-btn-height / 3;
    left: $md-btn-height / 3;
  }

  .dark-theme &,
  .light-theme & {
    background: rgba($black, 0.2);
  }

  .line {
    display: block;
    height: 100%;

    .dark-theme &,
    .light-theme & {
      background: $pale-blue;
    }
  }
}
