// Tables
// ======

// scss-lint:disable SelectorDepth NestingDepth
// Need to override BootStrap
.table {

  .dark-theme & {
    background-color: rgba($black, 0.1);

    &.table-striped > tbody > tr:nth-of-type(odd) {
      background-color: rgba($black, 0.1);
    }
  }

  .light-theme & {
    background-color: rgba($white, 0.5);

    &.table-striped > tbody > tr:nth-of-type(odd) {
      background-color: $white;
    }
  }

  > thead,
  > tbody,
  > tfoot {

    > tr {

      > th,
      > td {
        padding: 5px ($btn-height / 2);
        vertical-align: middle;
        border: 0;

        @include md {
          padding: 5px ($md-btn-height / 2);
        }
      }

      > td {
        height: $bar-height;

        @include md {
          height: $md-bar-height;
        }

        &.right-btns {
          padding-right: 10px;
          text-align: right;
          white-space: nowrap;
        }

        &.has-confirmation {
          position: relative;
        }

        &:not(:last-child) {

          .dark-theme &,
          .light-theme & {
            border-right: 1px solid rgba($black, 0.2);
          }
        }
      }

      > th {
        height: $btn-height;
        text-transform: uppercase;

        @include md {
          height: $md-btn-height;
        }
      }
    }
  }

  > thead > tr > th {
    font-weight: normal;
    border: 0;

    .dark-theme & {
      background-color: rgba($pale-blue, 0.2);
    }

    .light-theme & {
      background-color: $silver-80;
    }
  }

  &.auto-width {
    width: auto;
  }

  &.unstyled {
    background-color: transparent;
  }

  &.no-padding {

    > thead,
    > tbody,
    > tfoot {

      > tr {

        > th,
        > td {
          height: auto;
          padding: 0 10px 0 0;
          line-height: inherit;
        }
      }
    }
  }
}
