// Tooltip
// =======

.tooltip {
  z-index: 1040;
  max-width: 320px;
  font-size: $tooltip-font-size;
  white-space: pre-line;

  &.in {
    opacity: 1;
  }

  &.display-long-name-tooltip {
    z-index: 1120;
    word-wrap: break-word;

    .tooltip-arrow {
      display: none;
    }
  }

  .tooltip-inner {
    max-width: 100%;
    padding: 18px 14px;
    font-family: 'Roboto', Helvetica, Arial;
    text-align: left;
    border-radius: 0;

    .dark-theme & {
      color: $dt-text-color;
      background-color: rgba($black, 0.8);
    }

    .light-theme & {
      color: $lt-text-color;
      background-color: $white;
      box-shadow: 0 5px 10px rgba($black, 0.2);
    }
  }

  .tooltip-header {
    padding: 0 14px 20px;
    margin: 0 -14px 20px;

    h3 {
      margin-bottom: 10px;
      font-weight: bold;
      word-wrap: break-word;
    }

    b > span:first-child {
      margin-right: 5px;
    }

    .dark-theme & {
      border-bottom: 1px solid rgba($pale-blue, 0.2);
    }

    .light-theme & {
      border-bottom: 1px solid rgba($black, 0.1);
    }
  }

  &.top {
    padding: 0 0 10px;

    .tooltip-arrow {
      margin-left: -10px;
      border-width: 10px 10px 0;

      .dark-theme & {
        border-top-color: rgba($black, 0.8);
      }

      .light-theme & {
        border-top-color: $white;
      }

    }

    &.input-tooltip {
      transform: translateY(-100%);
    }
  }

  &.bottom {
    padding: 10px 0 0;

    .tooltip-arrow {
      margin-left: -10px;
      border-width: 0 10px 10px;

      .dark-theme & {
        border-bottom-color: rgba($black, 0.8);
      }

      .light-theme & {
        border-bottom-color: $white;
      }
    }

    .form-group + & {
      transform: translateY(-$form-group-padding);
    }
  }
}

.content-item-chart-tooltip {
  &.top {
    min-width: 250px;
    padding: 0;
  }

  .data-suffix {
    font-size: 15px;

    @include md {
      font-size: 13px;
    }
  }

  .tooltip-arrow {
    display: none;
  }
}

.interactive-password-tooltip {
  .valid {
    color: $green;

    &::after {
      padding-left: 18px;
      background: url('../assets/icons/icon-valid.svg') right center no-repeat;
      background-size: 14px;
      content: '';
    }
  }
}

.stacked-tooltip {
  top: 100%;
}
