// Type
// ====

/**
* Line-height is calculated by dividing the pixel leading and pixel font-size.
* In order to give the element the correct height divisible by the baseline (6px),
* the line-height had to be specific enough to give it a whole number computed value.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  @include print {
    page-break-after: avoid;
  }
}

/**
* This element breaks the base-line grid rule with its line-height.
* The issue is the component using an h1 needs to be overflow:hidden to implement truncation, which causes the descender characters to be clipped.
* I talked to a designer about this and updating the line-height to 1.1 and breaking the baseline grid for this element is okay.
*/
h1 {
  font-size: rem(36px);
  font-weight: 700;
  line-height: (42/36);

  @include print {
    font-size: $print-font-size * 3;
  }

  .heading-suffix {
    font-size: 20px;
  }

  .right-separator {
    display: inline-block;
    margin-right: 25px;

    &::after {
      margin-left: 25px;
      content: '';

      .dark-theme & {
        border-right: 4px solid $dt-text-color;
      }

      .light-theme & {
        border-right: 4px solid $lt-text-color;
      }
    }
  }
}

h2 {
  font-size: rem(30px);
  font-weight: 700;
  line-height: (34/30);

  @include print {
    font-size: $print-font-size * 2;
  }

  .heading-suffix {
    font-size: 28px;

    @include md {
      font-size: 20px;
    }

    @include print {
      font-size: $print-font-size * 1.5;
    }

    + .heading-suffix {
      margin-left: 5px;
    }
  }
}

h3 {
  font-size: rem(21px);
  font-weight: 700;
  line-height: 1.1428571;

  @include print {
    font-size: $print-font-size * 1.5;
  }

  &.has-btn {
    line-height: $btn-height;
  }

  &.extra-margin-top {
    margin-top: 40px;
  }

  .heading-suffix {
    font-size: $font-size-base;
    font-weight: normal;
  }

  .analysis-traffic &:not(:first-child) {
    margin-top: $btn-height;
  }
}

h4 {
  font-size: rem(18px);
  font-weight: 700;
  line-height: 1.3333333;
}

h5 {
  font-size: rem(14px);
  font-weight: 500;
  line-height: 1.2857142;
  text-transform: uppercase;
}


p {
  &.right-separator {
    &::after {
      margin-right: 6px;
      margin-left: 6px;
      content: '';

      .dark-theme & {
        border-right: 1px solid $dt-text-color;
      }

      .light-theme & {
        border-right: 1px solid $lt-text-color;
      }
    }
  }
}

.text-sm {
  font-size: rem(12px);
  font-weight: 500;
  line-height: 1.5;

  @include print {
    font-size: $print-font-size * 0.75;
  }
}
