// Type
// ====

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  font-size: 60px;
  font-weight: 500;

  @include md {
    font-size: 40px;
  }

  @include sm {
    font-size: 36px;
  }

  .light-theme .page-header-layout & {
    color: $pale-blue;
  }

  .heading-suffix {
    font-size: 30px;

    @include md {
      font-size: 20px;
    }
  }

  .right-separator {
    display: inline-block;
    margin-right: 25px;

    &::after {
      margin-left: 25px;
      content: '';

      .dark-theme & {
        border-right: 4px solid $dt-text-color;
      }

      .light-theme & {
        border-right: 4px solid $lt-text-color;
      }
    }
  }
}

h2 {
  font-size: 40px;

  @include md {
    font-size: 24px;
  }
}

h3 {
  font-size: 30px;

  @include md {
    font-size: 20px;
  }

  &.has-btn {
    line-height: $btn-height;

    @include md {
      line-height: $md-btn-height;
    }
  }

  &.extra-margin-top {
    margin-top: 60px;

    @include md {
      margin-top: 40px;
    }
  }

  .heading-suffix {
    font-size: $font-size-base;
    font-weight: normal;
  }

  .analysis-traffic &:not(:first-child) {
    margin-top: $btn-height;

    @include md {
      margin-top: $md-btn-height;
    }
  }
}

p {

  .right-separator {
    display: inline-block;
    margin-right: 12px;

    &::after {
      margin-left: 12px;
      content: '';

      .dark-theme & {
        border-right: 1px solid $dt-text-color;
      }
    }
  }
}

.text-sm {
  font-size: $font-size-sm;

  @include md {
    font-size: $md-font-size-sm;
  }

  @include sm {
    font-size: $sm-font-size-sm;
  }
}
