// Variables
// =========


// Breakpoints
// ===========

$screen-md-min: 1200px;
$screen-lg-min: 2100px;
$screen-xl-min: 2500px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) , only print {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-lg-min - 1}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-xl-min - 1}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin print {
  @media only print {
    @content;
  }
}


// Base
// ====

$base-font-size: 10px;
$font-size: 20px;
$md-font-size: 16px;
$sm-font-size: 15px;

$font-size-sm: 16px;
$md-font-size-sm: 13px;
$sm-font-size-sm: 12px;

$bar-height: 36px;
$md-bar-height: 60px;
$sm-bar-height: 50px;

$btn-height: 36px;
$md-btn-height: 36px;

$btn-min-width: 120px;
$md-btn-min-width: 120px;
$sm-btn-min-width: 100px;

$btn-sm-height: 40px;
$md-btn-sm-height: 40px;

$dropdown-padding: 24px;

$form-group-padding: 12px;
$md-form-group-padding: 15px;
$form-label-margin: 15px;

$tooltip-font-size: 14px;


// Layout
// ======

$sidebar-width: 480px;
$md-sidebar-width: 360px;
$sm-sidebar-width: 300px;

$page-header-height: 110px;
$md-page-header-height: 90px;


// Containers
// ==========

$content-item-list-height: 200px;
$md-content-item-list-height: 140px;


// Components
// ==========

$header-height: 48px;
$md-header-height: 48px;

$header-gradient-height: 10px;

$header-total-height: $header-height + $header-gradient-height;
$md-header-total-height: $md-header-height + $header-gradient-height;

$navigation-sidebar-width: 84px;

$configuration-sidebar-width: 1060px;
$md-configuration-sidebar-width: 800px;
$sm-configuration-sidebar-width: 640px;

$sidebar-right-col-width: 700px;
$md-sidebar-right-col-width: 540px;
$sm-sidebar-right-col-width: 380px;

$modal-header-height: 250px;
$md-modal-header-height: 200px;
$sm-modal-header-height: 150px;

$configuration-dialog-height: 90px;

$action-modal-width: 800px;
$md-action-modal-width: 640px;

$footer-height: 60px;

// Print
// =====
$print-font-size: 12px;

// Z-index defaults
// =====
$zindex-default-min: -999;
$zindex-default-minus-one: -1;
$zindex-default-zero: 0;
$zindex-default-low: 1;
$zindex-default-medium: 1000;
$zindex-default-hight: 9999;
$zindex-default-max: 999999999;

// Z-index
// =====
$zindex-page-header: 2;
$zindex-analysis-nav: 5;
$zindex-country-list: 10;
$zindex-policy-weight: 10;
$zindex-side-panel-veil: 10;
$zindex-side-panel-footer: 11;
$zindex-country-list-flag: 13;
$zindex-notification-panel: 990;
$zindex-filter-dropdown: 1000;
$zindex-side-panel: 1000;
$zindex-file-status: 1000;
$zindex-nav-sidebar: 1030;
$zindex-datepicker: 1030;
$zindex-tooltip: 1040;
$zindex-button-toolbar: 1060;
$zindex-group-form: 1061;
$zindex-tooltip-help: 1070;
$zindex-configuration-dialog: 1110;
$zindex-tooltip-long-name: 1120;
$zindex-dropdown-menu: 9999;
$zindex-sortable-helper: 10000;
$zindex-starburst-help: 10000;
